
.login_content{
  text-align: center;
  margin:100px auto;
}
.login_content .login_inner{
  text-align: center;
  width: 500px;
  margin:0 auto;
}
.login_content .login_inner p.logo_wrap{
    border: 1px solid #fff;
    background: #fff;
    border-radius: 272px;
    padding: 11% 0px;
    margin-bottom: 15px;
}
.login_content .login_inner img{
    margin-bottom: 10px;
    width: 95%;
    padding-left: 8px;
    padding-top: 9px;
}
.login_content .login_inner .login_input .inputArea {
  margin-bottom: 0;
}
.login_content .login_inner .login_input .inputArea img{
  vertical-align: -23px;
    padding-right: 7px;
}
.login_content .login_inner .login_input .user_id,.login_content .login_inner .login_input .user_pass{
    width: 54%;
}
.login_content .login_inner .login_input .login_box{
    width: 65%;
    text-align: center;
    margin: 10px auto 0 auto;
}
.login_content .login_inner .login_input .login_bt{
    width: 90%;
    margin-bottom: 35px;
}

.login_content .login_inner .login_input .password_bt,.login_content .login_inner .login_input .join_bt{
  width: 45%;
  background: #fff;
  border: 2px solid #999;
  color: #999;
}
.login_content .login_inner .login_input .join_bt{
  width:43%;
}
.login_content .login_inner .login_input .password_bt:hover ,.login_content .login_inner .login_input .join_bt:hover {
  background-color: #999;
  color: #fff;
}
.login_content .login_inner .login_input p{
  margin-top:30px;
}
@media all and (min-width:320px) and (max-width:768px){
  #container{
    margin:5% 0;
  }
  .login_content{
    margin:0;
    padding-top: 20px;
  }
  .login_content .login_inner{
    width:80%;
  }
  #container .login_content .login_inner p.logo_wrap{
      border-radius: 100%;
    }
  .login_content .login_inner .logo{
    width:70%;
    text-align: center;
    margin-bottom: 10%;
    padding-top: 10%;
  }
  .login_content .login_inner .login_input .inputArea {
    margin-bottom: 12px;
  }
  .login_content .login_inner .icon{
    width: 7%;
    margin-top: 11px;
  }
  .login_content .login_inner .login_input .user_id, .login_content .login_inner .login_input .user_pass{
      width: 92%;
      margin: 0;
  }
  .login_content .login_inner .login_input .login_box{
    width:102%;
  }
  .login_content .login_inner .login_input .login_bt{
    width:100%;
    margin-bottom:30px;
    margin-top: 10px;
  }
  .login_content .login_inner .login_input .password_bt, .login_content .login_inner .login_input .join_bt{
    width:48%;
    margin-bottom: 10px;
  }
  .login_content .login_inner .login_input p{
    margin-top:30px;
  }
  .login_content .login_inner .copyright{
    margin:0;
  }
}
