.changeInfo_content .my_coin_box{
    overflow: hidden;
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
    margin-right: 10px;
    padding: 10px 0 10px 10px;
}
.changeInfo_content .my_coin_box .my_coin{
  float:left;
  display: block;
  width: 100%;
}
.changeInfo_content .my_coin_box .my_coin_number{
  float:right;
  margin-right:10px;
  font-weight: 600;
}
.changeInfo_content form{
    width: 500px;
    margin: 0 auto;
}
.changeInfo_content form input{
    width: 98%;
    margin: 10px 0;
}
.changeInfo_content .output_text .codeArea {
  padding: 10px 0;
  width: 98%;
}
.changeInfo_content .output_text .codeArea img {
  width: 170px;
}
.changeInfo_content .output_text p{
  text-align: center;
  margin-top:20px;
  color: #fff;
}
.changeInfo_content .output_text .adr {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 7px 0;
    border-radius: 20px;
}
.changeInfo_content select{
    border:none;
    padding: 10px;
}
.changeInfo_content select.country_select{
    border-bottom: 1px solid #FFE106;
    margin: 10px 0;
    width: 94%;
    color: #757575;
    font-size: 15px;
}
.changeInfo_content form div.phone_wrap{
    position: relative;
}
.changeInfo_content form input.code_send{
    position: absolute;
    top: 0;
    width: 20%;
    padding: 6px 0;
    right: 6%;
}
.changeInfo_content form input.changeInfo_btn{
    width: 98%;
}

/* mobile ver */
@media all and (min-width:320px) and (max-width:768px){
  #wrap .changeInfo_content .my_coin_box {
    font-size: 18px;
    margin-right: 6px;
  }
  .changeInfo_content .output_text .codeArea img {
    width: 130px;
  }
  .changeInfo_content .output_text .codeArea p {
    font-size: 14px;
  }
}
