/*필립스css*/

#wrap{
    width:100%;
}

/* container */
#container{
    width:100%;
    margin-top: 115px;
}
#container:after{
    content: '';
    display: block;
    clear: both;
}


/* input */
input{
  margin-bottom:4px;
}
input[type='text'],input[type='password'],input[type='email'],input[type='number'],input[type='tell']{
  border: none;
  width: 70%;
  padding: 10px;
  font-size: 15px;
  color:#333;
  margin:5px 0;
  background-color:#fff;
  border-radius: 50px;
}
input[type='tell']{
  width: 42%;
}
input[type='button'],input[type='submit']{
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  background-color: #999;
  cursor: pointer;
  color: #fff;
}
input[type='button']:hover,input[type='submit']:hover{
  background-color: #464350;
}
::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #BB0000;
}
:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #BB0000;
   opacity:  1;
}
::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #BB0000;
   opacity:  1;
}
:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #BB0000;
}
::placeholder { /* 파이어폭스 51+, 크롬 57+ */
   color: #BB0000;
   opacity:  1;
}
select{
  border: none;
  border-radius: 50px;
  width: 63%;
  padding-bottom: 4px;
  font-size: 15px;
  color:#bb0000;
  padding: 10px;
  margin-bottom:4px;
  padding-left:5px;
}
.copyright{
  font-size:12px;
  text-align: center;
  color: #fff;
}

/*select 화살표 이미지*/
select::-ms-expand {
    display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("../img/down.png") no-repeat 95% center;
  background-size: 7px;
  padding-left: 2px;
  padding-right: 15px;
  width:73%;
  text-indent: 10px;
}

/* h3 title */
h3.title {
    text-align: left;
    font-size: 25px;
    color: #bb0000;
    width: 500px;
    margin: 0 auto;
}
#container .title_wrap{
    width: 100%;
    position: relative;
    top: -25px;
    height: 65px;
    line-height: 65px;
    background: #fff;
}
/* h3 밑에 라인 */
.line {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 20px 0;
}

/* 표 디자인 */
.sendReceiveHistory_content table tr{
  border:1px solid #fff;
  height: 30px;
  line-height: 30px;
}
.sendReceiveHistory_content table th{
    background: #fff;
    color: #bb0000;
    padding: 10px;
    width: 30%;
    border: none;
    min-width: 57px;
}
.sendReceiveHistory_content table td{
  border-left:1px solid #fff;
  color: #fff;
}

/*index*/
#container .go_thealls{
    font-size: 12px;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    color:#fff;
}
#container .go_thealls:hover{
    color: #999;
}

/*반응형*/
@media (max-width:768px) {
    #container .content form,
    #container .content .text,
    #container .content .main_menu,
    #container .content .sendHistory,
    #container .content .receiveHistory{
        width: 80%;
    }
    #container .content .main_menu ul li{
        padding-top: 35%;
        height: 140px;
    }
    h3.title {
        font-size: 20px;
        width: 80%;
    }
    .sendReceiveHistory_content table {
      font-size: 14px;
    }
    input[type='button'],input[type='submit'] {
      font-size: 15px;
    }
}
