.question_content .text{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 14px;
    text-align: center;
    color: #464350;
}
.question_content form{
    width: 500px;
    margin: 0 auto;
}
.question_content form p {
  color: #ed1b23;
  margin-top: 30px;
  font-weight: 600;
}
.question_content form input{
    width: 96%;
    margin: 10px 0;    
}
.question_content textarea{
    resize: none;
    width: 95.6%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,.3);
    padding: 10px;
    font-size: 15px;
    color: rgba(0,0,0,.5);
    margin: 5px 0;
    background-color: #fff;
    border-radius: 15px;
}
.question_content form input.question_btn{
    width: 100%;
    margin-top: 25px;
}
