html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
}
/* 화면로딩시 깜박임 현상 제거 */
html.no-js {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  color: #fff;
  background-color: #BB0000;
}

table {
  width: 100%;
  text-align: center;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0
}

li {
  list-style: none;
}

a {
  outline: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #2c1f1b;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="submit"], input[type="reset"], input[type="file"], textarea, input[type="button"], button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
}
select::-ms-expand {
    display: none;
}

input, textarea, select {
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
