.join_content select{
  padding: 10px;
  margin: 10px 0;
}
.join_box{
  text-align:center;
}
.join_box .join_inner{
  width:600px;
  text-align: center;
  margin:0 auto;
}
.join_box .join_inner .phone_wrap{
  position: relative;
}
.join_box .join_inner .request_number_bt{
  position: absolute;
  top: 9px;
  width: 17%;
  right: 14%;
  min-width: 85px;
  height: 35px;
  line-height: 35px;
  background: #F3E7B5;
}
.join_box .join_inner .user_id{
  width:70%;
}
.join_box .join_inner .join_text{
  text-align:center;
  width:600px;
}
.join_box .join_inner .join_span span{
  font-size:12px;
  color:#fffsss;
  width:380px;
  display:inline-block;
  text-align:center;
  margin:20px;
}
.join_text input{
  width:70%;
  margin:10px 0;
}
.join_text p{
  font-size:12px;
}
.join_text .copyright{
  font-size:12px;
}
#full{
  display:none;
}
@media all and (min-width:320px) and (max-width:768px){
  #container .content .title, #container .content form, #container .content .text, #container .content .main_menu, #container .content .sendHistory{
    width:100%;
    text-align: center;
    margin-bottom:10px;
  }
  .join_box{
    width:100%;
  }
  .join_box .join_inner{
    width:100%;
    text-align: center;
    margin:0 auto;
  }
  .join_box .join_inner .request_number_bt{
    top: 10px;
    width: 15%;
    right: 13%;
    min-width: 85px;
  }
  .join_box .join_inner .join_text{
    text-align:center;
    width:100%;
  }
  .join_box .join_inner .user_id{
    width:70%;
  }
  .join_box .join_inner .user_phone{
    width:70%;
  }
  .join_box .join_inner .join_span span{
    width:70%;
    margin:5% 0;
  }
  .join_text input{
    width:67%;
  }
  .join_text p{
    font-size:12px;
  }
  .join_text .copyright{
    font-size:12px;
  }
#full{
    width:100%;
  }

}
