/*웹 페이지*/
@media all and (min-width:320px) and (max-width:768px){
  #wrap{
    display:none;
  }
  #app_wrap{
    display:block;
  }
  #app_container{
      position: relative;
  }
  #full{
    display:none;
  }

.app_main_content{
  text-align: center;
}
/*app_main_step1*/
.app_main_content .app_main_step1{
  text-align: center;
  height:600px;
  background:#1b2f4a;
}
.app_main_content .app_main_step1 span{
  color:#fff;
}
.app_main_content .app_main_step1 .logo_area{
  padding-top:60px;
  padding-bottom:40px;
}
.app_main_content .app_main_step1 .phone_area{
  overflow: hidden;
  position:relative;
}
/*.app_main_content .app_main_step1 .phone_area ul{
  border:1px solid red;
  position:absolute;
  width:185px;
  height:250px;
  top:20%;
  left:90px;
}*/
.app_main_content .app_main_step1 .phone_area .phone_main img{

}
.app_main_content .app_main_step1 .phone_area .coin_img img{
  position: absolute;
  top:65%;
  left:73%;
  z-index: 10;
}
.app_main_content .app_main_step1 .phone_area input{
  background-image: linear-gradient(to right, #06908c 0%, #0d566c 100%);
  border: none;
  position:absolute;
  color: #fff;
  padding: 12px 0;
  font-size: 13px;
  width: 80%;
  border-radius: 50px;
  font-weight: 600;
  margin-left: 5px;
  box-shadow: 1px 2px 2px #000;
  top:85%;
  left:10%;
}
/*app_main_step2*/
.app_main_step2 .app_slideWrap{
  width:100%;
}
.app_main_step2 .app_slideWrap ul{
  width:100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  height:500px;
}
.app_main_step2 .app_slideWrap li{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.app_main_step2 .app_slideWrap .app_banner1{
  width:100%;
  height:500px;
  background:url(../img/m_banner03.png) no-repeat 40% 0; background-size:cover;
}
.app_main_step2 .app_slideWrap .app_banner2{
  width:100%;
  height:500px;
  background:url(../img/m_banner04.png) no-repeat 40% 0; background-size:cover;
}
.app_main_step2 .app_slideWrap .app_nextBtn{
  right: 1%;
  bottom: 47%;
  width: 30px;
  height: 30px;
  background: url(../img/arrow_white_next.png) no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  position: absolute;
  z-index: 3;
  font-size: 30px;
  font-weight: bold;
  opacity:0.6;
}
.app_main_step2 .app_slideWrap .app_prevBtn{
  left: 1%;
  bottom: 47%;
  width: 30px;
  height: 30px;
  background: url(../img/arrow_white_prev.png) no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  position: absolute;
  z-index: 3;
  font-size: 30px;
  font-weight: bold;
  opacity:0.6;
}


/*app_main_step3*/
.app_main_step3 img{
  width:100%;
}
.app_main_step3 .security_area p{
  background:#1b2f4a;
}


}
