/*bid_price*/

.bid_price{
  width:450px;
  position:absolute;
  left:50px;
}

table{
  width:450px;
  border-style:hidden;
  border:1px solid #f4f5f9;
  border-collapse: collapse;
  font-size:14px;
}

td{
  width:80px;
  padding:5px;
}

th{
  background-color:#f4f5f9;
  padding:5px;
}

caption{
  border-bottom:3px solid #1b2f4a;
  text-align:left;
  height:30px;
  padding-top:7px;
  padding-left:20px;
  font-size:15px;
  font-weight:600;
}

.mado_amount{
  width:150px;
}

.masu_amount{
  width:300px;
}

.mado_right{
  text-align:right;
  padding-right:10px;

}

.masu_left{
  padding-left:10px;
}

.all_amount{
  text-align:center;
}

.center{
  text-align:center;
}

.high{
  text-align:center;
  padding-top:20px;
  line-height:0.5em;
}

.low{
  text-align:center;
  padding-top:20px;
  line-height:0.5em;
}

.orderbg1,.orderbg2{
  text-align:center;
}

.orderbg1{
  background-color:#cbd5f0;
}

.orderbg2{
  background-color:#ffd3d4;
}

.upprice{
  color:#f00;
}

.downprice{
  color:#00f;
}


.tbody{
  position:relative;
}
.mado1 div{
  width:50px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:76px;
  left:85px;
  opacity:0.5;
}

.mado2 div{
  width:50px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:107px;
  left:85px;
  opacity:0.5;
}

.mado3 div{
  width:100px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:140px;
  left:30px;
  opacity:0.5;
}

.mado4 div{
  width:20px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:176px;
  left:110px;
  opacity:0.5;
}

.mado5 div{
  width:20px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:208px;
  left:110px;
  opacity:0.5;
}

.mado6 div{
  width:20px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:240px;
  left:110px;
  opacity:0.5;
}

.mado7 div{
  width:100px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:272px;
  left:30px;
  opacity:0.5;
}

.mado8 div{
  width:80px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:300px;
  left:50px;
  opacity:0.5;
}

.mado9 div{
  width:50px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:330px;
  left:85px;
  opacity:0.5;
}

.mado10 div{
  width:50px;
  height:15px;
  background-color:#cbd5f0;
  position:absolute;
  top:360px;
  left:85px;
  opacity:0.5;
}

.masu1 div{
  width:50px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:390px;
  right:105px;
  opacity:0.5;
}

.masu2 div{
  width:50px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:418px;
  right:105px;
  opacity:0.5;
}

.masu3 div{
  width:100px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:448px;
  right:55px;
  opacity:0.5;
}

.masu4 div{
  width:20px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:475px;
  right:135px;
  opacity:0.5;
}

.masu5 div{
  width:20px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:502px;
  right:135px;
  opacity:0.5;
}

.masu6 div{
  width:20px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:531px;
  right:135px;
  opacity:0.5;
}

.masu7 div{
  width:100px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:559px;
  right:55px;
  opacity:0.5;
}

.masu8 div{
  width:80px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:589px;
  right:80px;
  opacity:0.5;
}

.masu9 div{
  width:50px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:618px;
  right:105px;
  opacity:0.5;
}

.masu10 div{
  width:50px;
  height:15px;
  background-color:#ffd3d4;
  position:absolute;
  top:648px;
  right:105px;
  opacity:0.5;
}
