/*매수매도창*/
.con_435{
    width:435px;
    margin: 15% auto;
    position: relative;
}

#buy_sell_tab .buy_sell_tab_title{
    width: 100%;
    overflow: hidden;
}
#buy_sell_tab .buy_sell_tab_title li{
    float: left;
    width: 50%;
    text-align: center;
}

#buy_sell_tab .buy_tab_content,
#buy_sell_tab .sell_tab_content{
    padding:30px 20px 20px 20px;
    width: 395px;
    position: absolute;
    top:40px;
    background: #fff;
}
.buy_tab_content{
    display: none;
}
.sell_tab_content{
    display: block;
}

#buy_sell_tab .buy_tab_content .buy_tab_content_row,
#buy_sell_tab .sell_tab_content .sell_tab_content_row{
    overflow:hidden;
    height: 50px;
    line-height: 50px;
    position: relative;
}
#buy_sell_tab .buy_tab_content .buy_tab_content_row dt,
#buy_sell_tab .sell_tab_content .sell_tab_content_row dt{
    font-size:14px;
    font-weight: 600;
    float:left;
}
#buy_sell_tab .buy_tab_content .buy_tab_content_row dd,
#buy_sell_tab .sell_tab_content .sell_tab_content_row dd{
    float:right;
}

#buy_sell_tab .buy_tab_content .buy_tab_content_row dd strong,
#buy_sell_tab .sell_tab_content .sell_tab_content_row dd strong{
    font-size:20px;
}
#buy_sell_tab .buy_tab_content .buy_tab_content_row dd span,
#buy_sell_tab .sell_tab_content .sell_tab_content_row dd span{
    font-size:15px;
    font-weight: 600;
    color:#333;
    margin-right:3px;
}
#buy_sell_tab .buy_tab_content .buy_tab_content_row dd a,
#buy_sell_tab .sell_tab_content .sell_tab_content_row dd a{
    border:1px solid #e3e4e8;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size:30px;
    position: absolute;
    top:0;
    right:0;
    text-align: center;
    line-height: 21px;
    background: #f9fafc;
    color:#84858a;
}
#buy_sell_tab .buy_tab_content .buy_tab_content_row dd .minus_btn,
#buy_sell_tab .sell_tab_content .sell_tab_content_row dd .minus_btn{
    right:35px;
    top:9px;
}

#buy_sell_tab .buy_tab_content .buy_tab_content_row dd .plus_btn,
#buy_sell_tab .sell_tab_content .sell_tab_content_row dd .plus_btn{
    right:1px;
    top:9px;
}
#buy_sell_tab dd input[type='text']{
    border:1px solid #e3e4e8;
    height: 30px;
    width: 200px;
    text-align: right;
    font-size:15px;
    padding-right:5px;
    font-weight: 600;
    color:#333;
    margin-right:70px;
}

#buy_sell_tab dd input.buy_amount{
    margin-right:70px;
}

#buy_sell_tab .amount_dropbox select{
    position: absolute;
    top: 9px;
    right: 1px;
    border: 1px solid #e3e4e8;
    font-size: 15px;
    width: 66px;
    height: 32px;
    line-height: 30px;
}
#buy_sell_tab .buy_all_amount_title{
    font-weight: 600;
    font-size:16px;
    color:black;
}
#buy_sell_tab .buy_all_amount{
    width: 278px;
    background: #f4f5f9;
    border-radius: 5px;
    color:#333;
}

#buy_sell_tab .buy_all_amount p{
    text-align: right;
    padding:0 5px;

}

#buy_sell_tab .buy_all_amount p span.up_down_data{
    color:#ff2323;
    font-size:20px;
    margin-right:5px;
}
#buy_sell_tab .buy_all_amount p span.blue_color{
    color:#002dae;
}

#buy_sell_tab .buy_tab_content .buy_tab_content_row:nth-child(4){
    height: 50px;
    line-height: 50px;
}

#buy_sell_tab .sub_text{
    display: inline-block;
    margin:10px 0 20px 0;
    font-size: 11px;
    float: left;
    margin-left: 117px;
}
#buy_sell_tab .charge{
    margin-left:26px;
}

#buy_sell_tab input[type='reset']{
    border:1px solid #727272;
    background:#fff;
    padding:10px 30px;
    border-radius: 5px;
    font-size:15px;
    font-weight: 600;
    color:#727272;
    cursor:pointer;
}

#buy_sell_tab .buy_big_btn{
    padding: 10px 125px;
    background: #ff2323;
    border-radius: 5px;
    border:none;
    font-size:15px;
    color:#fff;
    font-weight: 600;
    cursor:pointer;
    margin-left:2px;
}

#buy_sell_tab .sell_big_btn{
    padding: 10px 125px;
    background: #002dae;
    border-radius: 5px;
    border:none;
    font-size:15px;
    color:#fff;
    font-weight: 600;
    cursor:pointer;
    margin-left:2px;
}
/**/

#buy_sell_tab .buy_sell_tab_title li h3 a{
    padding:8px 0;
    display: block;
    color:#333;
    background: #f4f5f9;
}
#buy_sell_tab .buy_sell_tab_title li.buy_tab .on a{
    color:#ff2323;
    display: block;
    border-top:3px solid #ff2323;
    padding:8px 0;
}

#buy_sell_tab .buy_sell_tab_title li.sell_tab .on a{
    color:#002dae;
    display: block;
    border-top:3px solid #002dae;
    padding:8px 0;
    background: #fff;
}
