/* 인증레벨 */
.certification_area .cer_center {
  padding: 40px 45px;
}
.cer_center .cer_level {
  overflow: hidden;
  margin-bottom: 30px;
}
.cer_center .cer_level li {
  float: left;
  width: 165px;
  text-align: center;
  padding: 25px 0;
  position: relative;
}
.cer_center .cer_level li + li {
  margin-left: 20px;
}
.cer_center .cer_level li .img_area{
  background-color: #F4F5F9;
  width: 130px;
  height: 130px;
  text-align: center;
  box-shadow: 0px 6px 7px #657385;
  margin: 0 auto;
  line-height: 180px;
  margin-bottom: 10px;
}
.cer_center .cer_level li > img {
  position: absolute;
  top: 0;
  left: 0;
}
.cer_center .cer_level li strong {
  color:#1B2F4A;
  display: block;
  font-size: 16px;
  margin: 7px 0;
  font-weight: 600;
}
.cer_center .cer_level li strong.gray_title{
  color:#666;
}
.cer_center .cer_level li span {
  font-size: 12px;
  color: #666;
  font-weight: 600;
}

/*center_bottom*/


/*left*/
.cer_center .center_bottom {
  overflow: hidden;
}
.cer_center .center_bottom .cText_left3 {
  float: left;
  border-right: 1px solid #1B2F4A;
  width: 51%;
  margin-right: 3%;
  height:350px;
}
.center_bottom .cText_left3 strong{
  font-size:15px;
  color:#1b2f4a;
  margin-bottom:20px;
  display:block;
}
.center_bottom .cText_left3 strong span{
  font-size:25px;
}
.cText_left3 ul li{
  font-size:15px;
  font-weight:600;
}
.cText_left3 .android_img{
  float:left;
}
.cText_left3 .android_app_text{
  float:left;
  width:300px;
  margin:20px 10px;
  color:#1b2f4a;
}
.cText_left3 .android_app{
  float:left;
  width:400px;
  overflow:hidden;
  margin:20px 0;
}
.cText_left3 .android_app::before{
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #666;
  margin-right: 7px;
  vertical-align: 2px;
}
.cText_left3 .apple_img{
  float:left;
}
.cText_left3 .apple_app_text{
  float:left;
  width:310px;
  margin:20px 10px;
  color:#1b2f4a;
}
.cText_left3 .apple_app{
  float:left;
  width:400px;
  overflow:hidden;
  margin:20px 0;
}
.cText_left3 .apple_app::before{
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #666;
  margin-right: 7px;
  vertical-align: 2px;
}

/*right*/

.cer_center .center_bottom .cText_right3 {
  float: left;
  width: 45%;
}
.cer_center .center_bottom .cText_right3 strong{
  font-size:15px;
  color:#1b2f4a;
  margin-bottom:10px;
  display:block;
}
.center_bottom .cText_right3 strong span{
  font-size:25px;
}
.cText_right3 ul li{
  font-size:15px;
  font-weight:600;
  line-height:2.5em;
  color:#1b2f4a;
}
.cText_right3 .qr_code_img{
  float:left;
  overflow:hidden;
  margin-left:50px;
  text-align:center;
}
.cText_right3 .qr_code_imgbox{
  border:1px solid #1b2f4a;
  display:block;
  padding:15px;
  margin-bottom:55px;
}
.cText_right3 .qr_code_key{
  float:left;
  text-align:center;
  margin-left:30px;
}
.cText_right3 .qr_code_key2{
  margin-top:30px;
}
.cText_right3 .OTP_code{
  float:left;
}
.cText_right3 .OTP_codebox{
  float:left;
}
.cText_right3 .OTP_number{
  color:#a1a1a1;
  border:none;
  width:400px;
  border-bottom:1px solid #1b2f4a;
  margin-top:20px;
  padding-bottom:5px;
  float:left;
}
.cText_right3 .OTP_numberbt{
  font-size:11px;
  padding:2px;
  margin-left:5px;
  border:1px solid #1b2f4a;
  background:#fff;
  position:relative;
  right:20px;
  top:-25px;
  float:right;
}
.cText_right3 .OTP_numberbt:hover{
  color:#fff;
  background-color:#1b2f4a;
  cursor:pointer;
}
.cText_right3 .OTP_number2{
  color:#a1a1a1;
  border:none;
  width:400px;
  border-bottom:1px solid #1b2f4a;
  padding-bottom:5px;
  float:left;
}
.cText_right3 #OTP_complete{
  text-align:center;
}
.cText_right3 .OTP_complete{
  display: inline-block;
  width: 100px;
  padding: 7px 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #666;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  vertical-align: middle;
  margin-top:20px;
  border:none;
  cursor:pointer;
}

/* 비활성화 */
.cer_center .cer_level li img.account_off,
.cer_center .cer_level li img.otp_on,
.cer_center .cer_level li img.lv4_off,
.cer_center .cer_level li img.lv5_on,
.cer_center .center_bottom .cText_right li .complete,
.cer_center .center_bottom .cText_right li .lv5_ing {
  display: none;
}
