
.certification_level_table_content .certification_level_table thead {
    border-bottom: 2px solid #1b2f4a;
    background-color: #f4f5f8;
    line-height: 50px;
    color: #1b2f4a;
}
.certification_level_table_content .certification_level_table tbody tr th,
.certification_level_table_content .certification_level_table tbody tr td{
    line-height: 55px;
}
.certification_level_table_content .certification_level_table tbody tr td{
    font-size: 15px;
    border-left: 1px solid #f4f5f9;
    border-top: 1px solid #f4f5f9;
}
.certification_level_table_content .certification_level_table tbody tr th{
    color: #1b2f4a;
    font-size: 15px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.certification_level_table_content .certification_level_table .long_th{
    line-height: 1.3;
}
