.con_350{
    width:350px;
    margin: 15% auto;
}

#deal_orgin_transaction{
    overflow-y:auto;
}

#deal_orgin_transaction h3{
    color:#2b2b2b;
    border-bottom:3px solid #1b2f4a;
    padding:10px 20px;
}

#deal_orgin_transaction table{
    font-size:13px;
}

#deal_orgin_transaction thead tr th.coin_kor,
#deal_orgin_transaction thead tr th.coin_eng{
    text-align: left;
    padding-left:20px;
    padding-right:0;
    background: url(../img/side_arrow.png) no-repeat 60px 14px;
}

#deal_orgin_transaction thead tr th:nth-child(3){
    background: url(../img/up_down_default.png) no-repeat 55px 14px;
    /* background: url(../img/up_down_up.png) no-repeat 55px 14px; */
    /* background: url(../img/up_down_down.png) no-repeat 55px 14px; */
}

#deal_orgin_transaction thead tr th:nth-child(4){
    /* background: url(../img/up_down_default.png) no-repeat 55px 14px; */
    background: url(../img/up_down_up.png) no-repeat 55px 14px;
    /* background: url(../img/up_down_down.png) no-repeat 55px 14px; */
}

#deal_orgin_transaction thead tr th:nth-child(5){
    /* background: url(../img/up_down_default.png) no-repeat 55px 14px; */
    /* background: url(../img/up_down_up.png) no-repeat 55px 14px; */
    background: url(../img/up_down_down.png) no-repeat 55px 14px;
}

#deal_orgin_transaction thead tr{
    height: 35px;
    color:#666;
    font-size:13px;
}
#deal_orgin_transaction thead tr th{
    text-align: center;
    padding-right:15px;
}


#deal_orgin_transaction tbody tr{
    height: 50px;
}

#deal_orgin_transaction tbody tr:hover{
    background: #c8eefb;
    cursor: pointer;
}

#deal_orgin_transaction tbody .up_down_data{
    text-align: center;
    display: block;
    padding-right:15px;
}

#deal_orgin_transaction tbody p{
    font-weight: 600;
    font-size:13px;
}

#deal_orgin_transaction tbody tr td:first-child{
    text-align: left;
    padding-left:20px;
}

#deal_orgin_transaction tbody tr td:nth-child(2){
    font-weight: 600;
    font-size:14px;
}

#deal_orgin_transaction .unit{
    color:#666;
    font-size:13px;
}

#deal_orgin_transaction .money_up{
    color:#ff2323;
}

#deal_orgin_transaction .money_down{
    color:#002dae;
}
