/* slideul */

.slideWrap a{
  font-size:14px;
  color:#000;
  text-decoration:none;
}

.slideWrap a:visited{
  color:#000;
  text-decoration:none;
}

.slideWrap{
  position: absolute;
  top: 150px;
  width: 1300px;
}

.slideUl{
  position: relative;
  z-index: 2;
  width: 1300px;
  height: 300px;
}

.slideUl li{
  display:none;
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  height:inherit;
  text-align:center;
  border-radius:5px;
}

.slideUl li.banner1{
  background:url(../img/banner01.png) no-repeat 0 0;
  background-size:cover;
}

.slideUl li.banner2{
  background:url(../img/banner02.png) no-repeat 0 0;
  background-size:cover;
}

.slideUl li.banner3{
  background:url(../img/banner03.png) no-repeat 0 0;
  background-size:cover;
}

.slideUl li.banner4{
  background:url(../img/banner04.png) no-repeat 0 0;
  background-size:cover;
}

.prevBtn,.nextBtn{
  position:absolute;
  z-index:3;
  font-size:30px;
  font-weight:bold;
  color:#880000
}

.prevBtn{
  left:1%;
  bottom:47%;
  width:30px;
  height:30px;
  background:url(../img/arrow_white_prev.png) no-repeat 0 0;
  background-size:cover;
  display:inline-block;
}

.nextBtn{
  right:1%;
  bottom:47%;
  width:30px;
  height:30px;
  background:url(../img/arrow_white_next.png) no-repeat 0 0;
  background-size:cover;
  display:inline-block;
}


/*μ½”μΈν„ν™©*/

.main_content .bitcoin_card_wrap   {
  width: 1300px;
  text-align: center;
  border-radius: 5px;
  height: 270px;
  position: relative;
  top: 460px;
  background-color: rgba(255,255,255,.5);
}

.main_content .bitcoin_card_wrap .bitcoin_card{
    width: 1200px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    top:23px;
}

.main_content ul.bitcoin_card_inner{
  width: 2000px;
  position: absolute;
  top: 0;
  left: 0;
}

.main_content ul.bitcoin_card_inner li{
    float: left;
    width: 200px;
    margin:0 20px;
    padding-top:15px;
    background:#efefef;
}


.main_content ul.bitcoin_card_inner li p{
    color:#333;
    font-weight: 600;
    margin-bottom:8px;
}
.main_content ul.bitcoin_card_inner li p img {
  margin-right: 3px;
}
.main_content ul.bitcoin_card_inner li p:nth-child(3){
    margin-bottom:0;
}

.main_content ul.bitcoin_card_inner li p.percent_up{
    color:#ff2323;
}
.main_content ul.bitcoin_card_inner li p.percent_down{
    color:#002dae;
}

.main_content ul.bitcoin_card_inner .buy_sell_button{
    height: 45px;
    line-height: 45px;
    margin-top:20px;
}

.main_content ul.bitcoin_card_inner .buy_sell_button a{
    text-align: center;
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    height: 45px;
    font-weight: 600;
}

.main_content ul.bitcoin_card_inner .buy_sell_button .buy_button{
    border-top:3px solid #ff2323;
    color:#ff2323;
    border-right:1px solid #fff;
}

.main_content ul.bitcoin_card_inner .buy_sell_button .buy_button:hover{
    border-top:3px solid #ff2323;
    color:#fff;
    background:#ff2323;
    border-right:none;
}

.main_content ul.bitcoin_card_inner .buy_sell_button .sell_button{
    border-top:3px solid #002dae;
    color:#002dae;
}

.main_content ul.bitcoin_card_inner .buy_sell_button .sell_button:hover{
    border-top:3px solid #002dae;
    color:#fff;
    background:#002dae;
}

.main_content .bitcoin_card_btn .prev{
    position: absolute;
    top:110px;
    left:20px;
}

.main_content .bitcoin_card_btn .next{
    position: absolute;
    top:110px;
    right: 20px;
}
.main_content .bitcoin_card_btn a img{
    width: 32px;
    height: 32px;
}
.coin_ADA{
    width: 31px;
    height: 31px;
}


/*Notice*/

.notice_wrap{
  position:relative;
  top:470px;
}

.notice{
  position: absolute;
    width: 700px;
    height: 140px;
    background-color: #c95b74;
    padding: 5px 0 10px 20px;
    color: #fff;
    border-radius: 5px;
    float: left;
}

.notice h4{
  width:680px;
  border-bottom:1px solid white;
  padding-top:5px;
  padding-bottom:10px;
}

.notice h4 img{
  padding-top:5px;
  width:15px;
  height:15px;
  float:right;
}

.notice ul{
  width:45%;
  height:80px;
  padding:10px 0 10px 0;
  float:left;
  margin-right:30px;
}

.notice ul li{
  float:left;
  line-height:25px;
  width:320px;
  padding-left:5px;
  overflow: hidden;
}

.notice ul li:hover b{
  text-decoration:underline;
}

.notice ul li a {
  width: inherit;
  color: #fff;
  display: inline-block;
  font-size: 12px;
}

.notice ul li b {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  width: 80%;
}

.notice ul li b:before {
   content: '';
   display: inline-block;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: #fff;
   margin-right: 10px;
   vertical-align: 2px;
}

.notice ul li span{
  float:left;
  display: block;
  text-align: right;
  width: 20%;
}

/*submenu_mypage*/

.submenu_mypage{
  position:absolute;
  top:150px;
  right:0;
  z-index:11;
}

.submenu_mypage_inner{
  width:300px;
  position:absolute;
  z-index:12;
  padding:0 30px;
  top:90px;
  right:-300px;
  overflow:hidden;
}
.submenu_mypage_inner .profile{
  text-align:left;
  width:200px;
  float:left;
  overflow:hidden;
  margin:20px 0;
  color:#1b2f4a;
}
.submenu_mypage_inner .profile #profile_name{
  font-size:20px;
}
.submenu_mypage_inner .profile li{
  font-weight:600;
  list-style-type: none;
  font-size:15px;
}
.submenu_mypage_inner .submenu_mypage_back{
  position:absolute;
  top:25px;
  right:20px;
  cursor:pointer;
}
.submenu_mypage_inner .submenu_mypage_info #submenu_mypage_select{
  width:240px;
}
.submenu_mypage_inner .submenu_mypage_info table{
  font-size:13px;
}
.submenu_mypage_inner .submenu_mypage_info table th{
  border-bottom:1px solid #b1b1b1;
  text-align:left;
  padding:10px 0;
}
.submenu_mypage_inner .submenu_mypage_info table td{
  border-bottom:1px solid #b1b1b1;
  text-align:right;
  width:150px;
  color:#555;
}
.submenu_mypage_inner .submenu_mypage_info table span{
  font-weight:600;
  color:#aaa;
}
.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom{
  font-size:12px;
  width:250px;
  padding:20px 0;
}
.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom span{
  float:left;
  margin-bottom:20px;
  font-size:10px;
  padding:2px;
}
.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom p a{
  float:right;
  color:#1b2f4a;
  font-weight:600;
  cursor:pointer;
  margin-right:10px;
}
.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom p a:hover{
  color:#c95b74;
}
.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom b{
  color:#1b2f4a;
}

/*submenu_security*/

.submenu_security{
  position:absolute;
  top:260px;
  right:0;
  z-index:11;
}
.submenu_security_inner{
  position:absolute;
  top:260px;
  right:-300px;
  z-index:12;
  width:250px;
  overflow:hidden;
  background:url(../img/security.gif) no-repeat -50% 0; background-size:70%;
  background-color:#fff;
}
.submenu_security_inner .submenu_security_title{
  font-size:15px;
  color:#1b2f4a;
  font-weight:600;
  text-align:left;
  padding:20px 0 0 100px;
}
.submenu_security_inner .submenu_security_story{
  font-size:12px;
  color:#555;
  padding:30px 0 20px 20px;
}
.submenu_security_inner .submenu_mypage_back2{
  position:absolute;
  top:20px;
  right:20px;
  cursor:pointer;
}

/*use_guide*/

.use_guide{
  width: 560px;
  height: 155px;
  float:right;
  padding: 25px 0;
  box-sizing: border-box;

}

.use_guide ul{
  overflow: hidden;
}

.use_guide ul p{
  font-weight:600;
  margin-top:10px;
  color: #1b2f4a;
}

.use_guide li{
  float: left;
  margin-left: 20px;
  text-align: center;
  width: 20%;
}
