/*myinfo_small_info_box*/
.myinfo_small_info_box{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1b2f4a;
    background-color: rgba(27,47,74,.2);
    margin: 0 auto;
    margin-bottom: 35px;
}
.myinfo_small_info_box .myinfo_box1{
    color: #2b2b2b;
    padding: 15px 20px 0 10px;
}
.myinfo_small_info_box .myinfo_box1 strong{
    font-size:22px;
    color: #1b2f4a;
}
