/*common*/
.con_1340 {
  width: 1340px;
  margin: 10% auto;
  height: auto;
  overflow: hidden;
}
/*tab*/
.mycoin_fence{
  width:900px;
  float:left;
}
.mycoin_tab ul {
  overflow: hidden;
}
.mycoin_tab li{
  float:left;
  width:300px;
  text-align:center;
  color:#7e7e7f;
  padding:20px 0;
  font-size:20px;
  font-weight:600;
  cursor:pointer;
  background-color:#f4f5f8;
}
.mycoin_tab li.active {
  color: #1b2f4a;
  border-top: 3px solid #1b2f4a;
  background-color:#fff;
}
/* 공통 */
.tab_content {
  padding: 30px 50px;
  overflow: hidden;
}

/*원화입금*/
.conclu_table{
    width: 800px;
}
#input_KRW div.account_table_wrap{
    overflow: hidden;
}
#input_KRW div.account_table_wrap > div{
    width: 48%;
    float: left;
    margin-left: 12px;
    margin-bottom: 15px;
}
#input_KRW div.account_table_wrap > div > p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 15px;
}
#input_KRW div.send_info_01,
#input_KRW div.send_info_02{
    width: 60%;
    margin: 10px 25%;
    overflow: hidden;
}
#input_KRW div.send_info_01 p{
    font-size: 16px;
    color: #666;
    font-weight: 600;
    float: left;
    line-height: 50px;
    height: 50px;
}
#input_KRW div.send_info_01 span.temporary_name{
    border-radius: 5px;
    background: #f4f5f9;
    color: #1b2f4a;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 90px;
    margin-left: 20px;
    float: left;
}
#input_KRW div.send_info_01 span.caution{
    float: left;
    font-size: 12px;
    margin-left: 24px;
    margin-top: 8px;
    color: #ff2323;
}
#input_KRW div.send_info_01 span.caution:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
    vertical-align: 2px;
}
#input_KRW .send_info_02 label{
    font-size: 16px;
    color: #666;
    font-weight: 600;
    float: left;
    line-height: 40px;
    height: 76px;
}
#input_KRW .send_info_02 input[type='text']{
    margin-left: 20px;
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #1b2f4a;
    color: #1b2f4a;
    font-size: 22px;
    text-align: right;
    width: 229px;
    font-weight: 600;
    float: left;
    padding: 3px 5px;
    padding-right: 50px;
}
#input_KRW .send_info_02 .unit_KRW_fixed{
    position: relative;
    color: #666;
    right: 38px;
    top: 7px;
    font-weight: 600;
    font-size: 15px;
}
#input_KRW .send_info_02 span.caution{
    float: left;
    font-size: 12px;
    margin-left: 24px;
    width: 184px;
    padding-bottom: 2px;
}
#input_KRW .send_info_02 span.sub_02,
#input_KRW .send_info_02 span.sub_04{
    margin-left: -35px;
}
#input_KRW div.send_info_02 span.caution:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #666;
    margin-right: 10px;
    vertical-align: 2px;
}
#input_KRW div.before_send_money_wrap{
    margin-left: 12px;
    margin-top: 50px;
}
#input_KRW div.before_send_money_wrap p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid #1b2f4a;
    padding-bottom: 8px;
}
#input_KRW div.before_send_money_wrap label{
    display: block;
    padding-left: 25px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #666;
    font-weight: 600;
}
#input_KRW div.checkbox_list .all_agree_01,
#output_KRW div.checkbox_list .all_agree_02{
    border-top: 1px solid #efefef;
    padding-top: 10px;
    margin-top: 10px;
}
#input_KRW div.before_send_money_wrap label.all_agree{
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin: 16px 0 25px 0;
}
#input_KRW div.before_send_money_wrap .cancel_or_apply{
    text-align: center;
    margin-top: 13px;
}

/*원화출금*/
#output_KRW div.account_table_wrap{
    overflow: hidden;
}
#output_KRW div.account_table_wrap > div{
    float: left;
    margin-left: 12px;
    margin-bottom: 15px;
}
#output_KRW div.account_table_wrap > div > p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 15px;
    font-size:16px;
}
#output_KRW .left_thick_table tbody tr{
    height: 45px;
}
#output_KRW .left_thick_table tbody th{
    padding: 10px 20px 10px 16px;
    font-size:15px;
}
#output_KRW .left_thick_table tbody td{
    width: 600px;
    font-size: 15px;
}
#output_KRW table.left_thick_table tbody p{
    display: inline-block;
    width: 300px;
}
#output_KRW table.left_thick_table tbody input[type='submit']{
    border: 1px solid #1b2f4a;
    background: #fff;
    color: #1b2f4a;
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size:15px;
}
#output_KRW table.left_thick_table tbody input[type='submit']:hover{
    border: 1px solid #1b2f4a;
    background: #1b2f4a;
    color: #fff;
    padding: 3px 5px;
    cursor: pointer;
}
#output_KRW table.left_thick_table tbody input[type='text']{
    border: none;
    border-bottom: 1px solid #1b2f4a;
    width: 300px;
    padding-bottom: 4px;
    font-size:15px;
}
#output_KRW table.left_thick_table tbody input::placeholder{
    color:#a1a1a1;
    font-size:14px;
}
#output_KRW div.before_send_money_wrap{
    margin-left: 12px;
    margin-top: 50px;
}
#output_KRW div.before_send_money_wrap p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid #1b2f4a;
    padding-bottom: 8px;
}
#output_KRW div.before_send_money_wrap label{
    display: block;
    padding-left: 25px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #666;
    font-weight: 600;
}
#output_KRW div.before_send_money_wrap label.all_agree{
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin: 16px 0 25px 0;
}
#output_KRW div.before_send_money_wrap .cancel_or_apply{
    text-align: center;
}
#output_KRW div.before_send_money_wrap .cancel_btn{
    background: #fff;
    border: 1px solid #1b2f4a;
    border-radius: 5px;
    padding: 7px 30px;
    color: #1b2f4a;
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
#output_KRW div.before_send_money_wrap .agree_btn {
  border-radius: 5px;
  padding: 7px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
}
#output_KRW div.before_send_money_wrap .if_you_not_all_agree{
    border: 1px solid #666;
    background-color: #666;
}
#output_KRW div.before_send_money_wrap .if_you_all_agree{
  border: 1px solid #1b2f4a;
  background-color: #1b2f4a;
  cursor: pointer;
}

/*입출금내역*/
.fr{float:right}
.fl{float:left}
.cb{clear: both;}
.cf:after{content: ''; clear:both; display:block; visibility:hidden; height:0;}
.color_bk{color:black;}

#mywallet_tab .mycoin_tbody_deco .red{
    color:#ff2323;
}
#mywallet_tab .mycoin_tbody_deco .bl{
    color:#002dae;
}
.tab2_header .days{
  float:right;
  font-size:15px;
  padding: 5px 0;
}
.tab2_header .days input{
  font-size:14px;
  height: 30px;
  text-indent: 3px;
}
.tab2_header .days ::-webkit-inner-spin-button {
     height: 30px;
     margin-left: 5px;
 }
 .tab2_header .days ::-webkit-calendar-picker-indicator  {
     color: rgba(0, 0, 0, 0);
     background: url(../img/cal.png) no-repeat 100%; background-size:cover;
     padding-left:10px;
  }
.tab2_header .days span{
  float:left;
  margin:0 5px;
  line-height:32px;
  font-weight: 600;
  color: #1b2f4a;
}
.tab2_header .days div{
  float:left;
}
.tab2_header .days .search_btn{
  width:50px;
  height:35px;
  margin-left:10px;
  background-color:#1b2f4a;
  color:#fff;
  font-weight:600;
  cursor:pointer;
  border: none;
}

/*전체선택 모든것*/
 .table_top {
	margin-bottom:30px;
}
.selectAll{
  padding:2px 0;
}
.selectAll select{
  font-size:14px;
  height: 34px;
  text-indent: 3px;
}

/*tab2*/
.table_top .tab2_header {
  overflow: hidden;
}
.tab2_header .days{
  font-size:15px;
}
.table_top .days input{
  font-size:14px;
  text-indent: 3px;
}
.tab2_header .days ::-webkit-inner-spin-button {
     margin-left: 5px;
 }
 .tab2_header .days ::-webkit-calendar-picker-indicator  {
     color: rgba(0, 0, 0, 0);
     background: url(../img/cal.png) no-repeat 100%;
     padding-left:10px;
  }
.tab2_header .days span{
  float:left;
  margin:0 5px;
  line-height:32px;
  font-weight: 600;
  color: #1b2f4a;
}
table.mycoin_table{
  margin: 0 auto;
  font-size:14px;
}
table .mycoin_thead_deco{
  background-color: #e8eaed;
}
table .mycoin_thead_deco tr{
  border-bottom: 2px solid #1b2f4a;
  background-color:#f4f5f8;
}
.mycoin_thead_deco th select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #1b2f4a;
  color: #1b2f4a;
  font-weight: 600;
  font-size: 14px;
  background-color:#f4f5f8;
  margin:0 -2px;
}
table .mycoin_thead_deco th{
  padding:15px 8px;
}
table .mycoin_thead_deco th a{
  /* float:right; */
  font-weight: lighter;
  font-weight: 600;
  font-size:14px;
  color: #1b2f4a;
}
table .mycoin_thead_deco th.mycoin_kor a{
  margin-left:10px;
}
table .mycoin_tbody_deco tr{
  border-bottom: 1px solid #efefef;
  height:45px;
}
table .mycoin_tbody_deco td{
}
table .mycoin_tbody_deco>tr>td>img{
  float:left;
  margin: 2px;
  margin-right:10px;
}
.mycoin_name{
  padding: 3px 10px;
}

/*입출금내역 버튼 영역*/
.btn_small2{
  padding: 2px 8px;
  margin:0 2px;
  background-color: white;
  color:#1b2f4a; border: 1px solid #1b2f4a;
  cursor:pointer;
}
.btn_small2:hover{
  color:white;
  background-color: #1b2f4a;
}

/* 페이징(공지사항, 체결/미체결) */
.contentBottom{
  padding:20px 0;
  text-align:center;
}
.contentBottom .paging a {
    display:inline-block;
    width:20px;
    height:20px;
    text-align: center;
    font-size:14px;
    font-weight:400;
    margin-top:5px;
}
.contentBottom .paging a img {
  width: 7px;
  vertical-align: middle;
}

  /*보유코인 콘텐츠 시작*/
#mywallet_havecoin{
      padding: 0;
      float:left;
      position: relative;
      margin:0 20px 0 0;
      width: 365px;
}
#mywallet_havecoin h3{
      color:#1b2f4a;
      border-bottom:3px solid #1b2f4a;
      padding:15px 20px 10px 20px;
}
#mywallet_havecoin form{
      display: inline-block;
      float: right;
      position: absolute;
      top: 14px;
      right: 9px;
}
#mywallet_havecoin form label{
      font-size: 14px;
  }
  #mywallet_havecoin table{
      font-size:13px;
  }
  #mywallet_havecoin thead tr{
      height: 35px;
      color:#666;
  }
  #mywallet_havecoin thead th{
      padding-left:56px;
  }
  #mywallet_havecoin thead th.coin_name{
      padding-left: 38px;
      text-align: left;
  }
  #mywallet_havecoin thead th.coin_portion{

  }
  #mywallet_havecoin thead th.coin_condition{
      padding-left: 49px;
  }
  #mywallet_havecoin tbody img{
      float: left;
      width: 26px;
      height: 26px;
      padding-top: 5px;
      margin-left: 6px;
  }
  #mywallet_havecoin tbody tr{
      height: 50px;
  }
  #mywallet_havecoin tbody tr.active{
      background: #c8eefb;
  }
  #mywallet_havecoin tbody tr:hover{
      background: #c8eefb;
  }
  #mywallet_havecoin tbody p,
  #mywallet_havecoin tbody span{
      text-align: right;
  }
  #mywallet_havecoin .coin_kor{
    padding-left: 5px;
  }
  #mywallet_havecoin .coin_kor p,
  #mywallet_havecoin .coin_kor span{
      text-align: left;
      margin-left: 35px;
  }
  #mywallet_havecoin td.amount_content{
    padding-left: 5px;
  }
  #mywallet_havecoin .unit{
      color: #666;
      font-size: 14px;
      display: block;
  }
  #mywallet_havecoin .style_bold{
      font-weight: 600;
      color: #2b2b2b;
      font-size: 13px;
  }
  #mywallet_havecoin .unit_style{
      font-size: 12px;
      color: #666;
      font-weight: 600;
      margin: 0 6px;
  }
  #mywallet_havecoin .have_coin_amount p{
      font-weight: 600;
      margin: 0 16px;
  }
  #mywallet_havecoin .button_hover{
      margin-right:3px;
      border:1px solid #1b2f4a;
      border-radius: 5px;
      color:#1b2f4a;
      padding: 5px 2px;
  }
  #mywallet_havecoin .button_hover:hover{
      background:#1b2f4a;
      border-radius: 5px;
      color:#fff;
      padding: 5px 2px;
  }

  /*thead 띄우기*/
  #mywallet_havecoin tbody{
      display: block;
      margin-top:35px;
  }
  #mywallet_havecoin .mywallet_havecoin_thead{
      position: absolute;
      width: 390px;
  }
  #mywallet_havecoin .deal_table_scroll{
      overflow-y:scroll;
  }
  /*보유코인 콘텐츠 끝*/
