
/*  코인선택 영역(coinSelect_area) */
.fr{float:right}
.fl{float:left}
.cb{clear: both;}
.color_bk{color:black;}
#right_coin_menu{
  float:left;
  width:350px;
  /* position: fixed; */
}



/*my wallet*/
.mywallet_myinfo{
    box-sizing:border-box;
    width:840px;
    padding:95px 20px;
    border-radius: 5px;
    border:1px solid #1b2f4a;
    background-color: #efefef;
}
/* #deal_orgin_transaction thead tr th.coin_kor,
#deal_orgin_transaction thead tr th.coin_eng{
    text-align: left;
    padding-left:20px;
    padding-right:0;
    background: url(../img/side_arrow.png) no-repeat 70px 13px;
} */
.mycoin_tab_content .mycoin_notice{
  margin-bottom: 10px;
  float:right;
}

.mycoin_tab_content .mywallet_myinfo{
  margin-bottom: 20px;
}


.mycoin_thead_deco th a{
  float:right;
  font-weight: lighter;}
.mycoin_thead_deco th.mycoin_kor a{
  margin-left:20px;
}
.mycoin_tbody_deco tr{
  border-bottom: 1px solid #666;
}
.mycoin_tbody_deco>tr>td>img{
  float:left;
  margin: 5px;
  margin-right:10px;
}
.mycoin_tbody_title{
  font-weight: bold; color:black;
}
.mycoin_name{
  padding: 10px 10px;
}

.ready_data{
  color:red;
}

/*코인원화*/
#deal_orgin_transaction{
    overflow-y:auto;
    padding: 0;
    float:left;

}

#deal_orgin_transaction h3{
    color:#2b2b2b;
    border-bottom:3px solid #1b2f4a;
    padding:15px 20px 10px 20px;
}

#deal_orgin_transaction table{
    font-size:13px;
}

#deal_orgin_transaction thead tr th.coin_kor,
#deal_orgin_transaction thead tr th.coin_eng{
    text-align: left;
    padding-left:20px;
    padding-right:0;
    background: url(../img/side_arrow.png) no-repeat 70px 13px;
}

#deal_orgin_transaction thead tr th:nth-child(3){
    background: url(../img/up_down_default.png) no-repeat 58px 13px;
    /* background: url(../img/up_down_up.png) no-repeat 55px 14px; */
    /* background: url(../img/up_down_down.png) no-repeat 55px 14px; */
}

#deal_orgin_transaction thead tr th:nth-child(4){
    /* background: url(../img/up_down_default.png) no-repeat 55px 14px; */
    background: url(../img/up_down_up.png) no-repeat 59px 13px;
    /* background: url(../img/up_down_down.png) no-repeat 55px 14px; */
}

#deal_orgin_transaction thead tr th:nth-child(5){
    /* background: url(../img/up_down_default.png) no-repeat 55px 14px; */
    /* background: url(../img/up_down_up.png) no-repeat 55px 14px; */
    background: url(../img/up_down_down.png) no-repeat 62px 13px;
}

#deal_orgin_transaction thead tr{
    height: 35px;
    color:#666;
    font-size:13px;
}
#deal_orgin_transaction thead tr th{
    text-align: center;
    padding-right:15px;
}


#deal_orgin_transaction tbody tr{
    height: 50px;
}

#deal_orgin_transaction tbody tr:hover{
    background: #c8eefb;
    cursor: pointer;
}

#deal_orgin_transaction tbody .up_down_data{
    text-align: center;
    display: block;
    padding-right:15px;
}

#deal_orgin_transaction tbody p{
    font-weight: 600;
    font-size:13px;
}

#deal_orgin_transaction tbody tr td:first-child{
    text-align: left;
    padding-left:20px;
    color:#2b2b2b;
}

#deal_orgin_transaction tbody tr td:nth-child(2){
    font-weight: 600;
    font-size:14px;
}

#deal_orgin_transaction .unit{
    color:#666;
    font-size:13px;
}

#deal_orgin_transaction .money_up{
    color:#1b2f4a;
}

#deal_orgin_transaction .money_down{
    color:#1b2f4a;
}




/*mywallet_tab*/

#mywallet_tab{
  float:left;
  margin-right:30px;
}

#mywallet_tab .mywallet_tab_title{
    width: 880px;
    overflow: hidden;

}
#mywallet_tab .mywallet_tab_title li{
    float: left;
    width: 33.3%;
    text-align: center;
}

#mywallet_tab .mycoin_tab_content,
#mywallet_tab .mytrans_tab_content{
    padding:30px 20px 20px 20px;
    /* width: 435px; */
    background: #fff;
    border-radius:0 0 5px 5px;
}
.mycoin_tab_content{
    display: block;
}
.mytrans_tab_content{
    display: none;
}

#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row{
    overflow:hidden;
    height: 50px;
    line-height: 50px;
    position: relative;
}
#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row dt,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row dt{
    font-size:14px;
    font-weight: 600;
    float:left;
}
#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row dd,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row dd{
    float:right;
}

#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row dd strong,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row dd strong{
    font-size:20px;
}
#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row dd span,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row dd span{
    font-size:15px;
    font-weight: 600;
    color:#333;
    margin-right:3px;
}
#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row dd a,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row dd a{
    border:1px solid #e3e4e8;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size:30px;
    position: absolute;
    top:0;
    right:0;
    text-align: center;
    line-height: 21px;
    background: #f9fafc;
    color:#84858a;
}
#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row dd .minus_btn,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row dd .minus_btn{
    right:35px;
    top:9px;
}

#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row dd .plus_btn,
#mywallet_tab .mytrans_tab_content .mytrans_tab_content_row dd .plus_btn{
    right:1px;
    top:9px;
}
#mywallet_tab dd input[type='text']{
    border:1px solid #e3e4e8;
    height: 30px;
    width: 200px;
    text-align: right;
    font-size:15px;
    padding-right:5px;
    font-weight: 600;
    color:#333;
    margin-right:70px;
}

#mywallet_tab dd input.buy_amount{
    margin-right:70px;
}

#mywallet_tab .amount_dropbox select{
    position: absolute;
    top: 9px;
    right: 1px;
    border: 1px solid #e3e4e8;
    font-size: 15px;
    width: 66px;
    height: 32px;
    line-height: 30px;
    background: #f9fafc;
    text-indent: 5px;
}
#mywallet_tab .buy_all_amount_title{
    font-weight: 600;
    font-size:16px;
    color:black;
}
#mywallet_tab .buy_all_amount{
    width: 278px;
    background: #f4f5f9;
    border-radius: 5px;
    color:#333;
}

#mywallet_tab .buy_all_amount p{
    text-align: right;
    padding:0 12px;
}

#mywallet_tab .buy_all_amount p span.up_down_data{
    color:#1b2f4a;
    font-size:20px;
    margin-right:5px;
}
#mywallet_tab .buy_all_amount p span.blue_color{
    color:#1b2f4a;
}

#mywallet_tab .mycoin_tab_content .mycoin_tab_content_row.total_price{
    height: 50px;
    line-height: 50px;
}

#mywallet_tab .sub_text{
    display: inline-block;
    margin:10px 0 15px 0;
    font-size: 11px;
    float: left;
    margin-left: 117px;
}
#mywallet_tab .charge{
    margin-left:26px;
}
/*인풋타임, 아이디 다시확인*/
#mywallet_tab input[type='reset']{
    border:1px solid #727272;
    background:#fff;
    padding:4px 8px;
    border-radius: 5px;
    font-size:15px;
    font-weight: 600;
    color:#727272;
    cursor:pointer;
}

#mywallet_tab .buy_big_btn{
    padding:4px 8px;
    background: #1b2f4a;
    border-radius: 5px;
    border:none;
    font-size:15px;
    color:#fff;
    font-weight: 600;
    cursor:pointer;
    margin-left:2px;
}

#mywallet_tab .mywallet_tab_title li h3 a{
    border-radius: 5px 0 0 0;
    padding:8px 0 11px 0;
    display: block;
    color:#777;
    background: #f4f5f9;
}
#mywallet_tab .mywallet_tab_title .mycoin_tab h3.on a{
    color:#1b2f4a;
    display: block;
    border-top:3px solid #1b2f4a;
    padding:8px 0;
    background-color: #fff;
    border-radius: 5px 0 0 0;
}

#mywallet_tab .mywallet_tab_title .trans-info h3.on a{
    color:#1b2f4a;
    display: block;
    border-top:3px solid #1b2f4a;
    padding:8px 0;
    background-color: #fff;
    border-radius: 0 5px 0 0;
}
