/*common*/
.con_1340 {
  width: 1340px;
  margin: 10% auto;
  height: auto;
  overflow: hidden;
}

/*tab*/
.mycoin_fence{
  width:900px;
  float:left;
}
.mycoin_tab ul {
  overflow: hidden;
}
.mycoin_tab li{
  float:left;
  width:300px;
  text-align:center;
  color:#7e7e7f;
  padding:20px 0;
  font-size:20px;
  font-weight:600;
  cursor:pointer;
  background-color:#f4f5f8;
}
.mycoin_tab li.active {
  color: #1b2f4a;
  border-top: 3px solid #1b2f4a;
  background-color:#fff;
}

/* 공통 */
.tab_content {
  padding: 30px 50px;
  overflow: hidden;
}

/*비트코인출금*/
#input_bitcoin{
    width: 800px;
}
#input_bitcoin div.my_coin_state ul li{
    position: relative;
}
#input_bitcoin div.my_coin_state ul li p.my_coin_state_amount {
    position: absolute;
    bottom: 7px;
    right: 7px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_01{
    height: 111px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_title{
    font-size: 18px;
    margin: 0 5px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_amount{
    font-size: 25px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_02,
#input_bitcoin div.my_coin_state ul li.my_coin_li_03{
    height: 45px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_02 div{
    border-bottom: 1px solid rgba(27,47,74,.2);
    width: 100%;
    padding-bottom: 35px;
}
#input_bitcoin div.BTC_input_address_wrap,
#input_bitcoin div.before_send_money_wrap{
    padding-left: 10px;
}
#input_bitcoin div.BTC_input_address_wrap > div{
    margin-top: 16px;
    padding: 15px 0;
    margin-bottom: 15px;
    border-top: 2px solid #1b2f4a;
    padding-left: 16px;
    border-bottom: 1px solid #efefef;
}
#input_bitcoin div.BTC_input_address_wrap > p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 5px;
    font-size:16px;
}
#input_bitcoin div.my_coin_address{
    position: relative;
}
#input_bitcoin div.BTC_input_address_wrap > span{
    font-size: 14px;
}
#input_bitcoin div.BTC_input_address_wrap img{
    position: absolute;
    top: 24px;
    right: 93px;
    width: 100px;
}
#input_bitcoin div.BTC_input_address_wrap input[type='button']{
    border: 1px solid #1b2f4a;
    background: #1b2f4a;
    color: #fff;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    display: block;
    margin: 5px 0;
    font-weight: 600;
}
#input_bitcoin div.BTC_input_address_wrap .emphasis{
    color: #666;
    font-weight: 600;
    font-size: 15px;
    margin: 5px 0;
}
#input_bitcoin div.BTC_input_address_wrap .temporary_address{
    color: #666;
    font-weight: 600;
    background: #f4f5f9;
    padding: 5px 12px;
    display: inline-block;
    margin: 5px 0;
    font-size: 15px;
}
#input_bitcoin div.before_send_money_wrap{
    margin-top: 50px;
}
#input_bitcoin div.before_send_money_wrap > p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid #1b2f4a;
    padding-bottom: 8px;
}
#input_bitcoin div.before_send_money_wrap .warning_notice_list{
    border-bottom: 1px solid #efefef;
    padding-bottom: 12px;
}
#input_bitcoin div.before_send_money_wrap .warning_notice_list p{
    padding: 0px 33px 0 16px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #666;
    font-weight: 600;
    line-height: 1.6;
}
