/*common*/
.con_1340 {
  width: 1340px;
  margin: 10% auto;
  height: auto;
  overflow: hidden;
}

/*tab*/
.mycoin_fence{
  width:900px;
  float:left;
}
.mycoin_tab ul {
  overflow: hidden;
}
.mycoin_tab li{
  float:left;
  width:300px;
  text-align:center;
  color:#7e7e7f;
  padding:20px 0;
  font-size:20px;
  font-weight:600;
  cursor:pointer;
  background-color:#f4f5f8;
}
.mycoin_tab li.active {
  color: #1b2f4a;
  border-top: 3px solid #1b2f4a;
  background-color:#fff;
}

/* 공통 */
.tab_content {
  padding: 30px 50px;
  overflow: hidden;
}

/*tab3*/
.tab3_header {
  overflow: hidden;
  margin-bottom: 30px;
}
.tab3_header ul{
  float:left;
}
.tab3_header ul li{
  float:left;
  width:150px;
  border-radius:5px;
  font-size:15px;
  text-align:center;
  padding:10px 0;
  font-weight:600;
  cursor:pointer;
  border:1px solid #1b2f4a;
  color:#1b2f4a;
}
.tab3_header ul li + li {
  margin-left: 20px;
}
.tab3_header ul li.active2{
  border:1px solid #1b2f4a;
  background-color:#1b2f4a;
  color:#fff;
}

/*원화입금*/
#output_KRW{
    width: 800px;
}
#output_KRW div.account_table_wrap{
    overflow: hidden;
}
#output_KRW div.account_table_wrap > div{
    float: left;
    margin-left: 12px;
    margin-bottom: 15px;
}
#output_KRW div.account_table_wrap > div > p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 15px;
    font-size:16px;
}
#output_KRW .left_thick_table tbody tr{
    height: 45px;
}
#output_KRW .left_thick_table tbody th{
    padding: 10px 20px 10px 16px;
    font-size:15px;
}
#output_KRW .left_thick_table tbody td{
    width: 600px;
    font-size: 15px;
}
#output_KRW table.left_thick_table tbody p{
    display: inline-block;
    width: 300px;
}
#output_KRW table.left_thick_table tbody input[type='submit']{
    border: 1px solid #1b2f4a;
    background: #fff;
    color: #1b2f4a;
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size:15px;
}
#output_KRW table.left_thick_table tbody input[type='submit']:hover{
    border: 1px solid #1b2f4a;
    background: #1b2f4a;
    color: #fff;
    padding: 3px 5px;
    cursor: pointer;
}
#output_KRW table.left_thick_table tbody input[type='text']{
    border: none;
    border-bottom: 1px solid #1b2f4a;
    width: 300px;
    padding-bottom: 4px;
    font-size:15px;
}
#output_KRW table.left_thick_table tbody input::placeholder{
    color:#a1a1a1;
    font-size:14px;
}
#output_KRW div.before_send_money_wrap{
    margin-left: 12px;
    margin-top: 50px;
}
#output_KRW div.before_send_money_wrap p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid #1b2f4a;
    padding-bottom: 8px;
}
#output_KRW div.before_send_money_wrap label{
    display: block;
    padding-left: 25px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #666;
    font-weight: 600;
}
#output_KRW div.before_send_money_wrap label.all_agree{
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin: 16px 0 25px 0;
}
#output_KRW div.before_send_money_wrap .cancel_or_apply{
    text-align: center;
}
#output_KRW div.before_send_money_wrap .cancel_btn{
    background: #fff;
    border: 1px solid #1b2f4a;
    border-radius: 5px;
    padding: 7px 30px;
    color: #1b2f4a;
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
#output_KRW div.before_send_money_wrap .agree_btn {
  border-radius: 5px;
  padding: 7px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
}
#output_KRW div.before_send_money_wrap .if_you_not_all_agree{
    border: 1px solid #666;
    background-color: #666;
}
#output_KRW div.before_send_money_wrap .if_you_all_agree{
  border: 1px solid #1b2f4a;
  background-color: #1b2f4a;
  cursor: pointer;
}

  /*보유코인 콘텐츠 시작*/
#mywallet_havecoin{
      padding: 0;
      float:left;
      position: relative;
      margin:0 20px 0 0;
      width: 390px;
}
#mywallet_havecoin h3{
      color:#1b2f4a;
      border-bottom:3px solid #1b2f4a;
      padding:15px 20px 10px 20px;
}
#mywallet_havecoin form{
      display: inline-block;
      float: right;
      position: absolute;
      top: 14px;
      right: 9px;
}
#mywallet_havecoin form label{
      font-size: 14px;
  }
  #mywallet_havecoin table{
      font-size:13px;
  }

  #mywallet_havecoin thead tr{
      height: 35px;
      color:#666;
  }
  #mywallet_havecoin thead th{
      padding-left:56px;
  }
  #mywallet_havecoin thead th.coin_name{
      padding-left: 38px;
      text-align: left;
  }
  #mywallet_havecoin thead th.coin_portion{

  }
  #mywallet_havecoin thead th.coin_condition{
      padding-left: 49px;
  }
  #mywallet_havecoin thead th.coin_amount{

  }
  #mywallet_havecoin tbody img{
      float: left;
      width: 26px;
      height: 26px;
      padding-top: 5px;
      margin-left: 6px;
  }
  #mywallet_havecoin tbody tr{
      height: 50px;
  }
  #mywallet_havecoin tbody tr.active{
      background: #c8eefb;
  }
  #mywallet_havecoin tbody tr:hover{
      background: #c8eefb;
  }
  #mywallet_havecoin tbody p,
  #mywallet_havecoin tbody span{
      text-align: right;
  }
  #mywallet_havecoin .coin_kor{
    padding-left: 5px;
  }
  #mywallet_havecoin .coin_kor p,
  #mywallet_havecoin .coin_kor span{
      text-align: left;
      margin-left: 35px;
  }
  #mywallet_havecoin td.amount_content{
    padding-left: 5px;
  }
  #mywallet_havecoin .unit{
      color: #666;
      font-size: 14px;
      display: block;
  }
  #mywallet_havecoin .style_bold{
      font-weight: 600;
      color: #2b2b2b;
      font-size: 13px;
  }
  #mywallet_havecoin .unit_style{
      font-size: 12px;
      color: #666;
      font-weight: 600;
      margin: 0 6px;
  }
  #mywallet_havecoin .have_coin_amount p{
      font-weight: 600;
      margin: 0 16px;
  }
  #mywallet_havecoin .button_hover{
      margin-right:3px;
      border:1px solid #1b2f4a;
      border-radius: 5px;
      color:#1b2f4a;
      padding: 5px 2px;
  }
  #mywallet_havecoin .button_hover:hover{
      background:#1b2f4a;
      border-radius: 5px;
      color:#fff;
      padding: 5px 2px;
  }

  /*thead 띄우기*/
  #mywallet_havecoin tbody{
      display: block;
      margin-top:35px;
  }
  #mywallet_havecoin .mywallet_havecoin_thead{
      position: absolute;
      width: 390px;
  }
  #mywallet_havecoin .deal_table_scroll{
      overflow-y:scroll;
  }
  /*보유코인 콘텐츠 끝*/
