/*common*/
.con_1340 {
  width: 1340px;
  margin: 10% auto;
  height: auto;
  overflow: hidden;
}

/*tab*/
.mycoin_fence{
  width:900px;
  float:left;
}
.mycoin_tab ul {
  overflow: hidden;
}
.mycoin_tab li{
  float:left;
  width:300px;
  text-align:center;
  color:#7e7e7f;
  padding:20px 0;
  font-size:20px;
  font-weight:600;
  cursor:pointer;
  background-color:#f4f5f8;
}
.mycoin_tab li.active {
  color: #1b2f4a;
  border-top: 3px solid #1b2f4a;
  background-color:#fff;
}

/* 공통 */
.tab_content {
  padding: 30px 50px;
  overflow: hidden;
}

/*tab3*/

/*원화입금*/
#input_KRW_complete{
    width: 800px;
    margin-top: 50px;
}
#input_KRW_complete p.complete_paragraph{
    font-size: 18px;
    font-weight: 600;
    color: #1b2f4a;
    margin-bottom: 11px;
    text-align: center;
}
#input_KRW_complete div.account_table_wrap{
    width: 50%;
    margin: 0 auto;
}
#input_KRW_complete div.account_table_wrap > div{
    margin-left: 12px;
    margin-bottom: 15px;
    margin-top: 35px;
}
#input_KRW_complete div.account_table_wrap > div > p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 15px;
}
#input_KRW_complete div.send_info_01{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}
#input_KRW_complete div.send_info_01 p.input_money{
    font-size: 16px;
    color: #666;
    font-weight: 600;
    float: left;
    line-height: 50px;
    height: 50px;
    margin-left: 15px;
}
#input_KRW_complete div.send_info_01 p.money_account{
    border-radius: 5px;
    background: #f4f5f9;
    color: #1b2f4a;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 15px 10px 141px;
    margin-left: 28px;
    float: left;
}
#input_KRW_complete div.send_info_01 p.money_account span{
    color: #666;
    font-weight: 600;
    font-size: 15px;
    padding-left: 7px;
}
#input_KRW_complete div.button_group{
    text-align: center;
    margin: 40px 0 30px 0;
}
#input_KRW_complete input.button_style{
    background: #1b2f4a;
    border: 1px solid #1b2f4a;
    border-radius: 5px;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
#input_KRW_complete .look_again{
    color:#ff2323;
}
  /*보유코인 콘텐츠 시작*/
#mywallet_havecoin{
      padding: 0;
      float:left;
      position: relative;
      margin:0 20px 0 0;
      width: 390px;
}
#mywallet_havecoin h3{
      color:#1b2f4a;
      border-bottom:3px solid #1b2f4a;
      padding:15px 20px 10px 20px;
}
#mywallet_havecoin form{
      display: inline-block;
      float: right;
      position: absolute;
      top: 14px;
      right: 9px;
}
#mywallet_havecoin form label{
      font-size: 14px;
  }
  #mywallet_havecoin table{
      font-size:13px;
  }

  #mywallet_havecoin thead tr{
      height: 35px;
      color:#666;
  }
  #mywallet_havecoin thead th{
      padding-left:56px;
  }
  #mywallet_havecoin thead th.coin_name{
      padding-left: 38px;
      text-align: left;
  }
  #mywallet_havecoin thead th.coin_portion{

  }
  #mywallet_havecoin thead th.coin_condition{
      padding-left: 49px;
  }
  #mywallet_havecoin thead th.coin_amount{

  }
  #mywallet_havecoin tbody img{
      float: left;
      width: 26px;
      height: 26px;
      padding-top: 5px;
      margin-left: 6px;
  }
  #mywallet_havecoin tbody tr{
      height: 50px;
  }
  #mywallet_havecoin tbody tr.active{
      background: #c8eefb;
  }
  #mywallet_havecoin tbody tr:hover{
      background: #c8eefb;
  }
  #mywallet_havecoin tbody p,
  #mywallet_havecoin tbody span{
      text-align: right;
  }
  #mywallet_havecoin .coin_kor{
    padding-left: 5px;
  }
  #mywallet_havecoin .coin_kor p,
  #mywallet_havecoin .coin_kor span{
      text-align: left;
      margin-left: 35px;
  }
  #mywallet_havecoin td.amount_content{
    padding-left: 5px;
  }
  #mywallet_havecoin .unit{
      color: #666;
      font-size: 14px;
      display: block;
  }
  #mywallet_havecoin .style_bold{
      font-weight: 600;
      color: #2b2b2b;
      font-size: 13px;
  }
  #mywallet_havecoin .unit_style{
      font-size: 12px;
      color: #666;
      font-weight: 600;
      margin: 0 6px;
  }
  #mywallet_havecoin .have_coin_amount p{
      font-weight: 600;
      margin: 0 16px;
  }
  #mywallet_havecoin .button_hover{
      margin-right:3px;
      border:1px solid #1b2f4a;
      border-radius: 5px;
      color:#1b2f4a;
      padding: 5px 2px;
  }
  #mywallet_havecoin .button_hover:hover{
      background:#1b2f4a;
      border-radius: 5px;
      color:#fff;
      padding: 5px 2px;
  }

  /*thead 띄우기*/
  #mywallet_havecoin tbody{
      display: block;
      margin-top:35px;
  }
  #mywallet_havecoin .mywallet_havecoin_thead{
      position: absolute;
      width: 390px;
  }
  #mywallet_havecoin .deal_table_scroll{
      overflow-y:scroll;
  }
  /*보유코인 콘텐츠 끝*/

  .mycointab_container .send_account p{
    margin-left:-200px;
  }
  .mycointab_container .left_thick_table{
    width:800px;
    margin-left:-200px;
    margin-bottom:50px;
  }
  .mycointab_container .left_thick_table th{
    padding:10px 20px;
  }
