
/*원화출금*/
#output_KRW div.account_table_wrap{
    overflow: hidden;
}
#output_KRW div.account_table_wrap > div{
    float: left;
    margin-left: 12px;
    margin-bottom: 15px;
}
#output_KRW div.account_table_wrap > div > p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 15px;
    font-size:16px;
}
#output_KRW .left_thick_table tbody tr{
    height: 45px;
}
#output_KRW .left_thick_table tbody th{
    padding: 10px 20px 10px 16px;
    font-size:15px;
}
#output_KRW .left_thick_table tbody td{
    width: 600px;
    font-size: 15px;
}
#output_KRW table.left_thick_table tbody p{
    display: inline-block;
    width: 300px;
}
#output_KRW table.left_thick_table tbody input[type='submit']{
    border: 1px solid #1b2f4a;
    background: #fff;
    color: #1b2f4a;
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size:15px;
}
#output_KRW table.left_thick_table tbody input[type='submit']:hover{
    border: 1px solid #1b2f4a;
    background: #1b2f4a;
    color: #fff;
    padding: 3px 5px;
    cursor: pointer;
}
#output_KRW table.left_thick_table tbody input[type='text']{
    border: none;
    border-bottom: 1px solid #1b2f4a;
    width: 300px;
    padding-bottom: 4px;
    font-size:15px;
}
#output_KRW table.left_thick_table tbody input::placeholder{
    color:#a1a1a1;
    font-size:14px;
}
#output_KRW div.before_send_money_wrap{
    margin-left: 12px;
    margin-top: 50px;
}
#output_KRW div.before_send_money_wrap p{
    color: #1b2f4a;
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid #1b2f4a;
    padding-bottom: 8px;
}
#output_KRW div.before_send_money_wrap label{
    display: block;
    padding-left: 25px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #666;
    font-weight: 600;
}
#output_KRW div.before_send_money_wrap label.all_agree{
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin: 16px 0 25px 0;
}
#output_KRW div.before_send_money_wrap .cancel_or_apply{
    text-align: center;
}
#output_KRW div.before_send_money_wrap .cancel_btn{
    background: #fff;
    border: 1px solid #1b2f4a;
    border-radius: 5px;
    padding: 7px 30px;
    color: #1b2f4a;
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
#output_KRW div.before_send_money_wrap .agree_btn {
  border-radius: 5px;
  padding: 7px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
}
#output_KRW div.before_send_money_wrap .if_you_not_all_agree{
    border: 1px solid #666;
    background-color: #666;
}
#output_KRW div.before_send_money_wrap .if_you_all_agree{
  border: 1px solid #1b2f4a;
  background-color: #1b2f4a;
  cursor: pointer;
}
