/* nav */
#nav_wrap{
  margin:0 auto;
  position:fixed;
  float:left;
  width:190px;
  height:100%;
  background-color:#1b2f4a;
  z-index:7;
  box-shadow: 0 15px 15px rgba(100,100,100,0.7);
  }

#nav h1 img{
  width:60%;
  padding:30px;
  }

.nav_bt{
  padding-bottom:20px;
  border-bottom:1px solid #495a6e;
  height:30px;
}

.nav_bt span{
  color:#fff;
  float:left;
}

.nav_bt .login_bt{
  width:86px;
  height:30px;
  display:block;
  text-align:center;
  line-height:1.8em;
  color:#fff;
  float:left;
}

.nav_bt .join_bt{
  width:86px;
  height:30px;
  display:block;
  text-align:center;
  line-height:1.8em;
  color:#fff;
  float:left;
  overflow:hidden;
}

.nav_list li{
  width:190px;
  height:80px;
  border-bottom:1px solid #495a6e;
  text-align:center;
  line-height:4.5em;
  font-size:18px;
  font-weight:600;
}
.nav_list li:hover {
  background: linear-gradient(to left, #4C5D71,#1b2f4a 35%);
}
.nav_list a{
  color:#fff;
  display: block;
}
.nav_list li.active{
    background: linear-gradient(to left, #4C5D71,#1b2f4a 35%);
}
