/*Notice*/

.notice_wrap{
  position:relative;
  width:700px;
  height:140px;
  background-color:#c95b74;
  padding:5px 0 10px 20px;
  color:#fff;
  top:50px;
  left:500px;
}

.notice{
}

.notice h4{
  width:650px;
  border-bottom:1px solid white;
  padding-bottom:5px;
}

.notice li{
  list-style:disc;
  list-style-position: inside;
  font-size:12px;
  padding-left:5px;
}

.notice li:hover{
  text-decoration:underline;
  cursor: pointer;
}


.notice .fristline{
  width:320px;
  height:80px;
  padding:10px 0 10px 0;
  float:left;
  margin-right:30px;
}

.notice .fristline li{
  float:left;
  line-height:30px;
  width:320px;
}

.fristline li span{
  float:right;
}

.notice .secondline{
  width:320px;
  height:80px;
  padding:10px 0 10px 0;
  float:left;
}

.notice .secondline li{
  float:left;
  line-height:30px;
  width:320px;
}

.secondline li span{
  float:right;
}
