/*Notice*/

.notice_wrap{
  position:relative;
  width:700px;
  height:140px;
  background-color:#c95b74;
  padding:5px 0 10px 20px;
  color:#fff;
  top:50px;
  left:500px;
  border-radius:10px;
  float:left;
}

.notice{
}

.notice h4{
  width:680px;
  border-bottom:1px solid white;
  padding-top:5px;
  padding-bottom:5px;
}

.notice h4 img{
  padding-top:5px;
  width:15px;
  height:15px;
  float:right;
}

.notice li{
  list-style:disc;
  list-style-position: inside;
  font-size:12px;
  padding-left:5px;
}

.notice li:hover{
  text-decoration:underline;
  cursor: pointer;
}


.notice .fristline{
  width:320px;
  height:80px;
  padding:10px 0 10px 0;
  float:left;
  margin-right:30px;
}

.notice .fristline li{
  float:left;
  line-height:30px;
  width:320px;
}

.fristline li span{
  float:right;
}

.notice .secondline{
  width:320px;
  height:80px;
  padding:10px 0 10px 0;
  float:left;
}

.notice .secondline li{
  float:left;
  line-height:30px;
  width:320px;
}

.secondline li span{
  float:right;
}

/*use_guide*/

.use_guide{
  position:relative;
  width:350px;
  height:150px;
  left:1250px;
  top:50px;
  border-radius:10px;
  background-color:#fff;

}

.use_guide ul{
  position:absolute;
}

.use_guide ul p{
  font-weight:600;
  margin-top:10px;
}

.use_guide li{
  float:left;
  margin-left:20px;
  padding-left:50px;
  padding-top:30px;
}
