/*Notice*/

.notice_wrap{
  position:relative;

}

.notice{
  position:absolute;
  width:700px;
  height:150px;
  background-color:#c95b74;
  top:100px;
  left:26%;
  padding:10px 0 10px 20px;
  color:#fff;

}

.notice h4{
  width:650px;
  border-bottom:1px solid white;
  padding-bottom:5px;
}

.notice li{
  list-style:disc;
  list-style-position: inside;
  font-size:12px;
  padding-left:5px;

}

.notice li:hover{
  text-decoration:underline;
  cursor: pointer;
}

.notice li span{
  text-align:right;
}

.notice .firstline{
  width:320px;
  height:80px;
  padding:10px 0 10px 0;
  float:left;
  margin-right:30px;
}

.notice .firstline li{
  float:left;
  line-height:30px;
}

.notice .secondline{
  width:320px;
  height:80px;
  padding:10px 0 10px 0;
  float:left;
}

.notice .secondline li{
  float:left;
  line-height:30px;
}
