/*메인 팝업*/
#full_content{
    width: 540px;
    height: 540px;
    background: #fff;
    z-index: 9999;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -265px;
}
.full_inner{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
#full_content h2{
    color:#071f45;
    text-align: center;
    padding-top:20px;
    padding-bottom:15px;
    border-bottom: 2px solid #071f45;
    margin: 0 auto;
}

#full_content p{
    color:#959595;
    font-size:15px;
    margin:15px 0;
}

#full_content ul{
    background-color:#e7e7e7;
    padding:10px;
    border-radius: 5px;
}

#full_content ul li{
    margin:10px 0;
    line-height: 1.4;
    color:#222;
    background: url('../img/check.png') no-repeat 0 3px / 20px ;
    padding-left:25px;
    font-weight:600;
}

#full_content form{
    display: inline-block;
    float: left;
    margin-top: 3px;
}
#full_content .close_btn{
    float: right;
    background: #1b2f4a;
    text-align: center;
    padding: 5px 0;
    width: 70px;
    color: #fff;
    border-radius: 5px;
}
#shadow{
    position: absolute;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/*내 자산관리 물음표 클릭시*/

#question_mark_active{
    width: 900px;
    background: #fff;
    z-index: 9999;
    padding: 20px;
    position: fixed;
    left: 43%;
    top: 11%;
    margin-left: -265px;
    display: none;
}
.question_mark_active_inner{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
#question_mark_active h2{
    color:#071f45;
    text-align: center;
    padding-top:20px;
    padding-bottom:15px;
    border-bottom: 2px solid #071f45;
    margin: 0 auto;
}

#question_mark_active p{
    color: #222;
    font-size: 15px;
    margin: 15px 0;
    line-height: 23px;
    padding-bottom: 20px;
}

#question_mark_active .close_btn{
    background: #1b2f4a;
    text-align: center;
    padding: 5px 20px;
    width: 70px;
    color: #fff;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
#qustion_mark_active_full #shadow{
    position: absolute;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;

}

/*출금신청 팝업*/
#full_output_KRW{
    width: 450px;
    height: 420px;
    background: #fff;
    z-index: 9999;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -265px;
}
.full_inner{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
#full_output_KRW h2{
    color:#071f45;
    text-align: center;
    padding-top:20px;
    padding-bottom:15px;
    border-bottom: 2px solid #071f45;
    margin: 0 auto;
}

#full_output_KRW p{
    color:#959595;
    font-size:16px;
    margin:15px 0;
    text-align: center;
}
#full_output_KRW .check_your_money_again{
    font-weight: 600;
    color: #071f45;
    font-size: 21px;
    text-indent:1px;
    margin-right: 2px;
}
#full_output_KRW .close_btn{
    float: right;
    background: #1b2f4a;
    text-align: center;
    padding: 5px 0;
    width: 70px;
    color: #fff;
    border-radius: 5px;
}
#full_output_KRW .cancel_or_apply{
    text-align: center;
}
#full_output_KRW .agree_btn{
    border: 1px solid #1b2f4a;
    background-color: #1b2f4a;
    cursor: pointer;
}

/*나머지 팝업들*/

.popupbox{
  width:427px;
  height:303px;
  box-shadow: 0 1px 2px rgba(100,100,100,.2);
  border-radius:5px;
  background-color: #fff;
  box-sizing: border-box;
}
.popupbox_inner{
  text-align:center;
}
.popupbox_inner .popupbox_title{
  width:336px;
  font-size:25px;
  font-weight:600;
  border-bottom:1px solid #1b2f4a;
  margin:30px 45.5px;
  padding-top:40px;
  padding-bottom:20px;
  color:#1b2f4a;
}
.popupbox_text{
  font-size:12px;
  padding-bottom:20px;
  line-height:1em;
  color:#666666;
}
.popupbox_text b{
  color:#1b2f4a;
}
.popupbt{
  border-radius:5px;
  background:none;
  border:none;
  font-size:14px;
  font-weight:600;
}
.next{
  border:1px solid #1b2f4a;
  padding:5px 20px;
}
.ok{
  border:1px solid #1b2f4a;
  background-color:#1b2f4a;
  color:#fff;
  padding:5px 20px;
}
.ok2{
  border:1px solid #1b2f4a;
  background-color:#1b2f4a;
  color:#fff;
  padding:5px 40px;
}
