/*  코인선택 영역(coinSelect_area) */
.fr{float:right}
.fl{float:left}
.cb{clear: both;}
.cf:after{content: ''; clear:both; display:block; visibility:hidden; height:0;}
.color_bk{color:black;}

/*수정할것들*/

#mywallet_tab .mycoin_tbody_deco .red{
    color:#ff2323;
}
#mywallet_tab .mycoin_tbody_deco .bl{
    color:#002dae;
}
.tab2_header .days{
  float:right;
  font-size:15px;
  padding: 5px 0;
}
.tab2_header .days input{
  font-size:14px;
  height: 30px;
  text-indent: 3px;
}
.tab2_header .days ::-webkit-inner-spin-button {
     height: 30px;
     margin-left: 5px;
 }
 .tab2_header .days ::-webkit-calendar-picker-indicator  {
     color: rgba(0, 0, 0, 0);
     background: url(../img/cal.png) no-repeat 100%; background-size:cover;
     padding-left:10px;
  }
.tab2_header .days span{
  float:left;
  margin:0 5px;
  line-height:32px;
  font-weight: 600;
  color: #1b2f4a;
}
.tab2_header .days div{
  float:left;
}

.tab2_header .days .search_btn{
  width:50px;
  height:35px;
  margin-left:10px;
  background-color:#1b2f4a;
  color:#fff;
  font-weight:600;
  cursor:pointer;
  border: none;
}

/*전체선택 모든것*/
 .table_top {
	margin-bottom:30px;
}
.selectAll{
  padding:2px 0;
}
.selectAll select{
  font-size:14px;
  height: 34px;
  text-indent: 3px;
}
/*tab2*/
.table_top .tab2_header {
  overflow: hidden;
}
.tab2_header .days{
  font-size:15px;
}

.table_top .days input{
  font-size:14px;
  text-indent: 3px;
}
.tab2_header .days ::-webkit-inner-spin-button {
     margin-left: 5px;
 }
 .tab2_header .days ::-webkit-calendar-picker-indicator  {
     color: rgba(0, 0, 0, 0);
     background: url(../img/cal.png) no-repeat 100%;
     padding-left:10px;
  }
.tab2_header .days span{
  float:left;
  margin:0 5px;
  line-height:32px;
  font-weight: 600;
  color: #1b2f4a;
}

table.mycoin_table{
  margin: 0 auto;
  font-size:14px;
}
table .mycoin_thead_deco{
  background-color: #e8eaed;
}
table .mycoin_thead_deco tr{
  border-bottom: 2px solid #1b2f4a;
  background-color:#f4f5f8;
}
.mycoin_thead_deco th select {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #1b2f4a;
  color: #1b2f4a;
  font-weight: 600;
  font-size: 14px;
  background-color:#f4f5f8;
  margin:0 -2px;
}
table .mycoin_thead_deco th{
  padding:15px 8px;
}

table .mycoin_thead_deco th a{
  /* float:right; */
  font-weight: lighter;
  font-weight: 600;
  font-size:14px;
  color: #1b2f4a;
}
table .mycoin_thead_deco th.mycoin_kor a{
  margin-left:10px;
}
table .mycoin_tbody_deco tr{
  border-bottom: 1px solid #efefef;
  height:45px;
}
table .mycoin_tbody_deco td{

}
table .mycoin_tbody_deco>tr>td>img{
  float:left;
  margin: 2px;
  margin-right:10px;
}
.mycoin_name{
  padding: 3px 10px;
}
/*입출금내역 버튼 영역*/
.btn_small2{
  padding: 2px 8px;
  margin:0 2px;
  background-color: white;
  color:#1b2f4a; border: 1px solid #1b2f4a;
  cursor:pointer;
}
.btn_small2:hover{
  color:white;
  background-color: #1b2f4a;
}

/* 페이징(공지사항, 체결/미체결) */
.contentBottom{
  padding:20px 0;
  text-align:center;
}
.contentBottom .paging a {
    display:inline-block;
    width:20px;
    height:20px;
    text-align: center;
    font-size:14px;
    font-weight:400;
    margin-top:5px;
}
.contentBottom .paging a img {
  width: 7px;
  vertical-align: middle;
}
