/* 알림 상세(alarm_detail) */

.alarm_area .alarm_inner{
  overflow:hidden;
}

.alarm_area .alarm_head{
  overflow:hidden;
  margin-bottom:10px;
}
.alarm_area .alarm_head #alarm_select {
    float: left;
    width:100px;
    padding:5px 10px;
    margin-top:5px;
    border: 1px solid #fff;
    color: #fff;
  }
  .alarm_area .alarm_head #alarm_select option{
    background:#0E141C;
  }
.alarm_area .alarm_list{
  border:1px solid #7AABDF;
  border-collapse: inherit;
}
.alarm_area .alarm_list thead{
  background:#05080B;
  color:#7AABDF;
}
.alarm_area .alarm_list thead th{
  padding:10px 0;
  border-bottom: 2px solid #7AABDF;
  font-size:15px;
}
.alarm_area .alarm_list tbody td{
  font-size:15px;
  border-bottom:2px solid #0E141C;
  padding:10px 0;
}
.alarm_area .alarm_list tbody .culgm, .alarm_area .alarm_list tbody .mado{
  color:#017eff;
}
.alarm_area .alarm_list tbody .ipgm, .alarm_area .alarm_list tbody .masu{
  color:#f35531;
}

.alarm_area .alarm_list tbody .new{
  color:#f35531;
  font-size:11px;
  vertical-align: 1px;
  margin-left:7px;
}
#left_text{
  text-align:left;
  padding-left:100px;
}

/* 알림 설정(alarm_setting)*/

.alarm_area .alarm_setting{
  width:700px;
  text-align:center;
  margin-left:100px;
}
.alarm_area .alarm_setting p.title{
  width:300px;
  font-weight:600;
  color:#7AABDF;
  margin:30px 100px;
  text-align:left;
}
.alarm_area .alarm_setting .alarm_sangse_pyo1{
  width:500px;
  margin-left:100px;
  border:1px solid #7AABDF;
  border-collapse:inherit;
}
.alarm_area .alarm_setting .alarm_sangse_pyo1 th{
  padding:10px 10px;
  color:#7AABDF;
  background-color:#05080B;
  border-bottom:2px solid #7AABDF;
  font-weight: 600;
}
.alarm_area .alarm_setting .alarm_sangse_pyo1 td{
  padding:10px 10px;
  border-bottom:2px solid #0E141C;
  font-weight: 600;
}
/* .alarm_area .alarm_setting .alarm_sangse_pyo1 input{
  border:1px solid #7AABDF;
  display:inline-block;
  padding:2px 5px;
  font-size:12px;
  cursor:pointer;
} */
/* .alarm_area .alarm_sangse .alarm_sangse_pyo1 .alarm_on{
  color:#fff;
  background:#7AABDF;
}
.alarm_area .alarm_sangse .alarm_sangse_pyo1 .alarm_off{
  color:#7AABDF;
  margin-left:-5px;
  background:#fff;
} */
.alarm_area .alarm_setting .alarm_sangse_pyo1 td.toggle_area .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  vertical-align:middle;
}

/* on/off 토글 */
.alarm_area .alarm_setting .alarm_sangse_pyo1 td.toggle_area .switch input {
  display:none;
}

/* The slider */
.alarm_area .alarm_setting .alarm_sangse_pyo1 td.toggle_area .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7AABDF;
  -webkit-transition: .4s;
  transition: .4s;
}

.alarm_area .alarm_setting .alarm_sangse_pyo1 td.toggle_area .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_area input:checked + .slider {
  background-color: #7AABDF;
}

.toggle_area input:focus + .slider {
  box-shadow: 0 0 1px #7AABDF;
}

.toggle_area input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.alarm_area .alarm_setting .alarm_sangse_pyo1 td.toggle_area .slider.round {
  border-radius: 34px;
}

.alarm_area .alarm_setting .alarm_sangse_pyo1 td.toggle_area .slider.round:before {
  border-radius: 50%;
}

.alarm_area .alarm_setting .alarm_sangse_pyo1 td.toggle_area p {
  margin:0px;
  display:inline-block;
  font-size:15px;
  color: #7AABDF;
  margin-left: 60px;
}

.alarm_area .alarm_sangse2{
  margin-top:20px;
}
.alarm_area .alarm_setting .alarm_sangse_pyo2{
  font-weight:600;
  width:500px;
  text-align:left;
  margin-left:100px;
  margin-bottom:40px;
  line-height:2em;
}

.alarm_area .alarm_setting .alarm_snagse_checkbox{
  width:500px;
  text-align:left;
  border-top:1px solid #333;
  padding-top:10px;
  padding-bottom:50px;
  margin-left:100px;
}
.alarm_area .alarm_setting .alarm_sangse_bt .alarm_reset_bt{
  border-radius: 5px;
  padding: 7px 30px;
  color: #7AABDF;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  border:1px solid #7AABDF;
  background:#fff;
}
.alarm_area .alarm_setting .alarm_sangse_bt .save_bt{
  background: #7AABDF;
  border: 1px solid #7AABDF;
  border-radius: 5px;
  padding: 7px 30px;
  color: #0E141C;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.alarm_area .alarm_setting .alarm_sangse_bt .save_bt:hover {
}
#full{
  display:none;
}
#full .popupbox_text{
  margin-bottom:40px;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}
@media all and (min-width:1025px) and (max-width:1599px){
  /*알람*/
  .alarm_area .alarm_list thead th{
    font-size:12px;
  }
  .alarm_area .alarm_list tbody td{
    font-size:12px;
  }
  #left_text{
    padding-left:1%;
  }
  /*알람setting*/
  .alarm_area .alarm_setting{
    margin-left:0;
  }
  .alarm_area .alarm_setting .alarm_sangse_pyo1{
    width:50%;
  }
  .alarm_area .alarm_setting p.title{
    margin:30px 14%;
  }
  .alarm_area .alarm_setting .alarm_sangse_pyo1 th{
    font-size:12px;
  }
  .alarm_area .alarm_setting .alarm_sangse_pyo1 td{
    font-size:12px;
  }
  .alarm_area .alarm_setting .alarm_sangse_pyo2{
    font-size:12px;
  }
}
