@media all and (min-width:320px) and (max-width:1024px){
  .app_page_content{
    text-align: center;
  }
  .app_page_content .app_bg{
    width:100%;
    text-align: center;
  }
  .app_page_content .app_img{
    width:80%;
  }
  .app_page_content .app_page_story{
    display:inline-block;
    width:80%;
    font-size:80%;
    font-weight:600;
    margin:15px 0;
    text-align: center;
  }
  .app_page_content .app_page_story p{
    color:#7AABDF;
    font-size: 15px;
  }
  .app_page_content .app_page_story .app_box{
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    padding: 0 17px;
  }
  .app_page_content .app_page_story .app_box p{
    float:left;
  }
  .app_page_content .app_page_story ul{
    float:left;
    margin-top: 3px;
    color: #666;
  }
  .app_page_content .app_page_story li{
    text-align: left;
    padding-left:15px;
    color: #fff;
  }
  .app_page_content .app_page_story li.title {
    color: #7AABDF;
  }
  .app_page_content .app_page_story .star{
    color:#ffd000;
  }
  .app_page_content .app_page_story input.android_bt, .app_page_content .app_page_story input.ios_bt{
    /* background-image: linear-gradient(to right, #06908c 0%, #0d566c 100%); */
    background: #7AABDF;
    border: none;
    color: #0E141C;
    padding: 10px 0;
    font-size: 13px;
    width: 90%;
    border-radius: 50px;
    margin-top: 10px;
    box-shadow: 1px 2px 4px #555;
  }
}
