/*table*/
.myinfo_sub_box table{
  margin-bottom:30px;
}
.myinfo_sub_box table.left_thick_table tr th{
  padding: 10px 10px 10px 16px;
}
.myinfo_sub_box table.left_thick_table tr td{
  padding: 10px 20px 10px 16px;
  font-size: 15px;
  position:relative;
}
.myinfo_sub_box table.left_thick_table tr td span{
margin-left: 10px;
}
.myinfo_sub_box table.left_thick_table tr td b.complete {
  color: #7AABDF;
}
.myinfo_sub_box table.left_thick_table tbody input[type='button']{
    border: 1px solid #7AABDF;
    background: none;
    color: #7AABDF;
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size:15px;
}
.myinfo_sub_box table.left_thick_table tbody input[type='button']:hover{
    border: 1px solid #7AABDF;
    background: #7AABDF;
    color: #0E141C;
    padding: 3px 5px;
    cursor: pointer;
}
.myinfo_sub_box table.left_thick_table tbody input[type='password'],
.myinfo_sub_box table.left_thick_table tbody input[type='text'] {
    border: none;
    border-bottom: 1px solid #7AABDF;
    width: 330px;
    padding-bottom: 4px;
    font-size: 15px;
    background:none;
    color:#fff;
}
.myinfo_sub_box table.left_thick_table tbody input::placeholder{
    color:#fff;
    font-size:14px;
}
table td div.question_smallbox{
  display: inline-block;
  position:relative;
  cursor:pointer;
}
table .password_question_detail, table .password_question_detail2{
  box-sizing: border-box;
  padding:20px;
  color:white;
  background-color:#7AABDF;
  border-radius: 5px;
  opacity:0.9; position:absolute;
  width:600px;
  top:40px;
  left:-290px;
  line-height: 25px;
  visibility: hidden;
  cursor: auto;
}
table .password_question_detail2{
    width:450px;
    left:-210px;
    z-index:15;
    color:#0E141C;
    opacity:1;
}
table .password_question_detail strong, table .password_question_detail2 strong {
  display: block;
  margin-bottom: 10px;
}
table .password_question_detail:before, table .password_question_detail2:before  {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-bottom:10px solid #7AABDF;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  opacity:0.9;
  }
  table td div.question_smallbox:hover .password_question_detail,  table td div.question_smallbox:hover .password_question_detail2{
    visibility: visible;
  }
/*cancel_or_apply*/
.myinfo_sub_box .cancel_or_apply{
  text-align:center;
}

.cer_center .myinfo_text_box h3{
  color:#7AABDF;
}

/*핸드폰,계좌변경,OTP변경 페이지 통일*/

.myinfo_sub_box .send_login_password .table_title{
  color:#7AABDF;
  font-weight:600;
  margin-bottom:20px;
}
.myinfo_sub_box .left_thick_table .cofirm_number{
  border: 1px solid #7AABDF;
  background: #fff;
  color: #7AABDF;
  padding: 3px 5px;
  cursor: pointer;
  margin-left: 5px;
  font-size:15px;
}
.myinfo_sub_box .left_thick_table .cofirm_number:hover{
  background:#7AABDF;
  color:#fff;
}

.myinfo_text_box{
  padding:50px 0;
  font-weight:600;
  display:block;
  font-size:15px;
  text-align:center;
}

.myinfo_text_box span{
  color:#eaaf69;
}
.cer_center .cancel_or_apply{
  text-align:center;
  margin-bottom:50px;
}
.send_login_password .cancel_or_apply{
  text-align:center;
  margin-bottom:50px;
}
#full{
  display:none;
}
#full .popupbox_text{
  margin-top:20px;
  margin-bottom:50px;
}

.count_down{
  position:absolute;
  font-size:14px;
  right:370px;
  margin-top:4.5px;
  color:#f35531;
}
.warning_icon{
  vertical-align: -3px;
  margin-right: 2px;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}
@media all and (min-width:1025px) and (max-width:1599px){
  .myinfo_sub_box table.left_thick_table tbody input[type='password'],
  .myinfo_sub_box table.left_thick_table tbody input[type='text']
  {
    width:300px;
  }
  table .password_question_detail2{
    font-size:12px;
  }
  .myinfo_text_box{
    font-size:12px;
  }
}
