
.common_table_content .common_table thead {
    border-bottom: 2px solid #7AABDF;
    background-color: #05080B;
    line-height: 50px;
    color: #7AABDF;
}
.common_table_content .common_table tbody tr th,
.common_table_content .common_table tbody tr td{
    line-height: 55px;
}
.common_table_content .common_table tbody tr td{
    font-size: 14px;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
}
.common_table_content .common_table tbody tr th{
    color: #7AABDF;
    font-size: 15px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.common_table_content .common_table .long_th{
    line-height: 1.3;
}
.common_table_content .common_table tbody tr.certification_method td{
    color: #7AABDF;
    font-weight: 600;
    font-size: 15px;
    border-top: none;
}
.common_table_content .common_table tbody tr.certification_method th{
    border-top: none;
}

/*수수료 안내*/
.common_table_content .mypage_content .input_output_fee thead{
    line-height: 40px;
    height: 40px;
}
.common_table_content .mypage_content .input_output_fee thead tr th{
    border: 1px solid #999;
    border-top: none;
    border-left: none;
}
.common_table_content .mypage_content .input_output_fee thead tr th.thead_th{
    border-right: none;
}
.common_table_content .mypage_content .deal_fee,
.common_table_content .mypage_content .input_output_fee{
    margin-bottom: 50px;
}
.common_table_content .mypage_content .deal_fee tbody tr td{
    border:none;
    border-bottom: 1px solid #f4f5f9;
}
.common_table_content .mypage_content .input_output_fee .border_none{
    border-right: none;
}
@media all and (min-width:320px) and (max-width:1024px){
  .common_table_content .common_table thead,.common_table_content .mypage_content .input_output_fee thead tr, .common_table_content .common_table .long_th, .common_table_content .common_table tbody tr td {
    font-size: 12px;
  }

}
@media all and (min-width:1025px) and (max-width:1599px){
  .common_table_content .mypage_content .deal_fee, .common_table_content .mypage_content .input_output_fee{
    font-size:12px;
  }
  .common_table_content .common_table tbody tr th{
    font-size:12px;
  }
  .common_table_content .mypage_content .deal_fee tbody tr td{
    font-size:12px;
  }
  .common_table_content .common_table tbody tr td{
    font-size:12px;
  }
}
