
.greetings_area .greetings_inner{
    padding: 10px;
    margin-bottom: 0;
    width: 100%;
}
.greetings_area .greetings_inner h2{
  font-size:25px;
  text-align: left;
  margin-bottom:20px;
  color: #1b2f4a;
}
.greetings_area .greetings_story{
    text-align: left;
    display: inline-block;
    height: 800px;
    padding: 10px 20px 10px 10px;
    overflow-y: scroll;
}
.greetings_inner .greetings_story .gr_title {
  font-size: 25px;
  color: #999;
}
.greetings_inner .greetings_story .gr_title img {
  width: 40px;
}
.greetings_inner .greetings_story .gr_title span {
  font-size: 27px;
  color: #009CFF;
  font-weight: 600;
}
.greetings_inner .greetings_story .greetings_img{
  width:905px;
  height:300px;
  display: none;
}
.greetings_inner .greetings_story .textL .advTxt b{
    font-size: 25px;
    margin-top: 30px;
    display: block;
}

.greetings_inner .greetings_story .textR{
    text-align: left;
    margin-top: 30px;
}

.greetings_inner .greetings_story .textL .count {
  width: 80px;
}
.greetings_inner .greetings_story .textL .import {
    display: inline-block;
    width: 90%;
    vertical-align: 18px;
    font-weight: 600;
    color: #009CFF;
    font-size: 17px;
}
.greetings_inner .greetings_story .greetings_sign{
  height:130px;
  margin-bottom: 30px;
}
.greetings_inner .greetings_story .right_sign{
  text-align: right;
}
.greetings_inner .greetings_text{
    height: 130px;
    margin-bottom: 20px;
}
#full #content .close_btn{
    width: 100px;
    float: none;
    display: block;
    margin: 0 auto;
}
