/* header */
#header_wrap {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 5;
}
#header {
    color: #fff;
    height: inherit;
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(to right, #73d3d7 0%, #808CE6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73d3d7', endColorstr='#808CE6'); /*IE9 크로스브라우징*/
    box-sizing: border-box;
    border-radius: 0 0 25px 25px;
}
#header .current_coin {
  text-align: center;
  width: 100%;
}
#header .current_coin ul {
  display: block;
  overflow: hidden;
  padding:6px 0;
  text-align: left;
}
#header .current_coin ul li.stock_header{
  float: left;
  font-size: 14px;
  width: 14.25%;
  box-sizing: border-box;
  text-align: center;
  color: #0E141C;
}
/*주가*/
#header .current_coin ul li.stock_header .stock{
  height:10px;
  overflow: hidden;
  text-align: center;
  margin-top:-3px;
}
#header .current_coin ul li.stock_header .stock p{
  text-align: center;
  display: inline-block;

}
/*주가테스트*/

#header .current_coin ul li .current_pri {
  font-weight: 600;
}
#header .current_coin li.stock_header + li {
  border-left: 1px solid #0E141C;
}
#header .current_coin ul li b {
  display: inline-block;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  padding: 0 7px;
  margin-top: 5px;
}
#header .current_coin ul li b.up {
  color: #f35531;
}
#header .current_coin ul li b.down {
  color: #017eff;
}

/* 모바일 hide */
#m_headerWrap {
  display: none;
}

/* mobile ver */
@media all and (min-width:320px) and (max-width:1024px){
  #m_headerWrap {
    display: block;
    background-color: #7AABDF;
    position: fixed;
    top:0;
    z-index: 997;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    height: 60px;
    box-sizing: border-box;
  }
  #m_headerWrap h1 a {
    display: inline-block;
  }
  #m_headerWrap h1 img {
    width: 80px;
  }
  /* PC Hide */
  #header_wrap{
      display: none;
  }
}

/*PC 1024 - 1599*/
@media all and (min-width:1025px) and (max-width:1599px){
    #header_wrap{
        left: 8%;
    }
    #header .current_coin ul li.stock_header{
        font-size: 13px;
    }
}
