.main_content {
  width: 1300px;
  margin: 10% auto;
  height: auto;
}
/* slideul */

#imgbox{
  width:100%;
  height: 300px;
  margin-bottom: 10px;

}
.imgbox_inner{
  position:relative;
  overflow:hidden;
  width:1300px;
  height:300px;

}
.imgslide{
  position:absolute;
  width:1300px;
  height:300px;

}
.imgslide li{
  width:100%;
  height:300px;
}

.imgbox_inner .imgslide .img1{
  background:url(../img/banner01.png) no-repeat 0 0; background-size:cover;
}
.imgbox_inner .imgslide .img2{
  background:url(../img/banner02.png) no-repeat 0 0; background-size:cover;
}
.imgbox_inner .imgslide .img3{
  background:url(../img/banner03.png) no-repeat 0 0; background-size:cover;
}
.imgbox_inner .imgslide .img4{
  background:url(../img/banner04.png) no-repeat 0 0; background-size:cover;
}
.imgbox_inner .imgslide .img5{
  background:url(../img/banner05.png) no-repeat 0 0; background-size:cover;
}
.prev1 img{
  position:absolute;
  top:120px;
  left:20px;
  width:30px;
  height:30px;
  cursor:pointer;
}
.next1 img{
  position:absolute;
  top:120px;
  right:25px;
  width:30px;
  height:30px;
  cursor:pointer;
}

/*.slideWrap {
  margin-bottom: 10px;
  position: relative;
}
.slideWrap a{
  font-size:14px;
  color:#000;
  text-decoration:none;
}

.slideWrap a:visited{
  color:#000;
  text-decoration:none;
}

.slideUl{
  position: relative;
  z-index: 2;
  width: 1300px;
  height: 300px;
}

.slideUl li{
  display:none;
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  height:inherit;
  text-align:center;
  border-radius:5px;
}

.slideUl li.banner1{
  background:url(../img/banner01.png) no-repeat 0 0;
  background-size:cover;
}

.slideUl li.banner2{
  background:url(../img/banner02.png) no-repeat 0 0;
  background-size:cover;
}

.slideUl li.banner3{
  background:url(../img/banner03.png) no-repeat 0 0;
  background-size:cover;
}

.slideUl li.banner4{
  background:url(../img/banner04.png) no-repeat 0 0;
  background-size:cover;
}

.slideUl li.banner5{
  background:url(../img/banner05.png) no-repeat 0 0;
  background-size:cover;
}

.prevBtn,.nextBtn{
  position:absolute;
  z-index:3;
  font-size:30px;
  font-weight:bold;
  color:#880000
}

.prevBtn{
  left:1%;
  bottom:47%;
  width:30px;
  height:30px;
  background:url(../img/arrow_white_prev.png) no-repeat 0 0;
  background-size:cover;
  display:inline-block;
}

.nextBtn{
  right:1%;
  bottom:47%;
  width:30px;
  height:30px;
  background:url(../img/arrow_white_next.png) no-repeat 0 0;
  background-size:cover;
  display:inline-block;
} */



/*μ½”μΈν„ν™©*/

.main_content .bitcoin_card_wrap   {
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  height: 270px;
  position: relative;
}

.main_content .bitcoin_card_wrap .bitcoin_card{
    width: 1200px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    top:23px;
}

.main_content ul.bitcoin_card_inner{
  width: 2000px;
  position: absolute;
  top: 0;
  left: 0;
}

.main_content ul.bitcoin_card_inner li{
    float: left;
    width: 200px;
    margin:0 20px;
    padding-top:15px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 5px 7px 15px rgba(100,100,100,0.3);
}


.main_content ul.bitcoin_card_inner li p{
    color:#333;
    font-weight: 600;
    margin-bottom:8px;
}
.main_content ul.bitcoin_card_inner li p img {
  margin-right: 3px;
}
.main_content ul.bitcoin_card_inner li p:nth-child(3){
    margin-bottom:0;
}

.main_content ul.bitcoin_card_inner li p.percent_up{
    color:#d60000;
}
.main_content ul.bitcoin_card_inner li p.percent_down{
    color:#002dae;
}

.main_content ul.bitcoin_card_inner .buy_sell_button{
    height: 45px;
    line-height: 45px;
    margin-top:20px;
}

.main_content ul.bitcoin_card_inner .buy_sell_button a{
    text-align: center;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    height: 45px;
    font-weight: 600;
}

.main_content ul.bitcoin_card_inner .buy_sell_button .buy_button{
    border-top:3px solid #d60000;
    color:#d60000;
    border-right:1px solid rgba(255,255,255,0.3);
}

.main_content ul.bitcoin_card_inner .buy_sell_button .buy_button:hover{
    border-top:3px solid #d60000;
    color:#fff;
    background:#d60000;
    border-right:none;
}

.main_content ul.bitcoin_card_inner .buy_sell_button .sell_button{
    border-top:3px solid #002dae;
    color:#002dae;
}

.main_content ul.bitcoin_card_inner .buy_sell_button .sell_button:hover{
    border-top:3px solid #002dae;
    color:#fff;
    background:#002dae;
}

.main_content .bitcoin_card_btn .prev{
    position: absolute;
    top:110px;
    left:20px;
}

.main_content .bitcoin_card_btn .next{
    position: absolute;
    top:110px;
    right: 20px;
}
.main_content .bitcoin_card_btn a img{
    width: 32px;
    height: 32px;
}
.coin_ADA{
    width: 31px;
    height: 31px;
}


/*Notice*/

.notice{
    width: 733px;
    height: 150px;
    color: #fff;
    border-radius: 5px;
    float: left;
    border: 1px solid #1b2f4a;
    box-shadow: 3px 2px 15px rgba(100,100,100,0.3);
}
.notice h4{
    width: 710px;
    background: #1b2f4a;
    color: #fff;
    border-radius: 5px 5px 0 0;
    float: left;
    padding: 10px 0 10px 23px;
}
.notice h4 img{
    padding-top: 3px;
    width: 15px;
    height: 15px;
    float: right;
    padding-right: 10px;
}
.notice ul{
    width: 45%;
    height: 80px;
    padding: 10px 0 10px 0;
    float: left;
    margin-left: 22px;
}
.notice ul li{
    float: left;
    line-height: 25px;
    width: 320px;
    padding-left: 5px;
    overflow: hidden;
}
.notice ul li:hover b{
  text-decoration:underline;
}
.notice ul li a {
    width: inherit;
    color: #1b2f4a;
    display: inline-block;
    font-size: 13px;
}
.notice ul li b {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  width: 80%;
}
.notice ul li b:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1b2f4a;
    margin-right: 10px;
    vertical-align: 2px;
}
.notice ul li span{
    float: left;
    display: block;
    text-align: right;
    width: 20%;
}

/*use_guide*/

.use_guide{
  width: 560px;
  height: 155px;
  float:right;
  padding: 25px 0;
  box-sizing: border-box;
}

.use_guide ul{
  overflow: hidden;
}

.use_guide ul p{
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
  background-color: #eaaf69;
  border-radius: 14px;
  padding: 3px 0;
}
.use_guide ul p:hover {
  background-color: rgba(234,175,105,.8)
}
.use_guide li{
  float: left;
  margin-left: 20px;
  text-align: center;
  width: 20%;
}
#app_wrap{
  display:none;
}

@media all and (min-width:320px) and (max-width:768px){
      #wrap{
        display:none;
      }
      #app_wrap{
        display:block;
      }
      #app_container{
          position: relative;
      }
      #full{
        display:none;
      }

    .app_main_content{
      text-align: center;
    }
    /*app_main_step1*/
    .app_main_content .app_main_step1{
      text-align: center;
      height:600px;
      background:#1b2f4a;
    }
    .app_main_content .app_main_step1 span{
      color:#fff;
    }
    .app_main_content .app_main_step1 .logo_area{
      padding-top:60px;
      padding-bottom:20px;
    }
    .app_main_content .app_main_step1 .phone_area{
      position:relative;
    }
    .app_main_content .app_main_step1 .phone_area .phone_main img{

    }
    .app_main_content .app_main_step1 .phone_area .coin_img img{
      position: absolute;
      top:55%;
      left:73%;
      z-index: 10;
      display: none;
    }
    .app_main_content .app_main_step1 .phone_area input[type=button]{
      border: none;
      position:absolute;
      color: #fff;
      padding: 12px 0;
      width: 78%;
      border-radius: 50px;
      margin-left: 5px;
      box-shadow: 1px 2px 10px #081321;
      left: 10%;
      font-size: 14px;
    }
    .app_main_content .app_main_step1 .phone_area input[type=button].android_down {
      background-image: linear-gradient(to right, #06908c 0%, #0d566c 100%);
      top: 72%;
    }
    .app_main_content .app_main_step1 .phone_area input[type=button].ios_down {
      background-image: linear-gradient(to right, #06908c 0%, #0d566c 100%);
      top:86%;
    }
    .app_main_content .app_main_step1 .phone_area input[type=button].app_exchange_bt {
      top: 97%;
      color: #30afb8;
      font-size: 13px;
      box-shadow: none;
      left: 55%;
      background: none;
      width: 30%;
    }

    /*app_main_step2*/

    #app_imgbox{
      width:100%;
      height: 500px;

    }
    .app_imgbox_inner{
      position:relative;
      overflow:hidden;
      width:100%;
      height:500px;

    }
    .app_imgslide{
      position:absolute;
      width:100%;
      height:500px;

    }
    .app_imgslide li{
      width:100%;
      height:500px;
    }
    .app_ql{
      float:left;
    }

    .app_imgbox_inner .app_imgslide .app_img1{
      background:url(../img/m_banner01.png) no-repeat 0 0; background-size:cover;
    }
    .app_imgbox_inner .app_imgslide .app_img2{
      background:url(../img/m_banner02.png) no-repeat 0 0; background-size:cover;
    }
    .app_imgbox_inner .app_imgslide .app_img3{
      background:url(../img/m_banner03.png) no-repeat 0 0; background-size:cover;
    }
    .app_imgbox_inner .app_imgslide .app_img4{
      background:url(../img/m_banner04.png) no-repeat 0 0; background-size:cover;
    }
    .app_imgbox_inner .app_imgslide .app_img5{
      background:url(../img/m_banner05.png) no-repeat 0 0; background-size:cover;
    }
    .app_prev1 img{
      position:absolute;
      top:250px;
      left:10px;
      width:30px;
      height:30px;
      cursor:pointer;
      opacity: 0.5;
    }
    .app_next1 img{
      position:absolute;
      top:250px;
      right:15px;
      width:30px;
      height:30px;
      cursor:pointer;
      opacity: 0.5;
    }

    /*app_main_step3*/
    .app_main_step3 img{
      width:100%;
    }
    .app_main_step3 .security_area p{
      background:#1b2f4a;
    }

    .submenu_mypage,
    .submenu_security
    {
        display: none;
    }
}
