/*회원탈퇴 step1*/

.withdrawal_area .withdrawal_text h4{
  font-weight:600;
  font-size:17px;
  color:#7AABDF;
}
.withdrawal_area .withdrawal_text strong{
  font-weight:600;
  color:#7AABDF;
  margin-bottom:20px;
  display:block;
}
.withdrawal_area .withdrawal_text p{
  font-size:14px;
}
.withdrawal_area .withdrawal_text .bb{
  color:#eaaf69;
}
.withdrawal_area .withdrawal_text .withdrawal_span{
  font-size:13px;
}

.withdrawal_area .withdrawal_text .withdrawal_bottom_line{
  padding-bottom:20px;
  border-bottom:1px solid #333;
  display:block;
}
.withdrawal_area .withdrawal_text #checkbox_text{
  margin-top:10px;
}

.withdrawal_area .withdrawal_text .checkbox_text{
  float:left;
  font-weight:600;
  font-size:14px;
  display:block;
  overflow:hidden;
}
.withdrawal_area .withdrawal_text .cancel_or_apply{
  text-align:center;
  margin-top:80px;
  margin-bottom:20px;
}

/*회원탈퇴 step2*/


.withdrawal_area .withdrawal_text2 p.red_point{
  width:900px;
  font-weight:600;
  font-size:25px;
  color:#eaaf69;
}
.withdrawal_area .withdrawal_text2 .my_all_money{
  width:300px;
  display:inline-block;
  background:#05080B;
  border:none;
  text-align:right;
  border-radius: 5px;
  padding:0 10px;
  color:#7AABDF;
}
.withdrawal_area .withdrawal_text2 strong{
  color:#7AABDF;
  padding:10px 0;
  margin:30px 0;
  border-bottom:2px solid #7AABDF;
  display:block;
}
.withdrawal_area .withdrawal_text2 .withdrawal_text2_inner{
  font-size:16px;
  font-weight:600;
}
.withdrawal_area .withdrawal_text2 .withdrawal_text2_inner p{
  margin-left:26px;
}
.withdrawal_area .withdrawal_text2 .withdrawal_text2_inner label{
  margin:2px 0;
}
.withdrawal_area .withdrawal_text2 .withdrawal_bottom_line{
  border-bottom:1px solid #eee;
  padding-bottom:20px;
  width:100%;
}
.withdrawal_area .withdrawal_text2 #checkbox_text2{
  margin-top:10px;
}
.withdrawal_area .withdrawal_text2 .cancel_or_apply{
  text-align:center;
  margin-top:50px;
  margin-bottom:20px;
}

/*회원탈퇴 step3*/
.withdrawal_area #withdrawal_text3 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
}
.withdrawal_area #withdrawal_text3 #warning_message{
  color: #f35531;
  margin-top: 4px;
  font-size: 11px;
  font-weight:500;
}
.withdrawal_area #withdrawal_text3 form table{
    width: 87%;
    margin: 35px auto -40px auto;
}
.withdrawal_area #withdrawal_text3 td{
  position:relative;
}
.withdrawal_area #withdrawal_text3 .get_rid_of_money{
    color: #7AABDF;
    font-weight: 600;
    background: none;
    width:200px;
    padding:5px 10px;
    text-align:left;
    display:block;
    background: #05080B;
}
.withdrawal_area #withdrawal_text3 .cancel_or_apply .if_you_not_all_agree{
    border: 1px solid #7AABDF;
    background: #7AABDF;
    color:#0E141C;
    cursor:pointer;
}
.withdrawal_area #withdrawal_text3 .cancel_or_apply .if_you_not_all_agree:hover {
}
/*회원탈퇴 step4*/
.withdrawal_area #withdrawal_text4 p{
    font-size: 14px;
    font-weight: 600;
}
.withdrawal_area #withdrawal_text4 select{
    border: 1px solid #fff;
    font-size: 15px;
    width: 500px;
    margin: 30px auto 0 auto;
    display: block;
    color: #fff;
    font-weight: 600;
    height: 35px;
}
.withdrawal_area #withdrawal_text4 option{
    background:#0E141C;
    font-weight: 600;
}
.withdrawal_area #withdrawal_text4 input[type='text']{
    width: 496px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    color: #7AABDF;
    font-weight: 600;
    height: 35px;
    border: none;
    border: 1px solid #7AABDF;
    font-size: 16px;
    padding-left: 4px;
    background: none;
}
.withdrawal_area #withdrawal_text4 textarea{
    width: 495px;
    margin: 10px auto 0 auto;
    height: 145px;
    display: block;
    padding: 5px 0 0 5px;
    border:1px solid #7AABDF;
    font-size: 15px;
    color:#fff;
}
.withdrawal_area #withdrawal_text4 textarea::placeholder{
    font-size: 14px;
}
.withdrawal_area #withdrawal_text4 .cancel_or_apply{
    margin-bottom: 36px;
}
/*회원탈퇴 step5*/
.withdrawal_area #withdrawal_text5 h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.withdrawal_area #withdrawal_text5 p{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}
.withdrawal_area #withdrawal_text3 .cofirm_number{
    border: 1px solid #7AABDF;
    background: none;
    color: #7AABDF;
    padding: 3px 5px;
    cursor: pointer;
    font-size:15px;
}
.withdrawal_area #withdrawal_text3 .cofirm_number:hover{
  background:#7AABDF;
  color:#0E141C;
}
#full{
  display:none;
}
#full .popupbox_text{
  margin-bottom:40px;
}
#full .leave_member_agree_btn{
  background: #7AABDF;
  border: 1px solid #7AABDF;
  border-radius: 5px;
  padding: 7px 30px;
  color: #0E141C;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.count_down{
  position:absolute;
  top:9px;
  right:185px;
  color:#f35531;
  font-size:14px;
}
.warning_icon{
  vertical-align: -3px;
  margin-right: 2px;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}
@media all and (min-width:1025px) and (max-width:1599px){
  .withdrawal_area .withdrawal_text p{
    font-size:12px;
  }
  .withdrawal_area .withdrawal_text2 .withdrawal_text2_inner label{
    font-size:12px;
  }
  .withdrawal_area #withdrawal_text3 p{
    font-size:12px;
  }
  .count_down{
    left:300px;
  }
}
