/* login_c_changePw */
.login_content #login_c_change_pw{
    position: relative;
}

.login_content #login_c_change_pw h3{
    color:#7AABDF;
    font-size:25px;
    padding-bottom:30px;
}
.login_content #login_c_change_pw .text_area{
  color: #fff;
  font-size: 15px;
  margin-bottom: 50px;
}
.gray_box_c_changePw{
  height:50px;
}
@media all and (min-width:320px) and (max-width:1024px){
  .login_content #login_area_responsive .text_area{
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
  }
}
