.login_content #login_change_pw{
    position: relative;
}
.login_content #login_change_pw form h3{
    color:#7AABDF;
    font-size:25px;
    padding-bottom:30px;
}
.login_content #login_change_pw p{
    color:#f35531;
    font-size:13px;
    margin-top:10px;
    margin-left:5px;
    margin-bottom: 20px;
}
.login_content #login_change_pw input{
    border-style:none;
    border-bottom:1px solid #7AABDF;
    font-size:15px;
    padding-bottom:5px;
    padding-left:5px;
    display: block;
    width: 95%;
    color: #fff;
}
.login_content #login_change_pw p.notfiy_info{
    display: block;
}
.login_content #login_change_pw p.notfiy_info_again{
    display: none;
}
.login_content #login_change_pw p.notfiy_info_wrong{
    display: none;
}
#login_change_pw .question_smallbox img{
    position: absolute;
    top: 60px;
    right: 21px;
    cursor: pointer;
}
#login_change_pw .question_smallbox:hover .password_question_detail{
    visibility: visible;
}
#login_change_pw .password_question_detail{
    box-sizing: border-box;
    padding: 20px;
    color: #05080B;
    background-color: #7AABDF;
    border-radius: 5px;
    position: absolute;
    width: 600px;
    top: 100px;
    right: -266px;
    line-height: 25px;
    visibility: hidden;
}
#login_change_pw .password_question_detail:before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid #7AABDF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    opacity: 0.9;
}
#login_change_pw .password_question_detail strong {
  margin-bottom: 10px;
  display: block;
}
.gray_box_changePw{
  height:50px;
}

@media all and (min-width:320px) and (max-width:1024px){
  #login_area_responsive{
      position: relative;
  }
  body .login_responsive .login_content #login_area_responsive input{
      margin-bottom: 10px;
  }
  #login_area_responsive .question_smallbox2{
      position: absolute;
      top: 3px;
      right: 5%;
      cursor: pointer;
      width:25px;
  }
  #login_area_responsive .password_question_detail2{
    width:95%;
    font-size:12px;
    line-height:1.5em;
    margin-bottom:20px;
    background:#080D13;
    display:none;
  }
  @media all and (min-width:320px) and (max-width:359px){
      body .login_responsive .login_content #login_area_responsive input{
        font-size: 12px;
        width: 98%;
      }
  }
}
