/* login_findPw */
.login_content #login_find_pw{
    position: relative;
}
.login_content #login_find_pw form h3{
    color:#7AABDF;
    font-size:25px;
    padding-bottom:30px;
}
.login_content #login_find_pw p.notfiy_info{
    color:#f35531;
    font-size:13px;
    margin-left:5px;
    margin-bottom: 20px;
    /* display: none; */
}
.login_content #login_find_pw input{
    border-style:none;
    border-bottom:1px solid #7AABDF;
    font-size:15px;
    padding-bottom:5px;
    padding-left:5px;
    display: block;
    color: #fff;
    width: 95%;
    margin-bottom:25px;
}
.login_content #login_find_pw .send_email_button{
    display: block;
}
.login_content #login_find_pw .go_login{
    display: none;
}
.login_content #login_find_pw input::placeholder{
    color:#fff;
}
#onepage_wrap #onepage_container .send_email_button{
    background: none;
    border: 1px solid #7AABDF;
    color: #080D13;
    background: #7AABDF
}
#onepage_wrap #onepage_container .send_email_button:hover{
    background: #080D13;
    color: #7AABDF;
    border: 1px solid #7AABDF;
}
.gray_box_findPw{
  height:50px;
}

@media all and (min-width:320px) and (max-width:1024px){
  p.notfiy_info{
  color: #f35531;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 20px;
  }
}
