/*setting*/
.fr{float:right}
.fl{float:left;}
.cb{clear: both;}
.cf:after{content: ''; clear:both; display:block; visibility:hidden; height:0;}

#left_mywallet_menu{
    float: left;
}
#wrap .days .search_btn{
    color: #fff;
    border: 1px solid #fff;
}
#wrap .chegyeol_header select{
    background: url(../img/arrow_down_dg.png) no-repeat 95% center;
    background-size: 7px;
}
#wrap .chegyeol_header select option,
#wrap .mycoin_thead_deco select option{
    background: #05080B;
}
#wrap .days .search_btn:hover{
    color: #7AABDF;
    border: 1px solid #7AABDF;
    background: none;
}
/*tab*/
.mycoin_fence{
    width: 899px;
    float: left;
    border-top: none;
    border: none;
}
.mycoin_tab ul {
  overflow: hidden;
}
.mycoin_tab li{
    float: left;
    width: 299px;
    text-align: center;
    color: #7e7e7f;
    padding: 20px 0;
    font-size: 20px;
    height: 31px;
    border-bottom: 1px solid #7AABDF;
    font-weight: 600;
    cursor: pointer;
    background-color: #080D13;
}
.mycoin_tab li a{
    color:#7e7e7f;
}
.mycoin_tab li.active {
    color: #7AABDF;
    background: none;
    border: 1px solid #7AABDF;
    border-bottom: none;
    border-top: 4px solid #7AABDF;
    border-radius: 5px 5px 0 0;
    height: 28px;
}
.mycointab_container{
    border:1px solid #7AABDF;
    border-top: none;
}
/* 공통 */
.tab_content {
  padding: 30px 50px;
  overflow: hidden;
}
ul.tabs2 li, ul.tabs3 li, ul.tabs4 li {
    color: #7AABDF;
    border: 1px solid #7AABDF;
    background: none;
}
ul.tabs2 li.active2, ul.tabs3 li.active2, ul.tabs4 li.active2 {
    color: #080D13;
    border: 1px solid #7AABDF;
    background-color: #7AABDF;
}

/*tab1*/
#mywallet_tab .mycoin_tab_content{
    background: #080D13;
    border-radius:0 0 5px 5px;
    width: 800px;
    display: block;
}
.mycoin_tab_content .mywallet_myinfo{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.mycoin_tab_content .mycoin_notice{
  margin-bottom: 10px;
  float:right;
  color:#fff;
  font-weight: 600;
  font-size:15px;
}
.mycoin_tab_content p img{
  vertical-align: -4px;
}
.mycoin_tab_content .mywallet_box1{
    color: #fff;
    padding: 15px 20px 0 10px;
}
.mycoin_tab_content .mywallet_box1 strong{
    font-size:22px;
    color: #7AABDF;
}
.mycoin_tab_content .mywallet_box2{
    overflow: hidden;
    padding-left: 17px;
}
.mycoin_tab_content .mywallet_box2 ul{
    float: left;
    width: 49%;
    background: #05080B;
}
.mycoin_tab_content .mywallet_box2 ul.list_1{
    margin-right:7px;
}
.mycoin_tab_content .mywallet_box2 p.mywallet_title{
    color:#7AABDF;
    font-weight: 600;
    font-size:14px;
}
.mycoin_tab_content .mywallet_box2 ul li{
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid #7AABDF;
    width: 90%;
    margin: 0 auto;
}
.mycoin_tab_content .mywallet_box2 ul li.border_bottom_none{
    border-bottom:none;
}
.mycoin_tab_content .mywallet_box2 ul li span{
    font-size: 15px;
    padding-left: 4px;
    color: #fff;
    font-weight: 500;
}
.mycoin_tab_content .mywallet_box2 ul li .mywallet_amount{
    text-align: right;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding-right: 3px;
}
table .mycoin_thead_deco th{
  font-weight: 600;
  font-size:14px;
  color: #7AABDF;
  height:50px;
}
table .mycoin_thead_deco th a{
  font-weight: lighter;
  font-weight: 600;
  font-size:14px;
  color: #7AABDF;
}
table .mycoin_thead_deco th a:hover{
  opacity: 0.7;
}
table .mycoin_thead_deco th.mycoin_kor a{
  /*margin-left:10px;*/
}
table .mycoin_tbody_deco tr{
    height: 45px;
}
table .mycoin_tbody_deco p span.unit{
    color:#666;
}
table .mycoin_tbody_deco>tr>td>img{
  float:left;
  margin: 2px;
  margin-right:10px;
}
.mycoin_name{
  padding: 3px 10px;
}
.ready_data{
  color:#f35531;
}
.mycoin_thead_deco .first_chart_icon{
   /*background: url(../img/side_arrow.png) no-repeat center right;*/
}
.mycoin_thead_deco .second_chart_icon{
   /*background: url(../img/up_down_default.png) no-repeat center right;*/
}
.mycoin_thead_deco .third_chart_icon{
   /*background: url(../img/up_down_default.png) no-repeat center right;*/
}
.mycoin_thead_deco .fourth_chart_icon{
   /*background: url(../img/up_down_down.png) no-repeat center right;*/
}
.mycoin_thead_deco .fifth_chart_icon{
   /*background: url(../img/up_down_up.png) no-repeat center right;*/
}
.mycoin_thead_deco .sixth_chart_icon{
   /*background: url(../img/up_down_default.png) no-repeat center right;*/
}

/*tab2*/
.tab2_header {
  overflow: hidden;
  margin-bottom: 30px;
}
.tab2_header ul{
  float:left;
}
.tab2_header ul li{
  float:left;
  width:150px;
  border-radius:5px;
  font-size:15px;
  text-align:center;
  padding:10px 0;
  font-weight:600;
  cursor:pointer;
}
.tab2_header ul li + li {
  margin-left: 20px;
}

/*chegyeol & michegyeol*/
.conclu_table{
    float: left;
    width: 800px;
    border: 1px solid #7AABDF;
    font-size: 12px;
}
.conclu_table thead th{
  padding:10px 0;
  border-bottom:2px solid #7AABDF;
  background-color:#f4f5f8;
  font-size: 14px;
  color: #7AABDF;
  background:  #05080B;
}
.conclu_table thead th select {
    height: 30px;
    border: 1px solid #7AABDF;
    color: #7AABDF;
    font-weight: 600;
    font-size: 14px;
}
.conclu_table tbody tr td{
    height: 40px;
    font-size: 14px;
}
.conclu_table tbody tr td.buying {
  color: #f35531;
}
.conclu_table tbody tr td.sell {
  color: #017eff;
}
.conclu_table tbody tr td input[type="submit"] {
  border: none;
  width: 40px;
  height: 25px;
  background: none;
  border: 1px solid #7AABDF;
  color: #7AABDF;
  cursor: pointer;
}
.conclu_table tbody tr td input[type="submit"]:hover {
  background-color: #7AABDF;
  color: #0E141C;
}
.user_security{
  border:none;
  border-bottom:1px solid #7AABDF;
  width:330px;
  padding-bottom:5px;
  color: #fff;
}

/*tab3*/
/*입출금 탭만 가로 padding 다르게 적용*/
.mycointab_container .tab_content_input_output{
    padding: 30px;
}
/*원화입금*/

#input_KRW_hidden{
  display:none;
}
#input_KRW_hidden .input_KRW_hidden_text{
  font-size:15px;
  font-weight:600;
  text-align:center;
  padding:70px 0;
}
#input_KRW_hidden .cancel_or_apply{
  text-align:center;
  margin-bottom:120px;
}
#input_KRW div.account_table_wrap{
    overflow: hidden;
}
#input_KRW div.account_table_wrap > div{
    width: 48%;
    float: left;
    margin-left: 12px;
    margin-bottom: 15px;
}
#input_KRW div.account_table_wrap > div > p{
    color: #7AABDF;
    font-weight: 600;
    margin-bottom: 15px;
}
#input_KRW div.send_info_01,
#input_KRW div.send_info_02{
    width: 60%;
    margin: 10px 25%;
    overflow: hidden;
}
#input_KRW div.send_info_01 p{
    font-size: 16px;
    color: #7AABDF;
    font-weight: 600;
    float: left;
    line-height: 50px;
    height: 50px;
}
#input_KRW div.send_info_01 p.person_name{
    line-height: 60px;
}
#input_KRW div.send_info_01 .temporary_name{
    background: #05080B;
    color: #7AABDF;
    border: 1px solid #7AABDF;
    font-weight: 600;
    font-size: 22px;
    padding: 3px 90px;
    margin-left: 20px;
    float: left;
}
#input_KRW div.send_info_01 span.caution{
    float: left;
    font-size: 12px;
    margin-left: 85px;
    margin-top: 8px;
    color: #f35531;
}
#input_KRW div.send_info_01 span.caution:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f35531;
    margin-right: 10px;
    vertical-align: 2px;
}
#input_KRW .send_info_02 label{
    font-size: 16px;
    color: #7AABDF;
    font-weight: 600;
    float: left;
    line-height: 40px;
    height: 76px;
}
#input_KRW .send_info_02 input[type='text']{
    margin-left: 20px;
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7AABDF;
    color: #fff;
    font-size: 22px;
    text-align: right;
    width: 229px;
    font-weight: 600;
    float: left;
    padding: 3px 5px;
    padding-right: 50px;
}
#input_KRW .send_info_02 .unit_KRW_fixed{
    position: relative;
    color: #fff;
    right: 38px;
    top: 7px;
    font-weight: 600;
    font-size: 15px;
}
#input_KRW .send_info_02 span.caution{
    float: left;
    font-size: 12px;
    margin-left: 24px;
    width: 195px;
    padding-bottom: 2px;
}
#input_KRW .send_info_02 span.sub_02,
#input_KRW .send_info_02 span.sub_04{
    margin-left: -35px;
}
#input_KRW div.send_info_02 span.caution:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: 2px;
}
#input_KRW div.before_send_money_wrap{
    margin-left: 12px;
    margin-top: 50px;
}
div.before_send_money_wrap > p{
    color: #7AABDF;
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid #7AABDF;
    padding-bottom: 8px;
    font-size:16px;
}
#input_KRW div.before_send_money_wrap label{
    display: block;
    padding-left: 25px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #fff;
}
.checkbox_list{
  overflow-y:scroll;
  height:120px;
  margin-bottom:30px;
}
#input_KRW div.checkbox_list .all_agree_01,
#output_KRW div.checkbox_list .all_agree_02,
#output_bitcoin div.checkbox_list .all_agree_03 {
    border-top: 2px solid #0E141C;
    padding-top: 10px;
    margin-top: 10px;
}
#input_KRW div.before_send_money_wrap label.all_agree{
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin: 16px 0 25px 0;
}
#input_KRW div.before_send_money_wrap .cancel_or_apply{
    text-align: center;
    margin-top: 13px;
}

/*원화출금*/
#output_KRW div.account_table_wrap{
    overflow: hidden;
}
#output_KRW div.account_table_wrap > div{
    float: left;
    margin-left: 12px;
    margin-bottom: 15px;
}
#output_KRW div.account_table_wrap > div > p{
    color: #7AABDF;
    font-weight: 600;
    margin-bottom: 15px;
    font-size:16px;
}
#output_KRW .left_thick_table tbody tr{
    height: 45px;
}
#output_KRW .left_thick_table tbody th{
    padding: 10px 20px 10px 16px;
    font-size:15px;
}
#output_KRW .left_thick_table tbody td{
    width: 600px;
    font-size: 15px;
}
#output_KRW table.left_thick_table tbody p{
    display: inline-block;
    width: 300px;
}
#output_KRW .send_account table.left_thick_table tbody p.limit_output{
    width: 125px;
}
#output_bitcoin .send_account table.left_thick_table tbody p.limit_output{
    width: 55px;
}
#output_KRW div.before_send_money_wrap{
    margin-left: 12px;
    margin-top: 50px;
}
#output_KRW div.before_send_money_wrap label{
    display: block;
    padding-left: 25px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #fff;
}
#output_KRW div.before_send_money_wrap label.all_agree{
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin: 16px 0 25px 0;
}
#output_KRW div.before_send_money_wrap .cancel_or_apply{
    text-align: center;
}
/* #output_KRW div.before_send_money_wrap .cancel_btn{
    background: #fff;
    border: 1px solid #7AABDF;
    border-radius: 5px;
    padding: 7px 30px;
    color: #7AABDF;
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
} */
#output_KRW div.before_send_money_wrap .agree_btn {
    border-radius: 5px;
    padding: 7px 30px;
    color: #080D13;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
}
#output_KRW div.before_send_money_wrap .if_you_not_all_agree{
    border: 1px solid #05080B;
    background-color: #05080B;
    color: #444;
}
#output_KRW div.before_send_money_wrap .if_you_all_agree{
  border: 1px solid #7AABDF;
  background-color: #7AABDF;
  cursor: pointer;
}

/*비트코인입금*/
#input_bitcoin{
    width: 800px;
}
#input_bitcoin div.my_coin_state ul li{
    position: relative;
}
#input_bitcoin div.my_coin_state ul li p.my_coin_state_amount {
    position: absolute;
    bottom: 7px;
    right: 7px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_01{
    height: 111px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_title{
    font-size: 18px;
    margin: 0 5px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_amount{
    font-size: 25px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_02,
#input_bitcoin div.my_coin_state ul li.my_coin_li_03{
    height: 45px;
}
#input_bitcoin div.my_coin_state ul li.my_coin_li_02 div{
    border-bottom: 1px solid rgba(27,47,74,.2);
    width: 100%;
    padding-bottom: 35px;
}
#input_bitcoin div.BTC_input_address_wrap,
#input_bitcoin div.before_send_money_wrap{
    padding-left: 10px;
}
#input_bitcoin div.BTC_input_address_wrap > div{
    margin-top: 16px;
    padding: 15px 0;
    margin-bottom: 15px;
    border-top: 2px solid #7AABDF;
    padding-left: 16px;
    border-bottom: 2px solid #0E141C;
}
#input_bitcoin div.BTC_input_address_wrap > p{
    color: #7AABDF;
    font-weight: 600;
    margin-bottom: 5px;
    font-size:16px;
}
#input_bitcoin div.my_coin_address{
    position: relative;
}
#input_bitcoin div.BTC_input_address_wrap > span{
    font-size: 14px;
}
#input_bitcoin div.BTC_input_address_wrap img{
    position: absolute;
    top: 24px;
    right: 93px;
    width: 100px;
}
#input_bitcoin div.BTC_input_address_wrap input[type='button']{
    border: 1px solid #7AABDF;
    background: #7AABDF;
    color: #080D13;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    display: block;
    margin: 5px 0;
    font-weight: 600;
}
#input_bitcoin div.BTC_input_address_wrap .emphasis{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin: 5px 0;
}
#input_bitcoin div.BTC_input_address_wrap .temporary_address{
    color: #7AABDF;
    font-weight: 600;
    background: none;
    padding: 5px 12px;
    display: inline-block;
    margin: 5px 0;
    font-size: 15px;
}
#input_bitcoin div.before_send_money_wrap{
    margin-top: 50px;
}
#input_bitcoin div.before_send_money_wrap > p.before_send_money_paragraph{
    color: #7AABDF;
    font-weight: 600;
    margin-bottom: 12px;
    border-bottom: 2px solid #7AABDF;
    padding-bottom: 8px;
    font-size:16px;
}
#input_bitcoin div.before_send_money_wrap .warning_notice_list{
    border-bottom: 2px solid #0E141C;
    padding-bottom: 12px;
}
#input_bitcoin div.before_send_money_wrap .warning_notice_list p{
    padding: 0px 29px 0 16px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
}

/*비트코인출금*/
#output_bitcoin{
}
#output_bitcoin div.account_table_wrap{
    overflow: hidden;
}
#output_bitcoin div.my_coin_state ul li{
    position: relative;
}
#output_bitcoin div.my_coin_state ul li p.my_coin_state_amount {
    position: absolute;
    bottom: 7px;
    right: 7px;
}
#output_bitcoin div.my_coin_state ul li.my_coin_li_01{
    height: 111px;
}
#output_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_title{
    font-size: 18px;
    margin: 0 5px;
}
#output_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_amount{
    font-size: 25px;
}
#output_bitcoin div.my_coin_state ul li.my_coin_li_02,
#output_bitcoin div.my_coin_state ul li.my_coin_li_03{
    height: 45px;
}
#output_bitcoin div.my_coin_state ul li.my_coin_li_02 div{
    border-bottom: 1px solid rgba(27,47,74,.2);
    width: 100%;
    padding-bottom: 35px;
}
#output_bitcoin div.account_table_wrap > div{
    float: left;
    margin-left: 12px;
    margin-bottom: 15px;
}
#output_bitcoin div.account_table_wrap > div > p{
    color: #7AABDF;
    font-weight: 600;
    margin-bottom: 15px;
    font-size:16px;
}
#output_bitcoin .left_thick_table tbody tr{
    height: 45px;
}
#output_bitcoin .left_thick_table tbody th{
    padding: 10px 20px 10px 16px;
    font-size: 15px;
}
#output_bitcoin .left_thick_table tbody td{
    width: 590px;
    font-size: 15px;
}
#output_bitcoin table.left_thick_table tbody p{
    display: inline-block;
    width: 300px;
}
#output_bitcoin table.left_thick_table .emphasis{
    color: #fff;
}
#output_bitcoin table.left_thick_table .reality_won{
    color: #f35531;
    font-weight: 600;
}
#output_bitcoin table.left_thick_table .temporary_address{
    color: #7AABDF;
    font-weight: 600;
    background: none;
    padding: 5px 0;
}
#output_bitcoin div.before_send_money_wrap{
    margin-left: 12px;
    margin-top: 50px;
}
#output_bitcoin div.before_send_money_wrap label{
    display: block;
    padding-left: 25px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #fff;
}
#output_bitcoin div.before_send_money_wrap label.all_agree{
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin: 16px 0 25px 0;
}
#output_bitcoin div.before_send_money_wrap .cancel_or_apply{
    text-align: center;
}
#output_bitcoin div.before_send_money_wrap .cancel_btn{
    background: none;
    border: 1px solid #7AABDF;
    border-radius: 5px;
    padding: 7px 30px;
    color: #7AABDF;
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
#output_bitcoin div.before_send_money_wrap .agree_btn {
  border-radius: 5px;
  padding: 7px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
}
#output_bitcoin div.before_send_money_wrap .if_you_not_all_agree{
    border: 1px solid #05080B;
    background-color: #05080B;
    color: #444;
}
#output_bitcoin div.before_send_money_wrap .if_you_all_agree{
    border: 1px solid #7AABDF;
    background-color: #7AABDF;
    cursor: pointer;
    color: #080D13;
}
.before_send_money_01{
  position:relative;
}
.before_send_money_02{
  position:relative;
}
.before_send_money_03{
  position:relative;
}
#money_malpungsun{
  color:#080D13;
  background-color:#7AABDF;
  font-size:15px;
  font-weight: bold;
  position: absolute;
  bottom:10px;
  left:0;
  width: 300px;
  text-align: center;
  padding:10px 0;
  line-height: 1.5;
  border-radius: 5px;
  display:none;
}
#money_malpungsun::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color:  transparent transparent #7AABDF transparent;
}
#money_malpungsun2{
  color:#fff;
  background-color:#7AABDF;
  font-size:15px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left:0;
  width: 300px;
  text-align: center;
  padding:10px 0;
  line-height: 1.5;
  border-radius: 5px;
  display:none;
}
#money_malpungsun2::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color:  transparent transparent #7AABDF transparent;
}
#money_malpungsun3{
  color:#fff;
  background-color:#7aabdf;
  font-size:15px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left:0;
  width: 300px;
  text-align: center;
  padding:10px 0;
  line-height: 1.5;
  border-radius: 5px;
  display:none;
}
#money_malpungsun3::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color:  transparent transparent #7aabdf transparent;
}

/*입출금내역*/
.mycoin_tbody_deco td p.red{
    color:#f35531;
}
.mycoin_thead_deco .apply_name_th{
  width:70px;
}
.mycoin_tbody_deco td.apply_date_td{
    font-size: 13px;
    padding-left: 16px;
}
.mycoin_tbody_deco td p.bl{
    color:#017eff;
}
.tab2_header .days{
  float:right;
  font-size:15px;
  padding: 5px 0;
}
.tab2_header .days ::-webkit-inner-spin-button {
     height: 30px;
     margin-left: 5px;
 }
 .tab2_header .days ::-webkit-calendar-picker-indicator  {
     color: rgba(0, 0, 0, 0);
     background: url(../img/cal.png) no-repeat 100%; background-size:cover;
     padding-left:10px;
  }
.tab2_header .days span{
  float:left;
  margin:0 5px;
  line-height:32px;
  font-weight: 600;
  color: #7AABDF;
}
.tab2_header .days div{
  float:left;
}


/*전체선택 모든것*/
.selectAll{
  padding:2px 0;
}
.selectAll select{
    font-size: 14px;
    height: 34px;
    color: #fff;
    text-indent: 3px;
    border: 1px solid #fff;
}
#io_list .selectAll select option{
    background: #080D13;
}
.table_top .tab2_header {
  overflow: hidden;
}
.tab2_header .days{
  font-size:15px;
}
.tab2_header .days ::-webkit-inner-spin-button {
     margin-left: 5px;
 }
 .tab2_header .days ::-webkit-calendar-picker-indicator  {
     color: rgba(0, 0, 0, 0);
     background: url(../img/cal.png) no-repeat 100%;
     padding-left:10px;
  }
.tab2_header .days span{
  float:left;
  margin:0 5px;
  line-height:32px;
  font-weight: 600;
  color: #fff;
}
div.mycoin_table_wrap{
    border:1px solid #7AABDF;
}
table.mycoin_table{
    margin: 0 auto;
    font-size: 14px;
}
table .mycoin_thead_deco{

}
table .mycoin_thead_deco tr{
  border-bottom: 2px solid #7AABDF;
  background-color:#05080B;
}
.mycoin_thead_deco th select {
    height: 30px;
    text-indent: 1px;
    border: 1px solid #7AABDF;
    color: #7AABDF;
    font-weight: 600;
    font-size: 14px;
    background: url(../img/arrow_down_dg.png) no-repeat 95% center;
    background-size: 7px;
    margin: 0 -2px;
}
table .mycoin_thead_deco th.apply_date_th{
    padding-left: 20px;
}
table .mycoin_tbody_deco>tr>td.coin_td {
  position: relative;
}
table .mycoin_tbody_deco>tr>td .temporary_address_click {
  display: inline-block;
  background: #7AABDF;
  color: #0E141C;
  width:300px;
  border-radius: 5px;
  padding: 7px 10px;
  position: absolute;
  bottom: -60px;
  left: -100px;
}
table .mycoin_tbody_deco>tr>td .temporary_address_click:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color:  transparent transparent #7AABDF transparent;
}

/*입출금내역 버튼 영역*/
.btn_small2{
  padding: 2px 8px;
  margin:0 2px;
  background-color: white;
  color:#7AABDF;
  border: 1px solid #7AABDF;
  cursor:pointer;
}
.btn_small2:hover{
    color: #080D13;
    background-color: #7AABDF;
}

/*입출금 페이지 준비가 안됐을 시에*/
#output_bitcoin .out_put_you_cannot{
    display:none;
    text-align: center;
}
#output_bitcoin .out_put_you_cannot img{
  padding-top:50px;
}
#output_bitcoin .out_put_you_cannot p{
    font-size: 18px;
    color: #444;
    font-weight: 600;
    padding-bottom: 50px;
}
#output_bitcoin .out_put_you_cannot p.we_are_ready{
    color: #7AABDF;
    font-weight: 600;
    /*margin: 50px 0 40px 0;*/
    font-size: 35px;
    padding-top:10px;
    /*padding-bottom: 10px;*/
    /*display: inline-block;*/
    /*border-bottom: 5px solid #7AABDF;*/
}

/*인증팝업창*/
.KRW_SMS_number .popupbox_text p{
  padding:20px 0;
}
#leave_member_agree_btn{
  background:#7AABDF;
  border-radius:5px;
  padding: 7px 30px;
  color: #0E141C;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  border:none;
  cursor:pointer;
}

/*인증번호 카운트다운*/
.count_down{
    font-size:14px;
    position:absolute;
    top:833px;
    right:340px;
    color:#f35531;
  }
  .account_table_wrap .cofirm_number{
    border: 1px solid #7AABDF;
    background: none;
    color: #7AABDF;
    padding: 3px 5px;
    cursor: pointer;
    font-size:15px;
  }
  .account_table_wrap .cofirm_number:hover{
    background:#7AABDF;
    color:#080D13;
  }

/*코인주소인증 팝업창*/
.certification_address .popupbox_text p{
  padding:20px 0;
}

/*원화거래*/
#deal_orgin_transaction{
    overflow-y: auto;
    padding: 0;
    float: left;
    border: 1px solid #7AABDF;
    margin-left: 10px;
    width: 28.5%;
}
#deal_orgin_transaction h3{
    color:#7AABDF;
    border-bottom:3px solid #7AABDF;
    padding:15px 20px 10px 20px;
}
#deal_orgin_transaction table{
    font-size:13px;
}
#deal_orgin_transaction thead tr th.coin_kor,
#deal_orgin_transaction thead tr th.coin_eng{
    text-align: left;
    padding-left:20px;
    padding-right:0;
    /*background: url(../img/side_arrow.png) no-repeat 70px 13px;*/
}
#deal_orgin_transaction thead tr th:nth-child(3){
    /*background: url(../img/up_down_default.png) no-repeat 58px 13px;*/
    /* background: url(../img/up_down_up.png) no-repeat 55px 14px; */
    /* background: url(../img/up_down_down.png) no-repeat 55px 14px; */
}
#deal_orgin_transaction thead tr th:nth-child(4){
    /* background: url(../img/up_down_default.png) no-repeat 55px 14px; */
    /*background: url(../img/up_down_up.png) no-repeat 59px 13px;*/
    /* background: url(../img/up_down_down.png) no-repeat 55px 14px; */
}
#deal_orgin_transaction thead tr th:nth-child(5){
    /* background: url(../img/up_down_default.png) no-repeat 55px 14px; */
    /* background: url(../img/up_down_up.png) no-repeat 55px 14px; */
    /*background: url(../img/up_down_down.png) no-repeat 62px 13px;*/
}
#deal_orgin_transaction thead tr{
    height: 35px;
    color:#666;
    font-size:13px;
}
#deal_orgin_transaction thead tr th{
    text-align: center;
    padding-right:15px;
}
#deal_orgin_transaction tbody tr{
    height: 50px;
}
#deal_orgin_transaction tbody tr:hover{
    background: rgba(122,171,223,0.2);
    cursor: pointer;
}
#deal_orgin_transaction tbody .up_down_data{
    text-align: center;
    display: block;
    padding-right:15px;
}
#deal_orgin_transaction tbody p{
    font-weight: 600;
    color: #fff;
    font-size:13px;
}
#deal_orgin_transaction tbody tr td:first-child{
    text-align: left;
    padding-left:20px;
    color:#2b2b2b;
}
#deal_orgin_transaction tbody tr td:nth-child(2){
    font-weight: 600;
    font-size:14px;
}
#deal_orgin_transaction .unit{
    color:#aaa;
    font-size:13px;
}
#deal_orgin_transaction .money_up{
    color:#f35531;
}
#deal_orgin_transaction .money_down{
    color:#017eff;
}
/*보유코인*/
#mywallet_havecoin{
    padding: 0;
    float:left;
    position: relative;
    margin-right:1.5%;
    width: 28.5%;
}
#mywallet_havecoin h3{
    color:#7AABDF;
    border-bottom:3px solid #7AABDF;
    padding:15px 20px 10px 20px;
}
#mywallet_havecoin form{
    display: inline-block;
    float: right;
    position: absolute;
    top: 14px;
    right: 9px;
}
#mywallet_havecoin form label{
    font-size: 14px;
}
#mywallet_havecoin table{
    font-size:13px;
}
#mywallet_havecoin thead{
  position:absolute;
}
#mywallet_havecoin thead tr{
    height: 35px;
    color:#666;
}
#mywallet_havecoin thead th{
    padding-left:51px;
    color:#7AABDF;
}
#mywallet_havecoin thead th.coin_condition{
    padding-left:29px;
}
#mywallet_havecoin thead th.coin_name1{
    text-align: left;
    padding-left: 39px;
}
#mywallet_havecoin tbody img{
    float: left;
    width: 26px;
    height: 26px;
    padding-top: 5px;
    margin-left: 6px;
}
#mywallet_havecoin tbody tr{
    height: 50px;
}
#mywallet_havecoin tbody tr.active{
    background: rgba(122,171,223,0.2);
}
#mywallet_havecoin tbody tr:hover{
    background: rgba(122,171,223,0.2);
}
#mywallet_havecoin tbody p,
#mywallet_havecoin tbody span{
    text-align: right;
}
#mywallet_havecoin .coin_kor{
  padding-left: 5px;
  overflow:hidden;
}
#mywallet_havecoin .coin_kor p,
#mywallet_havecoin .coin_kor span{
    text-align: left;
    margin-left: 35px;
}
#mywallet_havecoin .unit{
    color: #aaa;
    font-size: 14px;
    display: block;
}
#mywallet_havecoin .style_bold{
    color: #fff;
    font-size: 13px;
}
#mywallet_havecoin .unit_style{
    font-size: 12px;
    color: #fff;
    margin: 0 6px;
}
#mywallet_havecoin .have_coin_amount p{
    margin: 0px 13px;
}
#mywallet_havecoin .button_hover{
    margin-right:3px;
    border:1px solid #7AABDF;
    color:#7AABDF;
    padding: 5px 2px;
}
#mywallet_havecoin .button_hover:hover{
    background:#7AABDF;
    color:#080D13;
    padding: 5px 2px;
}
#mywallet_havecoin .ready_input_output{
    color:#f35531;
}
/*thead 띄우기*/
#mywallet_havecoin tbody{
    display: inherit;
    margin-top: 35px;
    width: 100%;
}
#mywallet_havecoin .mywallet_havecoin_thead{
    width:100%;
}
#mywallet_havecoin .mywallet_havecoin_thead .coin_amount{
    cursor: pointer;
}

.warning_icon{
  vertical-align: -3px;
  margin-right:2px;
}
.delay{
    color: #EAAF69
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
/*PC 320 - 1024*/
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}

/*PC 1025 - 1599*/
@media all and (min-width:1025px) and (max-width:1599px){
    #wrap .content_wrap{
        margin-left: 18%;
    }
    #wrap .content{
        width: 95%;
        padding: 0;
    }
    #left_mywallet_menu{
        width: 65%;
    }
    .mycoin_fence{
        width: 100%;
    }
    .mycoin_name{
        width: 142px;
    }
    #wrap #container .tab_content{
        padding: 10px 20px;
    }
    #mywallet_tab .mycoin_tab_content,
    .conclu_table{
        width: 100%;
    }
    #wrap div.my_coin_state{
        width: 100%;
    }
    #wrap div.my_coin_state ul li.my_coin_li_01{
        margin: 0 1%;
        width: 46%;
    }
    #wrap .thead_deco a{
        font-size:12px;
    }
    #wrap .thead_deco a .change_arrow{
        margin-left : 0;
    }
    #deal_orgin_transaction tbody tr td:first-child{
        padding-left: 14px;
    }
    #deal_orgin_transaction thead tr th{
        padding-right: 10px;
    }
    #deal_orgin_transaction{
        min-width: 325px;
        margin-left: 5px;
    }
    #input_KRW .send_info_02 input[type='text']{
        width: 53%;
    }
    #input_bitcoin{
        width: 100%;
    }
    #input_bitcoin div.BTC_input_address_wrap img{
        right: 5%;
    }
    .mycoin_tab_content .mycoin_notice{
      font-size:13px;
    }




    /*deal_orgin_transaction부분*/
    #deal_orgin_transaction{
      width:300px;
    }
    #deal_orgin_transaction tbody p{
      font-size:12px;
    }
    #deal_orgin_transaction tbody .up_down_data{
      font-size:12px;
    }

    /*table*/
    .mycoin_tab_content .mywallet_box2 ul li .mywallet_amount{
      font-size:15px;
    }
    table .mycoin_thead_deco th{
      font-size:12px;
    }
    .mycoin_name p{
      font-size:12px;
    }
    .fr{
      font-size:12px;
    }
    .ready_data{
      font-size:12px;
    }

    .conclu_table thead th{
      font-size:12px;
    }
    .conclu_table tbody tr td{
      font-size:12px;
    }
    table .mycoin_tbody_deco tr{
      font-size:12px;
    }

    /*보유코인부분*/
    #mywallet_havecoin{
        margin-right: 1%;
        min-width: 335px;
    }
    #mywallet_havecoin thead th{
      font-size:12px;
    }
    #mywallet_havecoin .have_coin_amount p{
      font-size:12px;
    }
    #mywallet_havecoin .unit{
      font-size:12px;
    }
    #mywallet_havecoin .style_bold{
      font-size:12px;
    }
    #mywallet_havecoin thead th.coin_condition{
      padding-left:18px;
    }
    #mywallet_havecoin .ready_input_output{
      font-size:12px;
    }

    /*원화입금부분*/
    #input_KRW div.before_send_money_wrap label{
      font-size:12px;
    }
    div.my_coin_state ul li p.my_coin_state_amount{
      font-size:15px;
    }
    #input_KRW div.send_info_01, #input_KRW div.send_info_02{
      width:80%;
      margin:10px 15%;
    }

    /*원화출금부분*/
    #output_KRW .left_thick_table tbody th{
      font-size:12px;
    }
    #output_KRW .left_thick_table tbody td{
      font-size:12px;
    }
    #output_KRW div.before_send_money_wrap label{
      font-size:12px;
    }

    /*코인입금부분*/
    #input_bitcoin div.BTC_input_address_wrap > span{
      font-size:12px;
    }
    #input_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_amount{
      font-size:15px;
    }
    #input_bitcoin div.BTC_input_address_wrap .temporary_address{
      font-size:12px;
    }
    #input_bitcoin div.before_send_money_wrap .warning_notice_list p{
      font-size:12px;
    }
    /*코인출금부분*/
    #output_bitcoin div.my_coin_state ul li.my_coin_li_01 p.my_coin_state_amount{
      font-size:15px;
    }
    #output_bitcoin .left_thick_table tbody th{
      font-size:12px;
    }
    #output_bitcoin .left_thick_table tbody td{
      font-size:12px;
    }
    #output_bitcoin table.left_thick_table tbody p{
      font-size:12px;
    }
    #output_bitcoin div.before_send_money_wrap label{
      font-size:12px;
    }

    /*출금한도팝업*/
    .count_down{
      position: inherit;
    }


}
