/*myinfo_small_info_box*/
.myinfo_small_info_box{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.myinfo_small_info_box .myinfo_box1{
    color: #fff;
    float:left;
    padding: 7px 60px 0px 10px;
}
.myinfo_small_info_box .myinfo_box1 strong{
    font-size:22px;
    color: #7AABDF;
}
/*흰상자부분*/
.myinfo_small_info_box .myinfo_box2{
    overflow: hidden;
    padding-left: 17px;
}
.myinfo_small_info_box .myinfo_box2 ul{
    float: left;
    width: 49%;
    background: #05080B;
    border: 1px solid #7aabdf;
}
.myinfo_small_info_box .myinfo_box2 ul.list_1{
    margin-right:9px;
}
.myinfo_small_info_box .myinfo_box2 p.myinfo_title{
    color:#7aabdf;
    font-weight: 600;
    font-size:14px;
}
.myinfo_small_info_box .myinfo_box2 ul li{
    padding: 5px 5px 10px 5px;
    width: 90%;
    margin: 0 auto;
}
.myinfo_small_info_box .myinfo_box2 ul li.border_bottom_none{
    border-bottom:none;
}

.myinfo_small_info_box .myinfo_box2 ul li .myinfo_detail{
    text-align: right;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-right: 3px;
}
/* 레벨3일때 */
.list_2 .lv_4,
.list_2 .lv_5{
    display: none;
}
.request_btn{
    cursor: pointer;
}
/* 레벨4일때 */
/* .list_2 .lv_3,
.list_2 .lv_5{
    display: none;
} */

/* 레벨5일때 */
/* .list_2 .lv_3,
.list_2 .lv_4{
    display: none;
} */

/*table*/
.myinfo_sub_box table{
  margin-bottom:30px;
}
.myinfo_sub_box table.left_thick_table tr th{
  padding: 10px 10px 10px 16px;
}
.myinfo_sub_box table.left_thick_table tr td{
  padding: 10px 20px 10px 16px;
  font-size: 15px;
}
.myinfo_sub_box table.left_thick_table tr td span{
margin-left: 10px;
}
.myinfo_sub_box table.left_thick_table tr td b.complete {
  color: #7AABDF;
}
.myinfo_sub_box table.left_thick_table tbody input[type='button'], .myinfo_sub_box table.left_thick_table tbody input[type='submit']{
    border: 1px solid #7AABDF;
    background: none;
    color: #7AABDF;
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size:15px;
}
.myinfo_sub_box table.left_thick_table tbody input[type='button']:hover, .myinfo_sub_box table.left_thick_table tbody input[type='submit']:hover{
    border: 1px solid #7AABDF;
    background: #7AABDF;
    color: #0E141C;
    padding: 3px 5px;
    cursor: pointer;
}
.myinfo_sub_box table.left_thick_table tbody input[type='password'],
.myinfo_sub_box table.left_thick_table tbody input[type='text'],
.myinfo_sub_box table.left_thick_table tbody input[type='tel'] {
    border: none;
    border-bottom: 1px solid #7AABDF;
    width: 330px;
    padding-bottom: 4px;
    font-size: 15px;
    background:none;
    color:#fff;
}
.myinfo_sub_box table.left_thick_table tbody input::placeholder{
        color:#fff;
        font-size:14px;
}
.warning_icon{
    vertical-align: -3px;
    margin-right: 2px;
}
table td div.question_smallbox{
  display: inline-block;
  position:relative;
  cursor:pointer;
}

table .password_question_detail, table .password_question_detail2{
  box-sizing: border-box;
  padding:20px;
  color:#05080B;
  background-color:#7AABDF;
  border-radius: 5px;
  position:absolute;
  width:600px;
  top:40px;
  left:-290px;
  line-height: 25px;
  visibility: hidden;
  cursor: auto;
}
table .password_question_detail2{
    left:-210px;
    z-index: 15;
    width: 450px;
}
table .password_question_detail:before,table .password_question_detail2:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-bottom:10px solid #7AABDF;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  opacity:0.9;
}
table .password_question_detail strong, table .password_question_detail2 strong{
  margin-bottom: 10px;
  display: block;
}
table td div.question_smallbox:hover .password_question_detail,
table td div.question_smallbox:hover .password_question_detail2{
  visibility: visible;
  cursor: auto;
}

/*cancel_or_apply*/
.myinfo_sub_box .cancel_or_apply{
  text-align:center;
}

.myinfo_text_box h3{
  color:#7AABDF;
}

/*핸드폰,계좌변경,OTP변경 페이지 통일*/

/*phone*/
.myinfo_main_box .cer_center .myinfo_text_box{
  padding:70px 0;
  font-weight:600;
  display:block;
  font-size:15px;
  text-align:center;
}

.myinfo_main_box .cer_center .myinfo_text_box span{
  color:#eaaf69;
}
.myinfo_main_box .cer_center .cancel_or_apply{
    text-align: center;
    margin-bottom: 30px;
    margin-left: -26px;
}
.send_login_password .forget_security_number a{
    font-size: 14px;
    color: #efefef;
    text-decoration: underline;
}
.send_login_password .forget_security_number a:hover{
    color: #eaaf69;
  }
.myinfo_main_box .myinfo_table_wrap2{
  margin-top:20px;
  margin-bottom:80px;
}
.myinfo_sub_box .left_thick_table td{
  position:relative;
}
.count_down{
  position:absolute;
  font-size:14px;
  right:360px;
  margin-top:4.5px;
  color:red;
}
.cer_center .cancel_or_apply .agree_btn,
.phone2_ok{
    cursor: pointer;
}

/*account*/

/*OTP*/

/*phonepopup*/

.phone_change_box{
  width:435px;
  position:relative;
  z-index:9999;
  top:0;
}
.phone_change_box .popupbox_text .small{
  display:block;
  padding-bottom:10px;

}
.phone_change_box .popupbox_text_phone2{
  padding:20px 0;
}
.phone_change_box2{
  width:435px;
  position:relative;
  z-index:10000;
  top:0;
}
.phone_change_box2 .cancel_btn_ok{
border-radius: 5px;
padding: 7px 30px;
color: #080D13;
font-weight: 600;
font-size: 16px;
box-sizing: border-box;
border: none;
background-color: #7AABDF;
cursor: pointer;
}
#full{
  display:none;
}
.security_password_text_right{
  float:right;
}

/*change_OTP*/

.change_OTP_table{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: left;
    border-left: none;
    height: 40px;
    border: 1px solid #7aabdf;
}
.change_OTP_table_text{
  margin-top:40px;
}
.change_OTP_table th{
  background-color: #05080B;
  border-right: 2px solid #7AABDF;
  padding: 5px 10px;
  color: #7AABDF;
  font-size: 14px;
  font-weight: 600;
  width: 35%;
  text-align: center;
}
.change_OTP_table td{
    position: relative;
    padding: 10px 20px 10px 16px;
}
.change_OTP_table .input_your_sms_number{
  border: none;
  border-bottom: 1px solid #7AABDF;
  width: 330px;
  padding-bottom: 4px;
  font-size: 15px;
  background:none;
  color:#fff;
}
.change_OTP_table .request_number{
  border: 1px solid #7AABDF;
  background: none;
  color: #7AABDF;
  padding: 3px 5px;
  font-size:15px;
  cursor: pointer;
}
.change_OTP_table .request_number:hover{
  border:1px solid #7AABDF;
  background:#7AABDF;
  color:#0E141C;
  padding: 3px 5px;
  font-size:15px;
  cursor: pointer;
}
.change_OTP_table .cofirm_number{
  border: 1px solid #7AABDF;
  background: none;
  color: #7AABDF;
  padding: 3px 5px;
  font-size:15px;
  cursor: pointer;
}
.change_OTP_table .cofirm_number:hover{
  border:1px solid #7AABDF;
  background:#7AABDF;
  color:#0E141C;
  padding: 3px 5px;
  font-size:15px;
  cursor:pointer;
}
.change_OTP_table .change_OTP_count_down{
  position: absolute;
  font-size: 14px;
  right: 245px;
  margin-top: 4.5px;
  color:#f35531;
  display:none;
}
/*change_OTP_full (팝업창)*/
#full .popupbox_text{
  margin-bottom: 40px;
}
#full .change_OTP_agree_btn{
  border-radius: 5px;
  padding: 7px 30px;
  color: #080D13;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  background-color: #7AABDF;
  cursor: pointer;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}
@media all and (min-width:1025px) and (max-width:1599px){
.myinfo_small_info_box .myinfo_box1{
  font-size:12px;
}
.myinfo_small_info_box .myinfo_box2 ul{
  width:48%;
}
.myinfo_small_info_box .myinfo_box2 ul li .myinfo_detail{
  font-size:15px;
}
.myinfo_sub_box table.left_thick_table tbody input[type='password'],
.myinfo_sub_box table.left_thick_table tbody input[type='text'],
.myinfo_sub_box table.left_thick_table tbody input[type='tel']{
  width:300px;
}
.myinfo_main_box .cer_center .myinfo_text_box{
  font-size:12px;
}
table .password_question_detail2{
  font-size:12px;
  width:380px;
}
table .password_question_detail:before, table .password_question_detail2:before{
  left:59%;
}
.change_OTP_table_text{
  font-size:12px;
}
.change_OTP_table .input_your_sms_number{
  width:300px;
}
}
