
/*myinfo_main_box*/
.myinfo_main_box .myinfo .button_box{
    margin-bottom: 10px;
    text-align: right;
}
.myinfo_main_box .myinfo .button_box .Q_and_A,
.myinfo_main_box .myinfo .button_box .using_guide{
    border-radius: 5px;
    background: none;
    color: #7AABDF;
    border: 1px solid #7AABDF;
}
.myinfo_main_box .myinfo .button_box .Q_and_A:hover,
.myinfo_main_box .myinfo .button_box .using_guide:hover{
    background-color: #7AABDF;
    color: #080D13;
}
/* myinfo_table_wrap */
.myinfo_sub_box .myinfo_table_wrap{
  margin-bottom: 55px;
  overflow: hidden;
}
.myinfo_sub_box .myinfo_table_wrap .float_table {
   float: left;
}
.myinfo_sub_box .myinfo_table_wrap .myinfo_table{
    width: 49%;
    margin-left: 1%;
}
.myinfo_sub_box .myinfo_table_wrap .myinfo_table .change_phone_num,
.myinfo_sub_box .myinfo_table_tr .certify_realname{
  color:#7AABDF;
}
.myinfo_sub_box .myinfo_table_wrap .myinfo_table .change_phone_num:hover,
.myinfo_sub_box .myinfo_table_tr .certify_realname:hover{
  color:#0E141C;
}
.myinfo_sub_box .myinfo_table_wrap .myinfo_table p.account_number{
  margin-right: 10px;
  display: inline-block;
}
.myinfo_sub_box .myinfo_table .btn_medium{
  width: 140px;
  cursor:pointer;
  border:1px solid #7AABDF;
  background: none;
  padding:2px 10px;
  color: #7AABDF;
}
.myinfo_sub_box .myinfo_table .btn_medium:hover{
  color:#080D13;
  background-color: #7AABDF;
}
.myinfo_sub_box .myinfo_table th{
    width: 29%;
}
/* cer_level */
.cer_center .cer_level .btn_large{
    cursor: pointer;
    border-radius: 5px;
    color: #7AABDF;
    border: 1px solid #7AABDF;
    padding: 6px 20px;
    margin-top: 10px;
}
.cer_center .cer_level .btn_large:hover{
    background-color: #7AABDF;
    color: #0E141C;
}

/* quit_page */
.myinfo_main_box .quit_page a{
  font-size:14px;
  color:#efefef;
  text-decoration: underline;
}
.myinfo_main_box .quit_page a:hover{
  color:#eaaf69;
}
.myinfo_sub_box .user_level{
    display: none;
}
/*1단계까지 인증시 */
/* .myinfo_sub_box .change_phone_num,
.myinfo_sub_box .user_name,
.myinfo_sub_box .user_phone,
.myinfo_sub_box .change_securityNum,
.cer_center .lv2_on,
.cer_center .lv3_on,
.cer_center .lv4_on,
.cer_center .lv5_on,
.cer_center .cer_level li .navy_title,
.myinfo_sub_box .myinfo_table_wrap .myinfo_table p.account_number,
.myinfo_sub_box .myinfo_table .myinfo_table_tr .change_accountNum,
.myinfo_sub_box .myinfo_table .change_OTP,
.cer_center .cer_level_03 .btn_large,
.cer_center .cer_level_04 .btn_large,
.cer_center .cer_level_05 .btn_large,
.myinfo_sub_box .myinfo_table_tr .certify_realname,
.myinfo_sub_box .certify_accountNum,
.myinfo_sub_box .certify_OTP,
.change_text
{
    display: none;
}
.myinfo_sub_box .level_01{
    display: inline-block;
} */

/*2단계까지 인증시 */
/* .myinfo_sub_box .change_phone_num,
.myinfo_sub_box .user_name,
.myinfo_sub_box .user_phone,
.myinfo_sub_box .make_securityNum,
.cer_center .lv2_off,
.cer_center .lv3_on,
.cer_center .lv4_on,
.cer_center .lv5_on,
.cer_center .cer_level li.cer_level_02 .gray_title,
.cer_center .cer_level li.cer_level_03 .navy_title,
.cer_center .cer_level li.cer_level_04 .navy_title,
.cer_center .cer_level li.cer_level_05 .navy_title,
.myinfo_sub_box .myinfo_table_wrap .myinfo_table p.account_number,
.myinfo_sub_box .myinfo_table .myinfo_table_tr .change_accountNum,
.myinfo_sub_box .myinfo_table .change_OTP,
.cer_center .cer_level_04 .btn_large,
.cer_center .cer_level_05 .btn_large,
.cer_center .cer_level_02 .btn_large,
.myinfo_sub_box .certify_accountNum,
.myinfo_sub_box .certify_OTP,
.myinfo_sub_box .no_phone,
.want_reset
{
    display: none;
}
.myinfo_sub_box .level_02{
    display: inline-block;
} */

/*3단계까지 인증시*/
/* .cer_center .cer_level_02 .btn_large,
.cer_center .cer_level_03 .btn_large,
.cer_center .cer_level_05 .btn_large,
.myinfo_sub_box .certify_realname,
.cer_center .lv2_off,
.cer_center .lv3_off,
.cer_center .lv4_on,
.cer_center .lv5_on,
.cer_center .cer_level li.cer_level_02 .gray_title,
.cer_center .cer_level li.cer_level_03 .gray_title,
.cer_center .cer_level li.cer_level_04 .navy_title,
.cer_center .cer_level li.cer_level_05 .navy_title,
.myinfo_sub_box .myinfo_table_wrap .myinfo_table p.account_number,
.myinfo_sub_box .change_OTP,
.myinfo_sub_box .no_name,
.myinfo_sub_box .no_phone,
.myinfo_sub_box .make_securityNum,
.no_account,
.myinfo_sub_box .certify_OTP,
.myinfo_sub_box .change_OTP,
.myinfo_sub_box .myinfo_table .myinfo_table_tr .change_accountNum,
.want_reset
{
    display: none;
}
.myinfo_sub_box .level_03{
    display: inline-block;
} */

/*4단계까지 인증시 */
/* .cer_center .cer_level_02 .btn_large,
.cer_center .cer_level_03 .btn_large,
.cer_center .cer_level_04 .btn_large,
.cer_center .lv2_off,
.cer_center .lv3_off,
.cer_center .lv4_off,
.cer_center .lv5_on,
.cer_center .cer_level li.cer_level_02 .gray_title,
.cer_center .cer_level li.cer_level_03 .gray_title,
.cer_center .cer_level li.cer_level_04 .gray_title,
.cer_center .cer_level li.cer_level_05 .navy_title,
.myinfo_sub_box .certify_realname,
.myinfo_sub_box .change_OTP,
.myinfo_sub_box .no_name,
.myinfo_sub_box .no_phone,
.myinfo_sub_box .make_securityNum,
.no_account,
.no_OTP,
.myinfo_sub_box .myinfo_table .myinfo_table_tr .certify_accountNum,
.want_reset
{
    display: none;
}
.myinfo_sub_box .level_04{
    display: inline-block;
} */

/*5단계까지 인증시 */
.cer_center .cer_level_02 .btn_large,
.cer_center .cer_level_03 .btn_large,
.cer_center .cer_level_04 .btn_large,
.cer_center .cer_level_05 .btn_large,
.cer_center .lv2_off,
.cer_center .lv3_off,
.cer_center .lv4_off,
.cer_center .lv5_off,
.cer_center .cer_level strong.gray_title,
.myinfo_sub_box .certify_realname,
.myinfo_sub_box .certify_OTP,
.myinfo_sub_box .no_name,
.myinfo_sub_box .no_phone,
.myinfo_sub_box .make_securityNum,
.no_account,
.no_OTP,
.myinfo_sub_box .myinfo_table .myinfo_table_tr .certify_accountNum
{
    display: none;
}
.myinfo_sub_box .level_05{
    display: inline-block;
}

.myinfo_sub_box .change_text{
  font-size:12px;
  margin-left:5px;
  text-decoration:underline;
  color:#efefef;
}
.myinfo_sub_box .change_text:hover{
  color:#eaaf69;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}
@media all and (min-width:1025px) and (max-width:1599px){
  .myinfo_sub_box .myinfo_table th{
    width:20%;
  }
  .myinfo_sub_box .change_text{
    font-size:10px;
  }
}
