/*myinfo_small_info_box*/
.myinfo_small_info_box{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background: none;
    margin: 0 auto;
    margin-bottom: 35px;
}
.myinfo_small_info_box .myinfo_box1{
    color: #fff;
    float:left;
    padding: 7px 60px 0px 10px
}
.myinfo_small_info_box .myinfo_box1 strong{
    font-size:22px;
    color: #7AABDF;
}

/*흰상자부분*/
.myinfo_small_info_box .myinfo_box2{
    overflow: hidden;
    padding-left: 17px;
}
.myinfo_small_info_box .myinfo_box2 ul{
    float: left;
    width: 49%;
    background: #05080B;
    border: 1px solid #7aabdf;
}
.myinfo_small_info_box .myinfo_box2 ul.list_1{
    margin-right:9px;
}
.myinfo_small_info_box .myinfo_box2 p.myinfo_title{
    color: #7aabdf;
    font-weight: 600;
    font-size: 14px;
}
.myinfo_small_info_box .myinfo_box2 ul li{
    padding: 5px 5px 10px 5px;
    width: 90%;
    margin: 0 auto;
}
.myinfo_small_info_box .myinfo_box2 ul li.border_bottom_none{
    border-bottom:none;
}

.myinfo_small_info_box .myinfo_box2 ul li .myinfo_detail{
    text-align: right;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-right: 3px;
}

/*table*/
.myinfo_sub_box table{
  margin-bottom:30px;
}
.myinfo_sub_box table tbody{
    border: 1px solid #7aabdf;
}
.myinfo_sub_box table.left_thick_table tr th{
  padding: 10px 10px 10px 16px;
}
.myinfo_sub_box table.left_thick_table tr td{
    padding: 10px 20px 10px 16px;
    font-size: 15px;
}
.myinfo_sub_box table.left_thick_table tr td span{
margin-left: 10px;
}
.myinfo_sub_box table.left_thick_table tbody input[type='button']{
    border: 1px solid #7AABDF;
    background: #fff;
    color: #7AABDF;
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size:15px;
}
.myinfo_sub_box table.left_thick_table tbody input[type='button']:hover{
    border: 1px solid #7AABDF;
    background: #7AABDF;
    color: #fff;
    padding: 3px 5px;
    cursor: pointer;
}
.myinfo_sub_box table.left_thick_table tbody input[type='password'],
.myinfo_sub_box table.left_thick_table tbody input[type='text'] {
    border: none;
    border-bottom: 1px solid #7AABDF;
    background:none;
    width: 300px;
    padding-bottom: 4px;
    font-size: 15px;
    color:#fff;
}

.myinfo_sub_box table.left_thick_table tbody input::placeholder{
        color:#fff;
        font-size:14px;
    }


table td div.question_smallbox{display: inline-block; position:relative; cursor:pointer;}

table .password_question_detail{
  box-sizing: border-box;
  padding:20px;
  color:#05080B;
  background-color:#7AABDF;
  border-radius: 5px;
  position:absolute;
  width:600px;
  top:40px;
  left:-289px;
  line-height: 25px;
  visibility: hidden;
}
table .password_question_detail:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
  border-bottom:10px solid #7AABDF;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  opacity:0.9;
  }
  table td div.question_smallbox:hover .password_question_detail{visibility: visible;}
table .password_question_detail strong {
  margin-bottom: 10px;
  display: block;
}
/*cancel_or_apply*/
.myinfo_sub_box .cancel_or_apply{
  text-align:center;
}

/*핸드폰,계좌변경,OTP변경 페이지 통일*/
.myinfo_main_box .cer_center .myinfo_text_box{
  padding:100px 0;
  font-weight:600;
  display:block;
  font-size:15px;
  text-align:center;
}
.myinfo_main_box .cer_center .myinfo_text_box span{
  color:#eaaf69;
}
.myinfo_main_box .cer_center .cancel_or_apply{
  text-align:center;
  margin-bottom:50px;
}

/*1단계까지 인증했을때 */
/* .myinfo_small_info_box .myinfo_box1 strong.user_name,
.myinfo_small_info_box .myinfo_box2 ul li .user_phone,
.change_password_tr4,
.change_password_tr5,
.lv_2,
.lv_3,
.lv_4,
.lv_5
{
    display: none;
} */
/*2단계까지 인증했을때 */
/* .myinfo_small_info_box .myinfo_box1 strong.user_name,
.myinfo_small_info_box .myinfo_box2 ul li .user_phone,
.change_password_tr4,
.lv_1,
.lv_3,
.lv_4,
.lv_5
{
    display: none;
} */
/*3단계까지 인증했을때 */
/* .myinfo_small_info_box .myinfo_box1 strong.no_name,
.myinfo_small_info_box .myinfo_box2 ul li .no_phone,
.lv_1,
.lv_2,
.lv_4,
.lv_5
{
    display: none;
} */
/*4단계까지 인증했을때 */
/* .myinfo_small_info_box .myinfo_box1 strong.no_name,
.myinfo_small_info_box .myinfo_box2 ul li .no_phone,
.lv_1,
.lv_2,
.lv_3,
.lv_5
{
    display: none;
} */
/*5단계까지 인증했을때 */
.myinfo_small_info_box .myinfo_box1 strong.no_name,
.myinfo_small_info_box .myinfo_box2 ul li .no_phone,
.lv_1,
.lv_2,
.lv_3,
.lv_4
{
    display: none;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}
@media all and (min-width:1025px) and (max-width:1599px){
  .myinfo_small_info_box .myinfo_box1{
    font-size:12px;
  }
  .myinfo_small_info_box .myinfo_box2 ul{
    width:48%;
  }
  .myinfo_small_info_box .myinfo_box2 ul li .myinfo_detail{
    font-size:15px;
  }
  table .password_question_detail{
    font-size:12px;
    width:480px;
  }
  table .password_question_detail:before{
    left:63%;
  }
}
