/* 공통 */
.mywallet_complete {
  padding: 30px;
}
.mywallet_complete h3 {
  color: #7AABDF;
  font-size: 24px;
  padding-bottom: 30px;
}

/*원화 입출금*/
.mywallet_complete p.complete_paragraph{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-top:10px;
    text-align: center;
}
.mywallet_complete .limit{
  font-size:12px;
}
.mywallet_complete .hour{
  color:#7AABDF;
}
.mywallet_complete div.account_table_wrap{
    width: 50%;
    margin: 0 auto;
}
.mywallet_complete div.account_table_wrap > div{
    margin-left: 12px;
    margin-bottom: 15px;
    margin-top: 60px;
}
.mywallet_complete div.account_table_wrap > div > p{
    color: #7AABDF;
    font-weight: 600;
    margin-bottom: 15px;
}
.mywallet_complete div.send_info_01{
    width: 50%;
    margin: 32px auto;
    overflow: hidden;
}
.mywallet_complete div.send_info_01 p.input_money{
    font-size: 16px;
    color: #7AABDF;
    font-weight: 600;
    float: left;
    line-height: 50px;
    height: 50px;
    margin-left: 15px;
}
.mywallet_complete div.send_info_01 p.money_account{
    background: #05080B;
    color: #7AABDF;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 15px 10px 141px;
    margin-left: 28px;
    float: left;
    border: 1px solid #7AABDF;
}
.mywallet_complete div.send_info_01 p.money_account span{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding-left: 7px;
}
.mywallet_complete div.button_group{
    text-align: center;
    margin: 55px 0 30px 0;
}
.mywallet_complete input.button_style{
    background: none;
    border: 1px solid #7AABDF;
    border-radius: 5px;
    padding: 10px 20px;
    color: #7AABDF;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
.mywallet_complete input.button_style:hover{
    background: #7AABDF;
    color:#080D13;
}
.mywallet_complete .look_again{
    color:#f35531;
}

/* 코인 출금 */
.coin_complete div.account_table_wrap{
    width: 70%;
}
.complete_text{
  text-align:center;
}
