/* 검색 영역 */
.notice_area .n_list {
  padding: 20px 25px;
  overflow: hidden;
}
.notice_area .notice_list {
  font-size: 15px;
  border:1px solid #7AABDF;
  border-bottom:1px solid #7AABDF;
  border-collapse: inherit;
}
.notice_area .notice_list thead {
  border-bottom: 2px solid #7AABDF;
  background-color: #05080B;
  height: 45px;
  line-height: 45px;
  color: #7AABDF;
}
.notice_area .notice_list thead th{
  border-bottom: 2px solid #7AABDF;
}
.notice_area .notice_list tr td{
    height:45px;
    line-height: 45px;
    border-bottom:2px solid #0E141C;
    box-sizing:border-box;
    cursor:pointer;

}
.notice_area .notice_list tr td img {
  vertical-align: middle;
}
.notice_area .notice_list tr td.title {
  text-align: left;
}
.notice_area .notice_list tr td.important_text {
  font-weight: 600;
  color: #7AABDF;
}
.notice_area .notice_list tr td.hot {
  color: #f35531;
  font-weight: 600;
}
.notice_area .notice_list tr td.new {
  color: #017eff;
  font-weight: 600;
}
.notice_area .search a.search_btn{
    top: 4px;
}
.notice_area .no_search .no_search_td{
  padding:156px 0;
  padding-left:90px;
  cursor:auto;
}


@media all and (min-width:320px) and (max-width:1024px){
  .notice_content {
    width: 90%;
    margin: 100px auto;
  }
  .notice_area .n_list {
    padding: 20px;
  }
  .notice_area .notice_list {
    font-size: 12px;
  }
  .notice_area .notice_list tr th.num{
    display:none;
  }
  .notice_area .notice_list tr td {
  line-height: 25px;
  }
  .notice_area .notice_list tr td.title{
    width:80%;
    padding: 0 5px;
  }
  .notice_area .notice_list tr td.date{
    width:20%;
    font-size:11px;
  }
  .notice_area .notice_list .num{
    display:none;
  }
  .notice_area .notice_list .important{
    display:none;
  }
  .notice_area .notice_list .new{
    display:none;
  }
  .notice_area .notice_list .hot{
    display:none;
  }
}

@media all and (min-width:1025px) and (max-width:1599px){
  .notice_area .notice_list tr td.important_text{
    font-size:12px;
  }
  .notice_area .notice_list thead th{
    font-size:12px;
  }
  .notice_area .notice_list tr td{
    font-size:12px;
  }
}
