/*공지사항 세부내용 */
    /*공지사항 타이틀*/
.notice_detail .notice_detail_inner{
    padding:35px 40px;
}
.notice_detail .notice_detail_inner .notice_title_wrap{
    border-bottom:2px solid #7AABDF;
    background: none;
    padding:10px 20px;
    overflow: hidden;
}
.notice_detail .notice_detail_inner .notice_title_wrap h4{
    color:#7AABDF;
    display: inline-block;
    float: left;
}
.notice_detail .notice_detail_inner .notice_title_wrap .upload_day{
    display: inline-block;
    float: right;
    font-weight: 600;
    font-size:14px;
}

    /*공지사항 내용*/
.notice_detail .notice_detail_inner .notice_detail_inner_content{
    padding: 16px 21px;
    overflow-y: scroll;
    height: 400px;
}
.notice_detail .notice_detail_inner .notice_detail_inner_content p{
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

    /*공지사항 목록으로, 이전글 다음글*/
.notice_detail .notice_detail_inner .notice_detail_footer{
    overflow: hidden;
}
.notice_detail .notice_detail_inner .notice_detail_footer .go_back_notice{
    float: right;
    color: #0E141C;
    border-radius: 5px;
    background-color: #7AABDF;
    padding: 7px 25px;
    font-size: 14px;
    margin-top: 40px ;
    font-weight: 600;
}
.notice_detail .notice_detail_inner .notice_detail_footer .go_back_notice:hover{
}
.notice_detail .notice_detail_inner .notice_detail_footer .notice_preview{
    margin-top:90px;
}
.notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li{
    border-top:1px solid #7AABDF;
    border-bottom:1px solid #7AABDF;
}
.notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p{
    display: inline-block;
    padding: 8px 0;
    color: #939393;
    font-weight: 600;
    font-size: 15px;
}
.notice_detail .notice_detail_inner .notice_detail_footer li.next_notice_title{
    border-top:none;
}
.notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p.prev_img,
.notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p.next_img{
    background: url(../img/arrow_on.png) no-repeat 75% center;
    background-size: 12px;
    width: 80px;
    margin-left: 31px;
    text-align: left;
    color: #7AABDF;
}
.notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p.next_img{
    background: url(../img/arrow_off.png) no-repeat 75% center;
    background-size: 12px;
}
/*공지사항 세부내용 End*/

@media all and (min-width:320px) and (max-width:1024px){
  .notice_detail_wrap {
    width: 90%;
    margin: 28% auto;
  }
  .notice_detail .notice_detail_inner{
    padding:20px;
  }
  .notice_detail .notice_detail_inner .notice_title_wrap{
    font-size:13px;
    padding: 10px 15px;
  }
  .notice_detail .notice_detail_inner .notice_title_wrap .upload_day{
    font-size: 12px;
    margin-top: 5px;
  }
  .notice_detail .notice_detail_inner .notice_detail_inner_content {
    padding: 15px;
  }
  .notice_detail .notice_detail_inner .notice_detail_inner_content p{
    font-size:12px;
  }.notice_detail .notice_detail_inner .notice_detail_footer .go_back_notice {
    font-size: 13px;
    padding: 5px 20px;
    margin-top: 25px;
  }
  .notice_detail .notice_detail_inner .notice_detail_footer .notice_preview {
    margin-top: 70px;
  }
  .notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li {
    overflow: hidden;
  }
  .notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p {
    width: 70%;
    float: left;
    font-size: 12px;
    margin-left: 3%;
}
  .notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p.prev_img, .notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p.next_img{
    margin:0;
    float: left;
    width: 25%;
    background: url(../img/arrow_on.png) no-repeat 95% center;
    background-size: 10px;
    text-align: center;
}
.notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p.next_img {
  background: url(../img/arrow_off.png) no-repeat 95% center;
  background-size: 10px;
}
}
@media all and (min-width:1025px) and (max-width:1599px){
  .notice_detail .notice_detail_inner .notice_detail_inner_content p{
    font-size:12px;
  }
  .notice_detail .notice_detail_inner .notice_detail_footer .notice_preview li p{
    font-size:12px;
  }
}
