/*메인 팝업*/
#full_content{
    width: 540px;
    height: 540px;
    background: #fff;
    z-index: 9999;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#greetings_content{
    width: 800px;
    background: #fff;
    z-index: 9990;
    padding: 20px;
    height: 750px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.full_inner{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
#full_content .full_inner .coming_soon{
    width: 45%;
    display: block;
    margin: 15px auto 30px auto;
}
#full_content .full_inner .sorry_m{
    text-align: center;
}
#full_content .full_inner .sorry_m_01{
  margin: 20px 0;
  font-size: 18px;
}
#full_content .full_inner .sorry_m_02{
  margin: 50px 0 40px 0;
  background: rgba(122,171,223,.7);
  width: 65%;
  padding: 5px 0;
  border-radius: 15px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
  }


#full_content h2{
    color:#7AABDF;
    text-align: center;
    padding-top:20px;
    padding-bottom:15px;
    border-bottom: 2px solid #7AABDF;
    margin: 0 auto;
}

#full_content p{
    color:#333;
    font-size:15px;
    margin:15px 0;
}

#full_content ul{
    background-color:#f4f5f9;
    padding:10px;
    border-radius: 5px;
}

#full_content ul li{
    margin:10px 0;
    line-height: 1.4;
    color:#7AABDF;
    background: url('../img/check.png') no-repeat 0 3px / 20px ;
    padding-left:25px;
    font-weight:600;
}

#full_content form{
    display: inline-block;
    float: left;
    margin-top: 3px;
    color:#333;
}
#full_content .close_btn,
#greetings_content .close_btn{
    float: right;
    background: #7AABDF;
    text-align: center;
    padding: 5px 0;
    width: 70px;
    color: #fff;
    border-radius: 5px;
}
#index_shadow{
    position: fixed;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.5;
    width: 120%;
    height: 100%;
    z-index: 999;
}

/*내 자산관리 물음표 클릭시*/
#question_mark_active{
    width: 900px;
    z-index: 9999;
    padding: 20px;
    position: fixed;
    left: 50%;
    height: 836px;
    overflow-y: auto;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.question_mark_active_inner{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
#question_mark_active h2{
    color:#7AABDF;
    text-align: center;
    padding-top:20px;
    padding-bottom:15px;
    border-bottom: 2px solid #7AABDF;
    margin: 0 auto;
}

#question_mark_active p{
    color: #fff;
    font-size: 15px;
    margin: 15px 0;
    line-height: 23px;
    padding-bottom: 20px;
}

#question_mark_active .close_btn{
    background: #7AABDF;
    text-align: center;
    padding: 5px 20px;
    width: 70px;
    color: #080D13;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
#qustion_mark_active_full #shadow{
    position: fixed;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
#shadow{
    position: fixed;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: block;
}
/*출금신청 팝업*/

#popupbox p,
#coin_withdrawal_box p{
    color:#fff;
    font-size:16px;
    margin:15px 0;
    text-align: center;
}
#coin_withdrawal_box .check_your_money_again{
    font-weight: 600;
    color: #7AABDF;
    font-size: 21px;
    text-indent:1px;
    margin-right: 2px;
}

/*나머지 팝업들*/

#popupbox{
  width:454px;
}
#popupbox .popupbox_text{
  padding-top: 20px;
  line-height:1em;
  color:#666666;
}
#popupbox .popupbox_text .hour{
  color:#eaaf69;
}
#popupbox .popupbox_text p {
  line-height: 1.5;
}
#popupbox .popupbox_text .limit{
  margin-bottom:40px;
}
#popupbox .popupbox_text .account_text{
  text-align:left;
  line-height:1;
  margin-bottom:20px;
}
/*#popupbox .popupbox_text .popup_title{
  text-align:left;
  font-weight:600;
  font-size:15px;
}*/
#popupbox .popupbox_text .account_count{
  color:#f35531;
}
#popupbox .popupbox_text table{
  text-align:left;
  margin:25px 0;
  border:1px solid #7AABDF;
}
#popupbox .popupbox_text table tr{
  border-left: none;
  height: 40px;
}
#popupbox .popupbox_text table th{
  background-color: #05080B;
  border-right: 2px solid #7AABDF;
  padding: 5px 10px;
  color: #7AABDF;
  font-size: 14px;
  font-weight: 600;
  width: 35%;
}
#popupbox .popupbox_text table td{
  font-size: 14px;
  padding: 0 8px;
  border-bottom:1px solid #7AABDF;
}

#popupbox .popupbox_text b{
  color:#7AABDF;
  font-size: 16px;
  font-weight: 600;
}
.btn_area {
  margin-top: 30px;
}
.btn_area input[type="button"],
.btn_area input[type="submit"]{
  border-radius:5px;
  background:none;
  font-size:14px;
  font-weight:600;
  border:1px solid #7AABDF;
  color: #7AABDF;
  padding:7px 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.btn_area input[type="button"].ok,
.btn_area input[type="submit"].ok{
    border: 1px solid #7AABDF;
    background-color: #7AABDF;
    color: #080D13;
}
.cancel_deal p{
    margin: 50px 0;
}
/* 기본팝업(common) */
.popup{
    background: #080D13;
    border: 1px solid #7AABDF;
    z-index: 9999;
    padding: 30px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 454px;
}
.popup h2{
    color: #7AABDF;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #7AABDF;
    margin: 0 auto;
}

/* 이메일인증 팝업 */
#full .email_pop {
  width: 550px;
}
.email_pop form {
  padding: 0 20px;
}
#full .email_pop p.readonly {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  color: #eaaf69;
}
.email_pop input[type="text"] {
    width: 95%;
    border: none;
    border-bottom: 1px solid #7AABDF;
    font-size: 16px;
    padding: 3px 5px;
    color: #fff;
}
.email_pop input[type="text"]::placeholder {
    color:#fff;
}
#full .email_pop span {
  color: #f35531;
  text-align: left;
  margin: 5px 0 0 5px;
  display: block;
  font-size: 12px;
}
#full .email_pop .re_send {
    background-color: #05080B;
    border-radius: 5px;
    padding: 10px 20px;
    overflow: hidden;
    border: 1px solid #7AABDF;
    margin-top: 20px;
}
#full .email_pop .re_send p {
  float: left;
  color: #7AABDF;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
#full .email_pop .re_send input[type="button"] {
    float: right;
    background: none;
    border-radius: 5px;
    border: none;
    padding: 7px 4px;
    border: 1px solid #7AABDF;
    color: #7AABDF;
    margin: 20px 0;
    cursor: pointer;
}


/* 로그인팝업 */
.popup a.join_btn {
  display: inline-block;
  text-decoration: underline;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}
.popup a.join_btn:hover {
  color: #eaaf69;
}
/* 주소복사 팝업 */
#qustion_mark_active_full .copy_pop .popupbox_text b {
  color: #f35531;
  text-align: left;
  font-size: 13px;
  line-height: 1.2;
}

/* 휴대폰번호 변경 팝업 */
#popupbox .popupbox_text p.small {
  font-size: 14px;
}

/*비트코인 출금신청 팝업창 표 서식*/
.coin_withdrawal_box{
    width: 607px;
    left: 50%;
}
.coin_withdrawal_box .left_thick_table {
    margin-bottom: 30px;
}
.coin_withdrawal_box .left_thick_table tbody th{
    width: 118px;
}
.coin_withdrawal_box .left_thick_table tbody td{
    padding-left: 20px;
}
.coin_withdrawal_box .left_thick_table tbody td span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 280px;
    display: inline-block;
}
.coin_withdrawal_box .left_thick_table .plus_more_btn{
    position: relative;
}
.coin_withdrawal_box .left_thick_table .plus_more_btn img{
    position: absolute;
    cursor: pointer;
    top: -23px;
    right: 13px;
}
.coin_withdrawal_box .more_coin_address_01,
.coin_withdrawal_box .more_coin_address_02{
    box-sizing: border-box;
    padding: 20px;
    color:#0E141C;
    background-color: #7AABDF;
    border-radius: 5px;
    position: absolute;
    width: 400px;
    top: 13px;
    right: 0;
    line-height: 10px;
    visibility: hidden;
    z-index: 10;
}
.coin_withdrawal_box .more_coin_address_01:before,
.coin_withdrawal_box .more_coin_address_02:before{
    content: "";
    position: absolute;
    top: -9px;
    right: 16px;
    margin-left: -10px;
    border-bottom: 10px solid #7AABDF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.coin_withdrawal_box .plus_more_btn_01:hover .more_coin_address_01,
.coin_withdrawal_box .plus_more_btn_02:hover .more_coin_address_02{
    visibility: visible;
}
#popupbox .wrong_info{
  color:#f35531;
  font-size:13px;
  text-align:left;
  margin-left:5px;
  margin-bottom: 20px;
}
#popupbox .warning_icon{
  margin-right:2px;
  vertical-align: -3px;
}

/* 보유코인 유의사항 */
#question_mark_active p span.popup_important {
  color: #7AABDF;
  font-weight: 600;
}
/*인증레벨별 한도 보기팝업*/
.common_table_wrap{
    position: relative;
}
.common_table_content{
    height: 85%;
    z-index: 9999;
    width: 1000px;
    padding: 10px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    min-height: 300px;
}
.common_table_content .mypage_content{
    height: 70%;
    overflow-y: auto;
}
.common_table_content h2.title{
    color: #7AABDF;
    text-align: center;
    width: 90%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #7AABDF;
    margin: 0 auto;
}
.common_table_content .close_btn{
    background: #7AABDF;
    text-align: center;
    padding: 5px 20px;
    width: 70px;
    color: #0E141C;
    font-weight:600;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    left: 45%;
}

/*거래소 매수매도 팝업*/
#full_second .full_inner p{
    margin: 20px 0 30px 0;
}
#full_second .full_inner p span.emphasis{
    color: #eaaf69;
    font-weight: 600;
}
#full_second .full_inner input[type='button']{
    border-radius: 5px;
    background: #7AABDF;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #080D13;
    padding: 7px 20px;
    cursor: pointer;
    box-sizing: border-box;
}
#full_second .full_inner input.cancel{
    border: 1px solid #7AABDF;
    background: none;
    color: #7AABDF;
}
#shadow_second{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.full_inner .deal_check_table{
    margin: 15px 0;
}
.buy_color{
    color: #f35531;
}
.sell_color{
    color: #017eff;
}
#success_buy_popup,
#success_sell_popup,
#fail_buy_popup,
#fail_sell_popup,
#apply_buy_popup,
#apply_sell_popup,
#shadow_second,
.cancel_deal{
    display: none;
}
/*반응형 팝업*/
@media all and (min-width:320px) and (max-width:1024px){
  #popupbox {
    width: 85%;
}
#full_second > div:not(#shadow_second){
    width: 90%;
}
.popup {
    position: fixed;
    top: 50%;
    width: 100%;
}
#full .question_ok {
    padding: 7px 10px;
    font-size: 13px;
}
#full .cancel_btn_ok {
    font-size: 13px;
    margin-left:0;
}
#full2 .question_ok2{
    font-size:13px;
}
#full2 .cancel_btn3{
    font-size:13px;
    margin-left:0;
}

/*인사말 팝업 반응형*/
#greetings_content{
    display: block;
    width: 95%;
    padding: 20px 20px 20px 5px;
    min-height: 495px;
    min-width: 305px;
    height: auto;
}
.greetings_area .greetings_story{
    height: auto;
    padding: 0 5px 45px 5px;
}
.greetings_area .greetings_inner h2{
    font-size: 20px;
}
.greetings_inner .greetings_story .gr_title img{
    width: 20px;
}
.greetings_inner .greetings_story .gr_title,
.greetings_inner .greetings_story .gr_title span{
    font-size: 17px;
    text-indent: initial;
}
.greetings_inner .greetings_story .textL .greeting_S_title{
    font-size: 15px;
}
.greetings_text p{
    font-size: 14px;
}
#greetings_content .advTxt b{
    font-size: 20px;
}
.greetings_inner .greetings_story .textL .import{
    width: 100%;
    font-size: 16px;
}
#full #greetings_content .close_box form{
    font-size: 13px;
}
#full #greetings_content .close_btn{
    width: 70px;
    margin: 10px 0 0 0;
}
.greetings_inner .greetings_story .greetings_sign{
    height: 150px;
}
/*회원가입 팝업반응형*/
@media (max-width:1024px) {
    #full .email_pop{
        width: 90%;
        top: 50%;
        left: 5%;
        margin-left: 0;
        padding: 20px 10px;
        transform: initial;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .popup h2{
        font-size: 20px;
    }
    #popupbox .popupbox_text{
        padding-top: 0;
    }
    #popupbox .popupbox_text p{
        font-size: 13px;
    }
    .email_pop input[type="text"]{
        font-size: 13px;
    }
    #full .email_pop p.readonly{
        text-align: center;
        padding: 0;
    }
    .email_pop form{
        padding: 0;
    }
    #full .email_pop .re_send{
        padding: 10px;
    }
    #full .email_pop .re_send p{
        float: none;
        text-align: center;
        margin-bottom:0;
        font-size: 12px;
    }
    #full .email_pop .re_send input[type="button"]{
        float: none;
        font-size: 12px;
        margin: 10px 0;
        padding: 5px;
    }
    .responsive_btn{
        margin-top: -10px;
    }
    .btn_area input[type="button"], .btn_area input[type="submit"]{
        font-size: 12px;
    }

    /*거래소 메인 팝업*/
}
