body {
  background-color: #0B1625;
}
.prepare_wrap {
  margin: 7% auto;
}
.prepare_wrap .contentsArea {
  overflow: hidden;
  background-color: #0B1625;
  padding: 40px 20px;
  border-radius: 5px;
  box-sizing: border-box;
}
.prepare_wrap .imgArea {
  float: left;
}
.prepare_wrap .textArea {
  float: left;
  color: #fff;
  margin-left: 30px;
  padding: 150px 0;
}
.prepare_wrap h3 {
  font-size: 52px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  color: #eaaf69;
  text-align: right;
  text-shadow: 5px 5px #0B1625;
}
.prepare_wrap .textArea p {
  font-size: 28px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}
.prepare_wrap .textArea strong {
  display: block;
  line-height: 2;
  text-align: center;
  color: rgba(255,255,255,.5);
  font-weight: 500;
}
