/*prime css*/
.con_top{
  /*margin-bottom:4.4%;*/
}
.prime_area{

}
.prime_area .prime_inner{
  overflow:hidden;
  text-align: center;
  display:inline-block;
}
.prime_area .prime_inner h3{
  font-size:45px;
  color:#eaaf69;
  margin-bottom:50px;
}
.prime_area .prime_inner .theallsprime_img{
  position:relative;
}
.prime_area .prime_inner .theallsprime_img .text_img{
  position: absolute;
  top:21%;
  left:58%;

}
.prime_area .prime_inner .theallsprime_img .main_img{
  text-align: center;
  margin: 0 auto;
  display:block;
  width:100%;
  height:100%;
}

/*value*/
.prime_area .prime_inner .theallsprime_icon{
  margin-top:0;
  overflow:hidden;
  padding:80px 0 50px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
  width:100%;
}
/*.prime_area .prime_inner .theallsprime_icon .theallsprime_icon_img{
  float:left;
}*/
.prime_area .prime_inner .theallsprime_number{
  text-align: center;
  display:inline-block;
  margin-top:50px;
  margin-bottom:50px;
}
.prime_area .prime_inner .theallsprime_number li{
  width:900px;
  overflow: hidden;
  color:#0E141C;
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number b{
  font-size:18px;
  display:inline-block;
  margin-top:60px;
  margin-bottom:10px;
}
.prime_area .prime_inner .theallsprime_number b span{
  font-size:25px;
}
.prime_area .prime_inner .theallsprime_number p{
  display:block;
  line-height: 2em;
}
.prime_area .prime_inner .theallsprime_number img{
  width:200px;
  height:200px;
  border:2px solid #eaaf69;
  padding:15px;
  display:block;
}
.prime_area .prime_inner .theallsprime_number .left_img{
  float: left;
  margin-left:100px;
}
.prime_area .prime_inner .theallsprime_number .right_img{
  float:right;
  margin-right:100px;
}
.prime_area .prime_inner .theallsprime_icon p b{
  font-size:25px;
}

/*service*/
.prime_area .prime_inner .theallsprime_icon2{
  margin-top:0;
  text-align: center;
  padding:80px 0 100px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon2 .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
}
.prime_area .prime_inner .theallsprime_icon2 .prime_icon_img{
  width:200px;
  height:200px;
  text-align: left;
  margin: 0 auto;
  padding:50px 0 50px 0;
}
.prime_area .prime_inner .theallsprime_icon2 ul{
  overflow:hidden;
  text-align: center;
  display: inline-block;
  margin-top:50px;
  margin-bottom:50px;
}
.prime_area .prime_inner .theallsprime_icon2 li{
  width:300px;
  height:350px;
  background:#000;
  margin-right:30px;
  float:left;
  text-align: left;
  position:relative;

}
.prime_area .prime_inner .theallsprime_icon2 li:nth-child(1){
  background:url(../img/prime_coin.png) no-repeat 0 50%; background-size:cover;
}
.prime_area .prime_inner .theallsprime_icon2 li:nth-child(2){
  background:url(../img/prime_time.png) no-repeat 0 0; background-size:cover;
}
.prime_area .prime_inner .theallsprime_icon2 li:nth-child(3){
  background:url(../img/prime_coin2.png) no-repeat 0 0; background-size:cover;
}
.prime_area .prime_inner .theallsprime_icon2 li b{
  font-size:25px;
}
.prime_area .prime_inner .theallsprime_icon2 li strong{
  color:#bbb;
  text-align: center;
  display:inline-block;
  border:1px solid white;
  width:260px;
  height:310px;
  position: absolute;
  z-index: 10;
  left:20px;
  top:20px;
  line-height: 18em;
  transition:0.6s ease-out;
}
.prime_area .prime_inner .theallsprime_icon2 li strong:hover{
  transform:scale(1.15);
  opacity:1;
  color:#fff;
  cursor:pointer;
  text-shadow: 2px 1px 1px #000;
}
.prime_area .prime_inner .theallsprime_icon2 li strong:hover .b_box{
  display: none;
}
.prime_area .prime_inner .theallsprime_icon2 li p.more{
  position:absolute;
  top:185px;
  left:45%;
  text-shadow:1px 1px 1px #000;
  text-decoration:underline;
  display:none;
}
.prime_area .prime_inner .theallsprime_icon2 li:nth-child(1):hover p.more{
  display:block;
}
.prime_area .prime_inner .theallsprime_icon2 li:nth-child(2):hover p.more{
  display:block;
}
.prime_area .prime_inner .theallsprime_icon2 li:nth-child(3):hover p.more{
  display:block;
}
.prime_area .prime_inner .theallsprime_icon2 li span{
  width:300px;
  height:350px;
  left:0;
  background-color:#000;
  display:inline-block;
  opacity: 0.5;
  position: absolute;
}
.prime_area .prime_inner .theallsprime_icon2 .service_text{
  color:#0E141C;
  margin-top:20px;
}
.prime_area .prime_inner .theallsprime_icon2 .service_text span{
  font-weight:600;
  margin-bottom:10px;
  display:inline-block;
}
.prime_area .prime_inner .theallsprime_number2{
  overflow:hidden;
  text-align: center;
  display: inline-block;
  margin-top:50px;
  margin-bottom:50px;
}
.prime_area .prime_inner .theallsprime_number2 .company1{
  float:left;
  margin-right:100px;
}
.prime_area .prime_inner .theallsprime_number2 .company2{
  float:left;
}
.prime_area .prime_inner .theallsprime_number2 ul{
  display:inline-block;
  text-align: center;
}
.prime_area .prime_inner .theallsprime_number2 li:nth-child(1){
  border:none;
  width:200px;
  height:200px;
  text-align: center;
  margin-left:20%;
  font-size:15px;
  margin-bottom:15%;
}
.prime_area .prime_inner .theallsprime_number2 .down_arrow{
  margin:20px 0;
  border:none;
  text-align: center;
  display: inline-block;
  color:#0E141C;
}
.prime_area .prime_inner .theallsprime_number2 .none_li{
  border:2px solid #eaaf69;
  width:300px;
  padding:20px;
  overflow: hidden;
  color:#0E141C;
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number2 li span{
  font-weight:600;
}
.prime_area .prime_inner .theallsprime_number2 li img{
  width:200px;
  height:200px;
  text-align: center;
  display: block;
  float:left;
}
.prime_area .prime_inner .theallsprime_number2 li p{
  color:#0E141C;
  font-weight:600;
  font-size:18px;
}
.prime_area .prime_inner .theallsprime_icon2 p b{
  font-size:25px;
}

/*join*/
.prime_area .prime_inner .theallsprime_icon3{
  margin-top:0;
  overflow:hidden;
  padding:80px 0 50px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon3 .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
  float:left;
  width:100%;
}
.prime_area .prime_inner .theallsprime_icon3 p b{
  font-size:25px;
}
.prime_area .prime_inner .theallsprime_number3{
  display:block;
  text-align: center;
  margin-top:50px;
  margin-bottom:200px;
}
.prime_area .prime_inner .theallsprime_number3 img{
  width:650px;
}
.prime_area .prime_inner .theallsprime_number3 .join_inner{
  width:100%;
}
.prime_area .prime_inner .theallsprime_number3 .join_box{
  text-align: center;
  display:inline-block;
  margin-top:50px;
  margin-bottom:50px;
  width:900px;
  border:2px solid #eaaf69;
  padding:20px;
  color:#0E141C;
  font-size:15px;
  line-height:2em;
}
.prime_area .prime_inner .theallsprime_number3 .join_img{
  text-align: center;
  display:inline-block;
}
.prime_area .prime_inner .theallsprime_number3 .join_img .join_img_fence{
  margin:20px 0;
  width:900px;
  padding:20px;
}
.prime_area .prime_inner .theallsprime_number3 .join_img strong{
  color:#0E141C;
  font-size:20px;
  margin:20px 0;
  display:inline-block;
}
.prime_area .prime_inner .theallsprime_number3 .join_img span{
  color:#0E141C;
  margin:30px 0;
  display:block;
  text-align: left;
  padding:0 150px;
}

/*method*/
.prime_area .prime_inner .theallsprime_icon4{
  margin-top:0;
  overflow:hidden;
  padding:80px 0 50px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon4 .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
  float:left;
  width:100%;
}
.prime_area .prime_inner .theallsprime_icon4 p b{
  font-size:25px;
}
.prime_area .prime_inner .theallsprime_number4{
  display:block;
  text-align: center;
  margin-top:50px;
  margin-bottom:200px;
}
.prime_area .prime_inner .theallsprime_number4 .wallet_inner{
  width:100%;
}
.prime_area .prime_inner .theallsprime_number4 .wallet_box{
  text-align: center;
  display:inline-block;
  margin-top:50px;
  margin-bottom:50px;
  width:900px;
  border:2px solid #eaaf69;
  padding:20px;
  color:#0E141C;
  font-size:15px;
  line-height:2em;
}
.prime_area .prime_inner .theallsprime_number4 .wallet_box p span{
  font-weight:600;
}
.prime_area .prime_inner .theallsprime_number4 .wallet_box p .red{
  color:#f00;
}
.prime_area .prime_inner .theallsprime_number4 .wallet_box p .yellow{
  color:#ada20b;
}
.prime_area .prime_inner .theallsprime_number4 .wallet_box p .blue{
  color:#00f;
}
.prime_area .prime_inner .theallsprime_number4 ul{
  overflow:hidden;
  width:900px;
  display:inline-block;
  text-align: center;
  padding:20px;
}
.prime_area .prime_inner .theallsprime_number4 li{
  width:250px;
  float:left;
  color:#0E141C;
  font-size:15px;
  text-align: center;
  display: block;
  padding-left:4%;
}
.prime_area .prime_inner .theallsprime_number4 li p{
  padding-left:10px;
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number4 li:nth-child(1){
  color:#f00;
}
.prime_area .prime_inner .theallsprime_number4 li:nth-child(2){
  color:#ada20b;
}
.prime_area .prime_inner .theallsprime_number4 li:nth-child(3){
  color:#00f;
}
.prime_area .prime_inner .theallsprime_number4 li img{
  width:155px;
}

/*platform*/
.prime_area .prime_inner .theallsprime_icon5{
  margin-top:0;
  overflow:hidden;
  padding:80px 0 50px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon5 .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
  float:left;
  width:100%;
}
.prime_area .prime_inner .theallsprime_icon5 p b{
  font-size:25px;
}
.prime_area .prime_inner .theallsprime_number5{
  display:block;
  text-align: center;
  margin-top:50px;
  margin-bottom:200px;
}
.prime_area .prime_inner .theallsprime_number5 .platform_inner{
  width:100%;
}
.prime_area .prime_inner .theallsprime_number5 .platform_box{
  text-align: center;
  display:inline-block;
  margin-top:50px;
  margin-bottom:50px;
  width:900px;
  border:2px solid #eaaf69;
  padding:20px;
  color:#0E141C;
  font-size:15px;
  line-height:2em;
}
.prime_area .prime_inner .theallsprime_number5 .platform_box span{
  font-weight:600;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box{
  text-align: center;
  color:#0E141C;
  margin-top:50px;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .company1{
  width:450px;
  display: inline-block;
  margin-right:30px;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .company2{
  width:450px;
  display: inline-block;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .title_li{
  text-align: center;
  font-size:15px;
  font-weight:600;
  margin-bottom:10%;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .none_li{
  border: 2px solid rgba(234,175,105,.8);
  padding: 20px;
  color: #0E141C;
  font-size: 15px;
  text-align: center;
  width:300px;
  display:inline-block;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .none_li span{
  font-weight:600;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .down_arrow{
  margin: 20px 0;
  border: none;
  text-align: center;
  color: #0E141C;
}


/*security*/
.prime_area .prime_inner .theallsprime_icon6{
  margin-top:0;
  overflow:hidden;
  padding:80px 0 50px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon6 .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
  float:left;
  width:100%;
}
.prime_area .prime_inner .theallsprime_icon6 p b{
  font-size:25px;
}
.prime_area .prime_inner .theallsprime_number6{
  display:block;
  text-align: center;
  margin-top:50px;
  margin-bottom:200px;
}
.prime_area .prime_inner .theallsprime_number6 .security_inner{
  width:100%;
}
.prime_area .prime_inner .theallsprime_number6 .security_box{
  text-align: center;
  display:inline-block;
  margin-top:50px;
  margin-bottom:50px;
  width:900px;
  border:2px solid rgba(234,175,105,.8);
  padding:20px;
  color:#0E141C;
  font-size:15px;
  line-height:2em;
}
.prime_area .prime_inner .theallsprime_number6 .security_box span{
  font-weight:600;
}
.prime_area .prime_inner .theallsprime_number6 .security_img img{
  width:800px;
}
.prime_area .prime_inner .theallsprime_number6 .security_img p{
  margin:20px 0;
}
.prime_area .prime_inner .theallsprime_number6 .security_img .s_title{
  color:#0E141C;
  margin-top:40px;
  margin-bottom:10px;
  font-size:25px;
  font-weight:600;
  display:inline-block;
}
.prime_area .prime_inner .theallsprime_number6 .security_img .security_txt{
  margin-bottom:20px;
  font-size:15px;
  color:#0e141c;
  display:block;
}

/*history*/
.prime_area .prime_inner .theallsprime_icon7{
  margin-top:0;
  overflow:hidden;
  padding:80px 0 50px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon7 .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
  float:left;
  width:100%;
}
.prime_area .prime_inner .theallsprime_icon7 p b{
  font-size:25px;
}
.prime_area .prime_inner .theallsprime_number7{
  display:block;
  text-align: center;
  margin-top:50px;
}
.prime_area .prime_inner .theallsprime_number7 .history_inner{
  width:100%;
}
.prime_area .prime_inner .theallsprime_number7 .history_box img{
  width:850px;
  margin:50px 0 200px 0;
}

/*main_footer*/


.main_footer input{
  padding:10px 50px;
  font-size:15px;
  border-radius: 5px;
  border:none;
  border:1px solid #0E141C;
  color:#0E141C;
  font-weight:600;
  margin-top:30px;
  cursor:pointer;
}
.prime_area .prime_inner .theallsprime_icon8{
  margin-top:0;
  overflow:hidden;
  padding:80px 0 50px 0;
  display:inline-block;
  width:100%;
  background-color:#eee;
}
.prime_area .prime_inner .theallsprime_icon8 .prime_text{
  font-size:18px;
  font-weight:500;
  margin:20px 0;
  color:#0E141C;
  text-align: center;
  float:left;
  width:100%;
}
.prime_area .prime_inner .theallsprime_icon8 p b{
  font-size:25px;
}


/*more_thealls*/
.more_thealls{
  margin:100px 0 100px 0;
  overflow: hidden;
}
.more_thealls p{
  position: relative;
}
.more_thealls .more_a{
  width:10%;
  height:50px;
  color:#f00;
  position:absolute;
  display:block;
  overflow:hidden;
  text-indent:-9999px;
  top:45%;
  right:42%;
}
.more_thealls img{
  width:50%;
  margin: 0 0 150px 0;
}

/*메인홈버튼*/
.main_icon{
  position:fixed;
  bottom:2%;
  right:2%;
  visibility: hidden;
  overflow:hidden;
  display:none;
}
.main_icon img{
  border:1px solid #efefef;
  border-radius:50px;
  width:50px;
  cursor:pointer;
}
/*메인탑버튼*/
.main_top{
  position:fixed;
  bottom:8%;
  right:2%;
  visibility: hidden;
  overflow:hidden;
  display:none;
}
.main_top img{
  border:1px solid #efefef;
  border-radius:50px;
  width:50px;
  cursor:pointer;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
  .content_wrap2{
    width:100vw;
    overflow:hidden;
    margin:0;
    padding:0;
    overflow-x: hidden;
    color:#0E141C;
  }
  .prime_main{
  width:100%;
  background: url(../img/m_main.png) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  overflow: hidden;
  margin-top:14%;
}
  .prime_area .prime_inner .theallsprime_icon,
   .prime_area .prime_inner .theallsprime_icon2,
   .prime_area .prime_inner .theallsprime_icon3,
    .prime_area .prime_inner .theallsprime_icon4,
     .prime_area .prime_inner .theallsprime_icon5,
      .prime_area .prime_inner .theallsprime_icon5,
       .prime_area .prime_inner .theallsprime_icon6,
        .prime_area .prime_inner .theallsprime_icon7,
         .prime_area .prime_inner .theallsprime_icon8{
    width:100vw;
    overflow: hidden;
    display: block;
}
  .prime_area .prime_inner .theallsprime_number3 .join_box,
   .prime_area .prime_inner .theallsprime_number4 .wallet_box,
    .prime_area .prime_inner .theallsprime_number5 .platform_box,
     .prime_area .prime_inner .theallsprime_number6 .security_box{
    width:70%;
}
  .prime_inner{
    width:100%;
}

/*value*/

.prime_area .prime_inner h3 {
    font-size: 2.0em;
    margin-bottom:0;
}
.prime_area .prime_inner .theallsprime_icon .prime_text{
  font-size:12px;
  width:auto;
  padding:0 10px;
}
.prime_area .prime_inner .theallsprime_icon p b{
  font-size:15px;
}
.theallsprime_icon{
    margin-bottom: 30px;
}
.prime_area .prime_inner .theallsprime_number1 li.value_letter{
  width:70%;
  overflow:hidden;
  padding:20px;
  font-size:12px;
  border:2px solid #eaaf69;
  margin: 0 auto;
}
.prime_area .prime_inner .theallsprime_number1 li.value_img{
  margin-top:20px;
}
.prime_area .prime_inner .theallsprime_number1 img{
  border:none;
  margin-bottom:20px;
  border-radius:50%;
  width:30%;
}
/*service*/

.prime_area .prime_inner .theallsprime_number2 ul {
}
.prime_area .prime_inner .theallsprime_icon2{
  padding:100px 0 80px 0;
  position: relative;
  overflow:hidden;
}
.prime_area .prime_inner .theallsprime_icon2 ul{
  margin:0;
}
.prime_area .prime_inner .theallsprime_icon2 .prime_text{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_icon2 p b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_icon2 li{
  width:200px;
  height:200px;
  margin-right:0;
  margin-bottom:20px;
  float:none;
}
.prime_area .prime_inner .theallsprime_icon2 li:nth-child(1){
  background:none;
}
.prime_area .prime_inner .theallsprime_icon2 .prime_ul01 li{
  background:url(../img/prime_coin.png) no-repeat 0 50%; background-size:cover;
}
.prime_area .prime_inner .theallsprime_icon2 .prime_ul02 li{
  background:url(../img/prime_time.png) no-repeat 0 0; background-size:cover;
}
.prime_area .prime_inner .theallsprime_icon2 .prime_ul03 li{
  background:url(../img/prime_coin2.png) no-repeat 0 0; background-size:cover;
}
.prime_area .prime_inner .theallsprime_icon2 li strong{
  width:79%;
  height:80%;
  line-height:13em;
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_icon2 li strong b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_icon2 li strong:hover{
  transform: scale(1.25);
}
.prime_area .prime_inner .theallsprime_icon2 li strong:hover .more{
  display:none;
}
.prime_area .prime_inner .theallsprime_icon2 li span{
  width:200px;
  height:200px;
}
.prime_area .prime_inner .theallsprime_icon2 li p.more{
  display:block;
  font-size:12px;
  color:#fff;
  top:55%;
}
.prime_area .prime_inner .theallsprime_icon2 .st_text{
  margin-bottom:20px;
  padding:0 9%;
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number2{
  overflow:hidden;
  margin-top:0;
}
.prime_area .prime_inner .theallsprime_number2 li p{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number2 .app_company1 li:nth-child(1){
  margin-left:9%;
}
.prime_area .prime_inner .theallsprime_number2 .app_company1 .none_li{
  font-size:12px;
  width:190px;
}
.prime_area .prime_inner .theallsprime_number2 .app_company2{
  margin-top:20px;
}
.prime_area .prime_inner .theallsprime_number2 .app_company2 li:nth-child(1){
  margin-left:9%;
}
.prime_area .prime_inner .theallsprime_number2 .app_company2 .none_li{
  font-size:12px;
  width:190px;
  margin:0 auto;
}

/*join*/
.prime_area .prime_inner .theallsprime_icon3 p b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_icon3 .prime_text{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number3 .join_box{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number3 .join_img strong{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number3 .join_img span{
  font-size:12px;
  margin:20px;
  padding:0 20px;
}
.prime_area .prime_inner .theallsprime_number3 .join_img span b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number3{
  margin-top:0;
  margin-bottom:20%;
}
.prime_area .prime_inner .theallsprime_number3 img {
    width: 100%;
    max-width: 650px;
    margin-bottom:20px;
    display: inline-block;
}
.prime_area .prime_inner .theallsprime_number3 .join_img .join_img_fence {
    margin:0;
    width: 100%;
    padding: 0;
}

/*method*/
.prime_area .prime_inner .theallsprime_icon4 p b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_icon4 .prime_text{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number4 .wallet_box{
  font-size:12px;
  margin-top:0;
  margin-bottom:0;
}
.prime_area .prime_inner .theallsprime_number4 table{
  margin-top:10%;
  margin-left:10%;
}
.prime_area .prime_inner .theallsprime_number4 table th{
  width:30%;
}
.prime_area .prime_inner .theallsprime_number4 table th img{
  width:60%;
}
.prime_area .prime_inner .theallsprime_number4 table td{
  font-size:12px;
  text-align:left;
}
  .prime_area .prime_inner .theallsprime_number4{
    margin-bottom:30px;
}
.prime_area .prime_inner .theallsprime_number4 li img{
  width:30%;
}
/*platform*/
.prime_area .prime_inner .theallsprime_icon5 p b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_icon5 .prime_text{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number5{
  margin-bottom:50px;
}
.prime_area .prime_inner .theallsprime_number5 .platform_box{
  font-size:12px;
  margin:0;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .title_li img{
  width:80%;
}
.prime_area .prime_inner .theallsprime_number5 .platform_img_box .none_li{
  font-size:12px;
  width:190px;
}
.prime_area .prime_inner .theallsprime_number5 .app_company2{
  margin-top:20px;
}

/*security*/
.prime_area .prime_inner .theallsprime_icon6 p b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_icon6 .prime_text{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number6{
  margin-bottom:50px;
}
.prime_area .prime_inner .theallsprime_number6 .security_box{
  margin:0;
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number6 .security_img .s_title{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number6 .security_img .security_txt{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number6 .security_img img {
    max-width: 800px;
    width: 95%;
}
/*history*/

.prime_area .prime_inner .theallsprime_icon7 p b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_icon7 .prime_text{
  font-size:12px;
}
.prime_area .prime_inner .theallsprime_number7{
  margin-bottom:50px;
}

/*thank you*/

.prime_area .prime_inner .theallsprime_icon8 p b{
  font-size:15px;
}
.prime_area .prime_inner .theallsprime_number7 .history_box img{
  width:90%;
  max-width:750px;
  margin:0 20px;
}
.prime_area .prime_inner .theallsprime_number4 ul, .platform_img_box{
  width:80%;
  max-width: 800px;
  margin:0 auto;
}
.more_thealls img{
  width:125%;
  margin-bottom:20px;
}
.more_thealls p{
  left:-12%;
}
.more_thealls .more_a{
  width:30%;
  height:30px;
  top:56%;
  right:15%;
}
/*top버튼*/
.main_top{
  bottom:1%;
  right:-19.5%;
}
.main_top img{
  width:30%;
}
@media all and (min-width:1025px) and (max-width:1599px){
  .main_footer{
    margin-bottom:10%;
  }
}
