html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
}
/* 화면로딩시 깜박임 현상 제거 */
html.no-js {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  letter-spacing: -0.5px;
  color: #fff;
  background-color: #0E141C;
}

table {
  width: 100%;
  text-align: center;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0
}

li {
  list-style: none;
}

a {
  outline: none;
}

img{
    border:0;
}
a:link, a:visited {
  text-decoration: none;
  color: #fff;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="submit"], input[type="reset"], input[type="file"], textarea, input[type="button"], button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
  background: none;
}
select::-ms-expand {
    display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url("../img/arrow_down_white.png") no-repeat 95% center;
  background-size: 7px;
  padding-left: 2px;
  padding-right: 15px;
}

input, textarea, select {
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a img {
    border: none
  }
}

/*레이블 skip*/
.skip_label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  position: absolute;
  left: -999px;
}
