#signUp_c_area {
  padding: 30px 40px;
}
#signUp_c_area h3 {
  color: #7AABDF;
  font-size: 25px;
  padding-bottom: 30px;
}
#signUp_c_area .complete_text {
  text-align: center;
  border-bottom: 1px solid #7AABDF;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
#signUp_c_area .complete_text strong {
  display: block;
  color: #7AABDF;
  font-size: 19px;
  font-weight: 600;
  margin: 10px 0;
  letter-spacing: 1px;
}
#signUp_c_area .complete_text p {
  font-weight: 600;
  line-height: 1.8;
}
#signUp_c_area .complete_text p a:hover {
  opacity: .8;
}
#signUp_c_area .complete_text p b {
  color: #eaaf69;
  font-size: 18px;
}
#signUp_c_area .cer_center {
  border-bottom: 2px solid #0E141C;
}
#signUp_c_area .cer_center .cer_level {
  margin-bottom: 0;
}
#signUp_c_area .cer_center .cer_level a {
    display: inline-block;
    background: none;
    color: #7AABDF;
    border: 1px solid #7AABDF;
    padding: 4px 20px;
    margin-top: 7px;
}
#signUp_c_area .cer_center .cer_level a:hover {
    color:#080D13;
    background: #7AABDF;
}
#signUp_c_area .btn_area {
  text-align: center;
  margin-top: 30px;
}
#signUp_c_area .btn_area a.look_around, #signUp_c_area .btn_area a.go_login {
  display: inline-block;
  border: 1px solid #7AABDF;
  border-radius: 5px;
  width: 130px;
  padding: 7px 5px;;
  font-weight: 600;
  color: #7AABDF;
}
#signUp_c_area .btn_area a.go_login {
  background: #7AABDF;
  color: #080D13;
}
#app_wrap{
  display:none;
}

@media all and (min-width:320px) and (max-width:1024px){
  .loginC_content{
    text-align: center;
  }
  .loginC_content .loginC_story{
    display:inline-block;
    width:100%;
    font-size:80%;
    font-weight:600;
    margin:15px 0;
    text-align: center;
    overflow: hidden;
    background:#080D13;
    border:1px solid #7AABDF;
    border-radius: 5px;
  }
  .loginC_content .loginC_story img{
    width:30%;
    margin-top:20px;
  }
  .loginC_content .loginC_story h4{
    color:#7AABDF;
    font-size:18px;
  }
  .loginC_content .loginC_story p{
    margin:20px 0;
    color:#7AABDF;
  }
  @media all and (min-width:320px) and (max-width:400px){
      .loginC_content .loginC_story p{
        font-size: 12px;
      }
  }
  .loginC_content .loginC_story span{
    color:#eaaf69;
    font-size:12px;
  }
  .loginC_content .loginC_story input.home_bt{
  background:#080D13;
  border: 1px solid #7AABDF;
  color: #7AABDF;
  padding: 10px 0;
  font-size: 12px;
  width: 60%;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 10px;
  }
  .loginC_content .loginC_story input.login_bt{
  background:#7AABDF;
  border: none;
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
  width: 60%;
  border-radius: 5px;
  font-weight: 600;
  margin-top:10px;
  margin-left: 5px;
  margin-bottom:20px;
  }
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }

}
