#signUp_c_area {
  padding: 30px 40px;
}
#signUp_c_area h3 {
  color: #071f45;
  font-size: 25px;
  padding-bottom: 30px;
}
#signUp_c_area .complete_text {
  text-align: center;
  border-bottom: 1px solid #1B2F4A;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
#signUp_c_area .complete_text strong {
  display: block;
  color: #1B2F4A;
  font-size: 19px;
  font-weight: 600;
  margin: 10px 0;
  letter-spacing: 1px;
}
#signUp_c_area .complete_text p {
  font-weight: 600;
  line-height: 1.8;
}
#signUp_c_area .complete_text p a:hover {
  opacity: .8;
}
#signUp_c_area .complete_text p b {
  color: #c95b74;
  font-size: 18px;
}
#signUp_c_area .cer_center {
  border-bottom: 1px solid #efefef;
}
#signUp_c_area .cer_center .cer_level {
  margin-bottom: 0;
}
#signUp_c_area .cer_center .cer_level a {
  display: inline-block;
  background-color: #1B2F4A;
  border-radius: 5px;
  color: #fff;
  padding: 4px 20px;
  margin-top: 7px;
}
#signUp_c_area .cer_center .cer_level a:hover {
  background-color: rgba(27,47,74,.9);
}
#signUp_c_area .btn_area {
  text-align: center;
  margin-top: 30px;
}
#signUp_c_area .btn_area a.look_around, #signUp_c_area .btn_area a.go_login {
  display: inline-block;
  border: 1px solid #1B2F4A;
  border-radius: 5px;
  width: 130px;
  padding: 7px 5px;;
  font-weight: 600;
  color: #1B2F4A;
}
#signUp_c_area .btn_area a.go_login {
  background: #1B2F4A;
  color: #fff;
}
#signUp_c_area .btn_area a.go_login:hover {
    background-color: rgba(27,47,74,.9);
}

@media all and (min-width:320px) and (max-width:768px){
  .loginC_content{
    text-align: center;
  }
  .loginC_content .loginC_story{
    display:inline-block;
    width:100%;
    font-size:80%;
    font-weight:600;
    margin:15px 0;
    text-align: center;
    overflow: hidden;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(100,100,100,.2);
  }
  .loginC_content .loginC_story img{
    width:30%;
    margin-top:20px;
  }
  .loginC_content .loginC_story h4{
    color:#1b2f4a;
    font-size:18px;
  }
  .loginC_content .loginC_story p{
    margin:20px 0;
    color:#1b2f4a;
  }
  .loginC_content .loginC_story span{
    color:#c95b74;
    font-size:12px;
  }
  .loginC_content .loginC_story input.home_bt{
  background:#fff;
  border: 1px solid #1b2f4a;
  color: #1b2f4a;
  padding: 10px 0;
  font-size: 12px;
  width: 60%;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 10px;
  }
  .loginC_content .loginC_story input.login_bt{
  background:#1b2f4a;
  border: none;
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
  width: 60%;
  border-radius: 5px;
  font-weight: 600;
  margin-top:10px;
  margin-left: 5px;
  margin-bottom:20px;
  box-shadow: 1px 2px 4px #555;
  }

}
