body{
    background: #fff;
    color: #333;
}
/*header*/
#header_wrap{
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #f7f8f9;
}
body #header_wrap .header{
    width: 1280px;
    padding:10px 0;
    margin: 0 auto;
    min-width: auto;
}
#header_wrap .logo{
    padding:10px;
    background:#0E141C;
    width:100px;
    vertical-align: -5px;
}
#header_wrap .guide_text{
    display: inline-block;
    font-size: 25px;
    vertical-align: 12px;
    font-weight: 600;
    color:#0E141C;
}
.mediate_size{
    width: 579px;
    height: 431px;
}

/*main_content*/
.main_content{
    width: 1200px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 100px;
}
.main_content .title{
    display: inline-block;
    font-weight: 500;
    font-size: 35px;
    color: #0E141C;
    vertical-align: 10px;
    margin-left: 5px;
}
.main_content .intro_text{
    font-size: 18px;
    margin-top: 20px;
}
.main_content .step_box .step_li{
    border-radius: 50px;
    padding: 20px;
    width: 1200px;
    margin: 50px auto;
}
.main_content .step_box .step_li img{
    border-radius: 5px;
    box-shadow: 3px 3px 15px #999;
    margin-left: 18px;
}
.main_content .step_box .step_li_02 img,
.main_content .step_box .step_li_07 img,
.main_content .step_box .step_li_08 img,
.main_content .step_box .step_li_09 img{
    display: block;
}
.main_content .step_box .step_li .step_title{
    font-size: 20px;
    color: #0E141C;
    font-weight: 600;
    margin: 15px 15px 20px 15px;
}
.main_content .step_box .step_li .step_title .step_number{
    font-size: 30px;
    margin-right: 5px;
}
.main_content .step_box .step_li .subscription{
    display: inline-block;
    margin-top: 20px;
    line-height: 24px;
    padding-left: 30px;
}
.main_content .step_box .step_li .subscription .impact{
    font-weight: 600;
    color:#e04467;
}

/*반응형*/
@media all and (min-width:320px) and (max-width:1024px){
    #container #header_wrap{
        display: block;
    }
    body #container #header_wrap .header{
        text-align: center;
        width: 100%;
    }
    #container #header_wrap .logo{
        max-width: 104px;
        width: 20%;
    }
    #container .main_content{
        width: 90%;
        padding: 20% 0;
    }
    .main_content .worker_img{
        width: 12%;
        max-width: 60px;
    }
    #container .main_content .step_box .step_li{
        width: 100%;
        margin: 30px auto;
        padding: 0;
    }
    #container .mediate_size{
        width: auto;
        height: auto;
    }
    #container .main_content .step_box .step_li img{
        margin-left: 0;
        width: 100%;
    }
    #container .main_content .step_box .step_li .subscription{
        font-size: 12px;
        margin-top: 10px;
        line-height: 20px;
        padding-left: 0;
    }
    #container .main_content .step_box .step_li .step_title{
        margin-left: 5px;
    }
}
/*반응형 font-size*/
@media all and (min-width:320px) and (max-width:620px){
    #header_wrap .guide_text,
    .main_content .title,
    .main_content .intro_text,
    .main_content .step_box .step_li .step_title,
    .main_content .step_box .step_li .step_title .step_number{
        font-size: 1em;
    }
}
@media all and (min-width:621px) and (max-width:720px){
    #header_wrap .guide_text,
    .main_content .title,
    .main_content .intro_text,
    .main_content .step_box .step_li .step_title,
    .main_content .step_box .step_li .step_title .step_number{
        font-size: 1.2em;
    }
}
@media all and (min-width:721px) and (max-width:1024px){
    #header_wrap .guide_text,
    .main_content .title,
    .main_content .intro_text,
    .main_content .step_box .step_li .step_title,
    .main_content .step_box .step_li .step_title .step_number{
        font-size: 1.3em;
    }
}
