/*submenu_mypage*/
.submenu_mypage {
  position: fixed;
  top: 150px;
  right: 0;
  z-index: 11;
}

.submenu_mypage_inner {
    width: 350px;
    position: fixed;
    z-index: 12;
    padding: 0 30px;
    top: 150px;
    right: -360px;
    overflow: hidden;
    background: #080D13;
}

.submenu_mypage_inner .profile {
    text-align: left;
    width: 200px;
    float: left;
    overflow: hidden;
    margin: 20px 0;
    color: #7AABDF;
}

.submenu_mypage_inner .profile #profile_name {
    font-size: 22px;
}

.submenu_mypage_inner .profile li {
    font-weight: 600;
    list-style-type: none;
    font-size: 17px;
    line-height: 1.6;
}

.submenu_mypage_inner .submenu_mypage_back {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}

.submenu_mypage_inner .submenu_mypage_info #submenu_mypage_select {
    width: 293px;
    border: 1px solid #fff;
    background-color: #080D13;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    padding-left: 3px;
    color: #fff;
    margin-left: -1px;
}
.submenu_mypage_inner .submenu_mypage_info #submenu_mypage_select option{
  background:#0E141C;
}
.submenu_mypage_inner .submenu_mypage_info #submenu_mypage_select .unit{
    font-weight: 600;
    color: #aaa;
    font-size: 14px;
}
.submenu_mypage_inner .submenu_mypage_info table {
  font-size: 13px;
}

.submenu_mypage_inner .submenu_mypage_info table th {
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 15px 0;
    font-size: 14px;
    color: #7AABDF;
}

.submenu_mypage_inner .submenu_mypage_info table td {
    border-bottom: 1px solid #fff;
    text-align: right;
    width: 150px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.submenu_mypage_inner .submenu_mypage_info table span {
    font-weight: 600;
    color: #aaa;
    font-size: 13px;
}

.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom {
  font-size: 12px;
  width: 290px;
  padding: 20px 0;
}

.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom span {
    float: left;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 2px;
}

.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom p a {
    float: right;
    color: #7AABDF;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2px;
}

.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom p a:hover {
  color: #eaaf69;
}

.submenu_mypage_inner .submenu_mypage_info .submenu_mypage_table_bottom b {
  color: #7AABDF;
}

/*submenu_security*/
.submenu_security {
  position: fixed;
  top: 260px;
  right: 0;
  z-index: 11;
}

.submenu_security_inner {
  position: fixed;
  top: 260px;
  right: -350px;
  z-index: 12;
  width: 250px;
  overflow: hidden;
  background: url(../img/security.gif) no-repeat -50% 0;
  background-size: 70%;
  background-color: #fff;
}

.submenu_security_inner .submenu_security_title {
  font-size: 15px;
  color: #7AABDF;
  font-weight: 600;
  text-align: left;
  padding: 20px 0 0 100px;
}

.submenu_security_inner .submenu_security_story {
  font-size: 12px;
  color: #080D13;
  padding: 30px 0 20px 20px;
}

.submenu_security_inner .submenu_mypage_back2 {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
