.track_ip_address_area .track_ip_address table thead th{
    padding: 13px 43px;
    border-bottom: 2px solid #1b2f4a;
    background-color: #f4f5f8;
    font-size: 15px;
    color: #1b2f4a;
}
.track_ip_address_area .track_ip_address table tbody td{
    height: 55px;
    border-bottom: 1px solid #f4f5f8;
    font-size: 15px;
}
