.track_ip_address_area .track_ip_address table{
  border:1px solid #7AABDF;
  border-collapse: inherit;
}
.track_ip_address_area .track_ip_address table thead th{
    padding: 13px 43px;
    border-bottom: 2px solid #7AABDF;
    background-color: #05080B;
    font-size: 15px;
    color: #7AABDF;
}
.track_ip_address_area .track_ip_address table tbody td{
    height: 55px;
    border-bottom: 2px solid #0E141C;
    font-size: 15px;
}
#wrap{
  display:block;
}
#app_wrap{
  display:none;
}
@media all and (min-width:320px) and (max-width:1024px){
  #app_wrap{
    display:block;
  }
  #wrap{
    display:none;
  }
}
@media all and (min-width:1025px) and (max-width:1599px){
  .track_ip_address_area .track_ip_address table thead th{
    font-size:12px;
    padding:13px 25px;
  }
  .track_ip_address_area .track_ip_address table tbody td{
    font-size:12px;
  }
}
