/* 메인페이지 */
#wrap  {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 auto;

}
#container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 2px;
}

/* 서브페이지 */
#sub_wrap{
  overflow-y: visible;
}
#sub_wrap #header {
  position: fixed;
}

.notice{
  letter-spacing: 3px;
}

/*top버튼*/
.top_bt{
  display:none;
  width:50px;
  height:50px;
  font-size:12px;
  background:rgba(16,97,168,0.5);
  text-align:center;
  line-height:30px;
  position:fixed;
  right:20px;
  bottom:5%;
  border-radius:50px;
  cursor:pointer;
  color:#fff;
  line-height:4em;
}

/*모바일 ver*/
@media all and (min-width:320px) and (max-width:768px){
  #m_headerWrap {
    display: block;
  }

  /* 모바일 컨텐츠 margin */
  .intro_content .intro_inner {
    margin-left: 0;
  }
}
