#header nav ul li:hover{
    background-color:#efefef;
}
#header nav ul li:active{
  background-color:#efefef;
}
#header nav ul li:nth-child(4){
  background-color:#efefef;
}
#header nav ul li:nth-child(4) a{
  color:#111;
}

/*map*/
.contact_content_inner{
    padding-top: 110px;
    text-align: center;
    width: 1280px;
    margin: 0 auto;
    font-family:"Nanum Gothic",sans-serif;
}
.contact_content h2{
    font-size: 30px;
    color: #222;
    margin-bottom: 60px;
}
.contact_content{
  padding-left: 234px;
  margin: 0 auto;
}
.map_fence{
    width: 1200px;
    padding-left: 10%;
}
.contact_inner{
  margin:0 auto;
  width:425px;
  height:445px;
  background-color:#20639f;
  color:#fff;
  float:left;
  text-align:left;
}
.contact_inner h3{
  font-size:35px;
  margin-top:50px;
  margin-left:30px;
  margin-bottom:40px;
}
.contact_inner span{
  font-size:14px;
  font-weight:bold;
}
.contact_inner ul{
  width:335px;
  height:50px;
  float:left;
  margin-bottom:20px;
  margin-left:30px;
}
.contact_inner ul img{
  margin-left:-25px;
  padding-left:20px;
  padding-top:5px;
  padding-right:10px;
  float:left;
  width:25px;
  height:25px;
}
.contact_inner .text1{
  list-style:none;
  width:300px;
  height:50px;
  margin-left:10px;
  float:left;
  line-height:20px;
}
.contact_inner .text2{
  list-style:none;
  width:300px;
  height:50px;
  margin-left:10px;
  float:left;
  line-height:20px;
}
.contact_inner .text2 a{
    color: #fff;
}
.contact_inner .text3{
  list-style:none;
  width:300px;
  height:50px;
  margin-top:10px;
  margin-left:10px;
  float:left;
  line-height:30px;
}
.contact_inner .text4{
  list-style:none;
  width:300px;
  height:50px;
  margin-top:10px;
  margin-left:10px;
  float:left;
  line-height:30px;
}
.contact_inner .text4 a{
    color: #fff;
}
.map{float:left;}

.map .root_daum_roughmap_landing .wrap_map{
    height: 412px;
}
/*반응형*/
@media (max-width: 768px) and (min-width: 320px){
    html{
        font-size:78%;
    }
    #container{
        font-size: 110%;
    }
    .contact_content{
        padding-left: 0;
        margin: 0;
    }
    .contact_content_inner{
        padding-top: 0;
        text-align: center;
        width: 100%;
        margin: 0;
        font-family: "Nanum Gothic",sans-serif;
    }
    .contact_inner{
        height: 100%;
        width: 100%;
    }
    .contact_content_inner h2{
        margin-bottom: 15px;
        font-size: 1.4rem;
        padding-top: 90px;
        letter-spacing: 2px;
    }
    .map_fence{
        width: 90%;
        padding-left: 0;
        margin: 0 auto;
        overflow: hidden;
    }
    .contact_inner h3{
        font-size: 1.4rem;
        margin: 25px 0 25px 24px;
    }
    .contact_inner ul li.text{
        margin-left: 0;
    }
    .map{
        float: none;
        overflow: hidden;
        width: 90%;
        margin: 0 auto 50px auto;
        display: inline-block;
    }
    /*다음지도 핀 조정*/
    .map .root_daum_roughmap_landing{
        width: 100%;
    }
    .map .root_daum_roughmap_landing .wrap_map{
        height: 300px;
    }

}
