#header nav ul li:hover{
    background-color:#efefef;
}
#header nav ul li:active{
  background-color:#efefef;
}
#header nav ul li:nth-child(3){
  background-color:#efefef;
}
#header nav ul li:nth-child(3) a{
  color:#111;
}

/*공지사항*/
.intro_inner{
    text-align: center;
    margin-left: 234px;
    font-family:"Nanum Gothic",sans-serif;
}
.intro_inner h2{
    padding-top:110px;
    font-size:30px;
    color:#222;
    margin-bottom:30px;
}
.intro_inner .co_notice_content .co_notice_table{
  width:100%;
  text-align: center;
}
.intro_inner .co_notice_content .co_notice_table table{
  width:51.2%;
  text-align: center;
  display:inline-block;
  border-top:2px solid #5586b7;
  background:#fff;
}
.intro_inner .co_notice_content .co_notice_table table th{
  width:100%;
  text-align: left;
  padding: 15px 50px;
  border-bottom:1px solid #efefef;
  cursor : pointer;
}
.intro_inner .co_notice_content .co_notice_table table .gray_notice{
  font-weight:500;
}
.intro_inner .co_notice_content .co_notice_table table td{
  width:100%;
  text-align: center;
  padding:0 50px;
  border-bottom:1px solid #efefef;
}
.intro_inner .co_notice_content .more_table{
  border:2px solid #5586b7;
  color:#5586b7;
  background:#fff;
  text-align:center;
  display:inline-block;
  width:50%;
  padding: 10px;
  font-size:15px;
  margin-top: 30px;
  cursor: pointer;
  margin-bottom: 50px;
}
.intro_inner .co_notice_content .more_table a{
  color:#5586b7;
}

/*공지사항 inner 부분*/

.intro_inner .co_notice_content .co_notice_story{
  width:51.2%;
  margin:0 auto;
}
.intro_inner .co_notice_content .co_notice_story .title{
  border-top:2px solid #5586b7;
  border-bottom:1px solid #efefef;
  padding:10px 0;
  width:100%;

}
.intro_inner .co_notice_content .co_notice_story .title strong{
  text-align:left;
  display:inline-block;
  width:75%;
}
.intro_inner .co_notice_content .co_notice_story .title span{
  text-align:right;
  display:inline-block;
  width:20%;
}
.intro_inner .co_notice_content .co_notice_story .story{
  font-size:14px;
  padding:40px 40px;
  text-align:left;
  height:280px;
  overflow-y:auto;
  line-height: 1.3;
}
.intro_inner .co_notice_content .co_notice_story .next_story p{
  padding:10px 20px;
  font-size:13px;
  text-align:left;
}
.intro_inner .co_notice_content .co_notice_story .next_story_table{
    border-top: 1px solid #efefef;
}
.intro_inner .co_notice_content .co_notice_story .next_story_table tr{
    border-bottom: 1px solid #efefef;
    height: 40px;
    line-height: 40px;
}
.intro_inner .co_notice_content .co_notice_story .next_story_top{
  border-top:1px solid #efefef;
  border-bottom:1px solid #efefef;
}
.intro_inner .co_notice_content .co_notice_story .story_bt{
    text-align: left;
    display: inline-block;
    width: 10%;
}
.intro_inner .co_notice_content .co_notice_story .story_bt img{
    padding-left: 5px;
}
.intro_inner .co_notice_content .co_notice_story .story_title{
    text-align: left;
    display: inline-block;
    width: 70%;
    font-size: 15px;
    cursor: pointer;
}
.intro_inner .co_notice_content .co_notice_story .story_date{
    text-align: left;
    display: inline-block;
    width: 10%;
    font-size: 15px;
}

/*반응형*/
@media (max-width: 768px) and (min-width: 320px){
    html{
        font-size:78%;
    }
    .intro_inner h2{
        margin-bottom: 15px;
        font-size: 1.4rem;
        padding-top: 90px;
    }
    .intro_inner .co_notice_content .co_notice_table table,
    .intro_inner .co_notice_content .co_notice_story{
        width: 90%;
    }
    .intro_inner .co_notice_content .co_notice_table table th{
        padding: 10px 3px;
    }
    .intro_inner .co_notice_content .co_notice_table table td{
        padding: 0 5px;
    }
    .intro_inner .co_notice_content .more_table{
        font-size: 1rem;
        margin-top: 15px;
    }
    .intro_inner .co_notice_content .more_table img{
        vertical-align: -1px;
        margin-left: 3px;
    }
    .intro_inner .co_notice_content .co_notice_story .story{
        font-size: 1rem;
        padding: 8% 5%;
    }
    .intro_inner .co_notice_content .co_notice_story .story_bt{
        width: 18%;
        font-size: 0.9rem;
    }
    .intro_inner .co_notice_content .co_notice_story .story_bt img{
        width: 8px;
    }
    .intro_inner .co_notice_content .co_notice_story .story_title{
        width: 65%;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .intro_inner .co_notice_content .co_notice_story .story_date{
        width: 15%;
        font-size: 0.9rem;
    }
}
