#header nav ul li:hover{
    background-color:#efefef;
}
#header nav ul li:active{
  background-color:#efefef;
}
#header nav ul li:nth-child(3){
  background-color:#efefef;
}
#header nav ul li:nth-child(3) a{
  color:#111;
}

/*map*/
.contact_content_inner{
    padding-top: 8%;
    text-align: center;
    width: 1280px;
    margin: 0 auto;
}
.contact_content h2{
    font-size: 30px;
    color: #222;
    margin-bottom: 50px;
}
.contact_content{
  padding-left: 234px;
  margin: 0 auto;
}
.map_fence{
    width: 1200px;
    padding-left: 10%;
}
.contact_inner{
  margin:0 auto;
  width:425px;
  height:445px;
  background-color:#111111;
  color:#fff;
  float:left;
  text-align:left;
}
.contact_inner h3{
  font-size:35px;
  margin-top:50px;
  margin-left:30px;
  margin-bottom:40px;
}
.contact_inner span{
  font-size:14px;
  font-weight:bold;
}
.contact_inner ul{
  width:335px;
  height:50px;
  float:left;
  margin-bottom:20px;
  margin-left:30px;
}
.contact_inner ul img{
  margin-left:-25px;
  padding-left:20px;
  padding-top:5px;
  padding-right:10px;
  float:left;
  width:25px;
  height:25px;
}
.contact_inner .text1{
  list-style:none;
  width:300px;
  height:50px;
  margin-left:10px;
  float:left;
  line-height:20px;
}
.contact_inner .text2{
  list-style:none;
  width:300px;
  height:50px;
  margin-left:10px;
  float:left;
  line-height:20px;
}
.contact_inner .text3{
  list-style:none;
  width:300px;
  height:50px;
  margin-top:10px;
  margin-left:10px;
  float:left;
  line-height:30px;
}
.contact_inner .text4{
  list-style:none;
  width:300px;
  height:50px;
  margin-top:10px;
  margin-left:10px;
  float:left;
  line-height:30px;
}
.map{float:left;}

/*footer*/
.contact_content .footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  background-color: #000;
  padding: 20px 30px;
  box-sizing: border-box;
  color: #fff;
  font-size: 13px;
  opacity: .8;
  overflow: hidden;
}
.contact_content .footer img {
  float: left;
  width: 75px;
}
.contact_content .footer p{
  display: block;
  text-align: right;
}
.contact_content .footer p a{
  color: #fff;
  text-decoration: underline;
}
