#header nav ul li:hover{
    background-color:#efefef;
}
#header nav ul li:active{
  background-color:#efefef;
}
#header nav ul li:nth-child(2){
  background-color:#efefef;
}
#header nav ul li:nth-child(2) a{
  color:#111;
}
.sub{
  padding-left: 234px;
  margin: 0 auto;
}
/*기술소개*/
.technology_inner .app_technology_header{
    display: none;
}
.technology_inner{
    text-align: center;
    font-family:"Nanum Gothic",sans-serif;
}
.technology_inner .bg_area {
  background: url(../img/tech_bg1.png) no-repeat 105px 0;
  background-size: 100%;
}
.technology_inner .bg_text{
  text-align: left;
  margin: 0 auto 200px auto;
  width: 1200px;
  padding-left: 30px;
  margin-top: 100px;
}
.technology_inner .bg_text p{
  font : 600 80px/80px 'Noto Sans KR', sans-serif;
}
.technology_inner .bg_text b{
  font : 600 40px/70px 'Noto Sans KR', sans-serif;
}
.technology_inner .bg_text strong{
  display: block;
  color: #000;
  font-size: 26px;
  font-weight: 600;
  margin: 30px 0;
}
.technology_inner .bg_text span{
  color: #666;
  font-size: 18px;
  line-height: 1.6;
}
.technology_inner .technology_header{
    height: 80px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 150px;
    left: 35%;
}
.technology_inner .technology_header a{
  color:#000;
  font-size: 16px;
  padding-bottom: 5px;
}
.technology_inner .technology_header a.on{
  border-bottom:2px solid #1b2f4a;
  display:inline;
  padding-top: 5px;
}
.technology_inner .technology_header a:after{
  border:1px solid red;
}
.technology_inner .technology_header ul{
    overflow: hidden;
    text-align: center;
    width: 800px;
    display: inline-block;
    margin-bottom:150px;
}
.technology_inner .technology_header li{
    float: left;
    width: 33.3%;
}
.technology_inner .technology_header li a{
    color:#222;
    margin-bottom:2px;
    font-weight: bold;
    font-size:16px;
    padding-bottom:5px;
}
.technology_inner h2{
    font-size:30px;
    color:#222;
    margin-bottom:20px;
}
.technology_inner .bg_title{
  padding-top:110px;
}
.technology_inner .tech_title{
    font-size: 30px;
    text-align: left;
    padding-left: 60px;
    padding-bottom:80px;
    font-weight: 600;
}
/* .technology_inner ul{
    overflow: hidden;
    text-align: center;
    width: 800px;
    display: inline-block;
    margin-bottom:30px;
}
.technology_inner ul li{
    float: left;
    width: 50%;
}
.technology_inner ul li a{
    color:#222;
    margin-bottom:2px;
    font-weight: bold;
    font-size:20px;
    padding-bottom:2px;
    display: inline-block;
}
.technology_inner ul li:first-child a{
    border-bottom:2px solid #222;
} */
.technology_inner .tech_intro{
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.technology_inner .tech_intro .second_title1{
  color: white;
  text-shadow: 2px 2px 10px rgba(0,0,0,.5);
  font: 600 40px 'Noto Sans KR', sans-serif;
  text-align: center;
  margin-bottom: 100px;
}
.technology_inner .tech_intro .tech_mission{
  width: 1200px;
  padding: 60px 100px;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.technology_inner .tech_intro .tech_mission .circle img{
  width:150px;
  height:150px;border-radius:100px;border:1px solid #eee;
}
.technology_inner .tech_intro p:not(.tech_title){
  color: #222;
  font-size: 43px;
  /*text-align: left;*/
  margin-bottom:5px;
  font-family:"Fira Sans",sans-serif;
}
.technology_inner .tech_intro span{
  color: #222;
  font-size: 20px;
  /*text-align: left;*/
  display: block;
  margin-bottom: 75px;
  line-height: 1.5;
}
.technology_inner .tech_intro img.image_01{
  width: 330px;
  height: 330px;
  position: absolute;
  top:600px;
  z-index: 3;
  right: 235px;
}
.technology_inner .tech_intro img.image_02{
    width: 486px;
    height: 732px;
    position: absolute;
    top: 100px;
    right: -65px;
}
.technology_inner .ai_tech_content{
    position: relative;
    color:#fff;
    width: 100%;
}
.technology_inner .ai_tech_content img{
    width: 100%;
}
.technology_inner .ai_tech_content p{
    font-size:50px;
    bottom:150px;
    position: relative;
    text-align: center;
}
.technology_inner .ai_tech_content span{
    font-size:25px;
    position:relative;
    text-align: center;
    bottom:130px;
}

/*기술소개*/
.technology_inner .tech_content_wrap{
    position: relative;
    height: 800px;
    width: 1200px;
    margin: 0 auto;
    padding-top:120px;
}
.technology_inner .tech_content_wrap .tech_detail_bt{
  padding:5px 10px;
  font-size:15px;
  font-weight:500;
  color:#fff;
  border:1px solid #fff;
  display:inline-block;
  margin-top:20px;
  cursor:pointer;
}
.technology_inner .tech_content_wrap .tech_detail_bt:hover{
  opacity:0.8;
}
.technology_inner .tech_content_wrap h3{
    color: #fff;
    position: absolute;
    top: 300px;
    text-align: right;
    right: 5%;
    font-size: 40px;
    z-index: 5;
}
.technology_inner .tech_content_wrap h3 span{
    font-size:22px;
    display: block;
    margin-top: 20px;
}
.technology_inner .tech_content_wrap ul{
    left: 5%;
    background: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 30px 50px;
    position: absolute;
    top: 300px;
    z-index: 2;
}
.technology_inner .tech_content_wrap ul li{
    display: table;
    text-align: left;
    line-height: 1.4;
    font-size: 17px;
    margin-top: 12px;
    width: 220px;
}
.technology_inner .tech_content_wrap ul li a{
    color:#222;
    font-weight: 500;
}
.technology_inner .tech_content_wrap ul li a:hover{
    color:#1b5ea9;
    font-weight: 600;
}
.technology_inner .tech_content_wrap ul li.on a{
    color:#1b5ea9;
    font-size: 18px;
    font-weight: 600;
}
.technology_inner .tech_content_wrap ul li.on a .on_line{
  width:70px;
  border:1px solid #1b5ea9;
  position:absolute;
  top:55px;
  left:-35px;
  box-shadow:0.5px 0.5px 0.5px #ccc;
}
.technology_inner .tech_content_wrap ul li.on a .on_line2{
  width:70px;
  border:1px solid #1b5ea9;
  position:absolute;
  top:89px;
  left:-35px;
  box-shadow:0.5px 0.5px 0.5px #ccc;
}
.technology_inner .tech_content_wrap ul li.on a .on_line3{
  width:70px;
  border:1px solid #1b5ea9;
  position:absolute;
  top:124px;
  left:-35px;
  box-shadow:0.5px 0.5px 0.5px #ccc;
}
.technology_inner .tech_content_wrap .tech_content{
    height: 700px;
    top: -153px;
    position: relative;
}
#te_intro_kind .tech_title{
    position: relative;
    top: -100px;
    padding-left: 60px;
    padding-top: 100px;
}
.technology_inner .tech_content_wrap .tech_content::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.5);
    height:700px;
}
.technology_inner .tech_content_wrap .tech_content img{
    width: 1200px;
    height: 700px;
}
.technology_inner .tech_content_wrap .tech_content p{
    color: #fff;
    position: absolute;
    top:390px;
    left:65px;
    text-align: left;
    font-size: 15px;
    word-break: keep-all;
    line-height:1.5em;
    width:82%;

}
/*tech_detail*/
.technology_inner .tech_detail{
  width:1200px;
  margin:70px auto;
}
.technology_inner .tech_detail .tech_box{
  overflow:hidden;
  margin:0 auto;
  margin-bottom:50px;
}
.technology_inner .tech_detail .tech_box img{
  width:900px;
}
.technology_inner .tech_detail .tech_box span{
  font-size:12px;
  font-weight:500;
}
/*box_1*/
.technology_inner .tech_detail .tech_box .left_box1{
  width:300px;
  height:100px;
  float:left;
  text-align:center;
}
.technology_inner .tech_detail .tech_box .left_box1 div{
  border:1px solid #1b5ea9;
  width:100px;
  margin-left : 100px;
  margin-bottom:10px;
}
.technology_inner .tech_detail .tech_box .left_box1 p{
  font-weight:600;
  font-size:20px;
}
.technology_inner .tech_detail .tech_box .right_box1{
  float:right;
  width:900px;
  text-align:left;
}
.technology_inner .tech_detail .tech_box .right_box1 p{
  padding-bottom:20px;
  line-height:1.5em;
}
/*box_2*/
.technology_inner .tech_detail .tech_box .right_box2{
  width:300px;
  height:100px;
  float:right;
  text-align: center;
}
.technology_inner .tech_detail .tech_box .right_box2 div{
  border:1px solid #1b5ea9;
  width:100px;
  text-align: center;
  margin-left:100px;
  margin-bottom:10px;
}
.technology_inner .tech_detail .tech_box .right_box2 #right_box_div{
  margin-left:100px;
}
.technology_inner .tech_detail .tech_box .right_box2 p{
  font-weight:600;
  font-size:20px;
}
.technology_inner .tech_detail .tech_box .left_box2{
  float:left;
  width:900px;
  text-align:left;
}
.technology_inner .tech_detail .tech_box .left_box2 p{
  padding-bottom:20px;
  line-height:1.5em;
}
#te_intro_story{
    padding-top: 120px;
    padding-bottom: 30px;
}

/*반응형*/
@media all and (max-width: 768px) and (min-width: 320px){
    .technology_inner .bg_text,
    .technology_inner .technology_header ul,
    .technology_inner .tech_intro,
    .technology_inner .tech_intro .tech_mission,
    .technology_inner .tech_content_wrap,
    .technology_inner .tech_content_wrap .tech_content img{
        width: 100%;
    }
    .sub{
        padding-left: 0;
        width: 100%;
    }
    .technology_inner .technology_header{
        display: none;
        visibility: hidden;
    }
    .technology_inner .app_technology_header{
        display: block;
        position: fixed;
        top: 50px;
        width: 100%;
        background-color: #fff;
        padding-top: 10px;
        font-size: 12px;
        background-color: rgba(255,255,255,0.6);
        z-index: 6;
    }
    .technology_inner .app_technology_header a{
        font-size: 12px;
        padding-bottom: 1px;
    }
    .technology_inner .app_technology_header ul li a.on{
        border-bottom:2px solid #1b2f4a;
        display:inline;
        padding-top: 5px;
    }
    .technology_inner .app_technology_header ul{
        width: 100%;
        margin-bottom: 0;
        overflow: hidden;
        text-align: center;
        display: inline-block;
    }
    .technology_inner .app_technology_header ul li{
        float: left;
        width: 33.3%;
        padding-bottom: 5px;
    }
    .technology_inner .bg_area{
        background-size: 158%;
        margin-top: 70px;
        background-position: 47% 3%;
    }
    .technology_inner .bg_title{
        padding-top: 60px;
        padding-left: 11%;
        text-align:left;
        font-size:20px;
    }
    .technology_inner .bg_text p{
        font: 600 20px/24px 'Noto Sans KR', sans-serif;
        padding-left: 11%;
    }
    .technology_inner .bg_text{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    .technology_inner .bg_text b{
        font: 600 13px/33px 'Noto Sans KR', sans-serif;
        padding-left: 11%;
    }
    .technology_inner .bg_text strong{
        font-size: 15px;
    }
    .technology_inner .bg_text span{
        color: #111;
        font-size: 12px;
        line-height: 1.6;
        width: 82%;
        display: inline-block;
        font-weight: 600;
        text-shadow: 1px 1px 1px #ececec;
        padding-left: 11%;
    }
    .technology_inner .tech_intro .second_title1{
        font: 600 18px 'Noto Sans KR', sans-serif;
        text-align: left;
        padding-left: 10%;
        margin-bottom: 40px;
        margin-top: 8%;
        text-shadow: 3px 2px 6px #555;
    }
    .technology_inner .tech_intro{
        width: auto;
        margin: 0;
        position: static;
    }
    .technology_inner .tech_intro .tech_mission{
        width: 100%;
        padding: 0 1%;
    }
    #container .technology_inner .tech_title{
        font-size: 20px;
        padding-bottom: 40px;
        padding-top: 12%;
        padding-left: 11%;
        top: 0;
    }
    .technology_inner .tech_intro .tech_mission .circle img{
        width: 35%;
        height: auto;
        max-width: 150px;
    }
    .technology_inner .tech_intro p:not(.tech_title){
        font-size: 20px;
    }
    .technology_inner .tech_intro span{
        font-size: 12px;
    }
    .technology_inner .tech_content_wrap{
        padding-top: 100px;
        width: 100%;
    }
    .technology_inner .tech_content_wrap .tech_content::before{
        height: 98%;
    }
    .technology_inner .tech_content_wrap h3{
        color: #1061A8;
        top: 175px;
        text-align: left;
        left: 11%;
        font-size: 16px;
    }
    .technology_inner .tech_content_wrap h3 span{
        font-size: 13px;
        margin-top: 5px;
    }
    .technology_inner .tech_content_wrap .tech_content{
        height: auto;
        margin-top: 30px;
    }
    .technology_inner .tech_content_wrap .tech_content img{
        width: 100%;
        height: auto;
    }
    .technology_inner .tech_content_wrap ul{
        top: 31px;
        background: none;
        position: relative;
        transform: translateY(10px);
        left: 0;
    }
    .technology_inner .tech_content_wrap ul li{
        font-size: 13px;
    }
    .technology_inner .tech_content_wrap ul li a{
        color: #fff;
    }
    .technology_inner .tech_content_wrap ul li.on a{
        font-size: 13px;
        color: #fff;
    }
    .technology_inner .tech_content_wrap ul li.on a .on_line{
        width: 8%;
    }
    .technology_inner .tech_content_wrap ul li.on a .on_line{
        width: 8%;
        border: 1px solid #fff;
        position: absolute;
        top: 49px;
        left: 10px;
        box-shadow: 0.5px 0.5px 0.5px #ccc;
    }
    .technology_inner .tech_content_wrap ul li.on a .on_line2{
        top: 79px;
    }
    .technology_inner .tech_content_wrap ul li.on a .on_line3{
        top: 109px;
    }
    .technology_inner .tech_content_wrap .tech_content p{
        color: #666;
        top: 114%;
        left: 0;
        font-size: 13px;
        width: 95%;
        margin-left: 2.5%;
    }
    .technology_inner .tech_detail{
        width: 100%;
        margin: 0;
    }
    .technology_inner .tech_detail .tech_box{
        overflow: auto;
    }
    .technology_inner .tech_detail .tech_box .title_box{
        float: none;
        width: 100%;
    }
    #container .technology_inner .tech_detail .title_bar{
        width: 15%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #container .technology_inner .tech_detail .tech_box .text_title{
        font-size: 15px;
    }
    .technology_inner .tech_detail .tech_box .right_box2 #right_box_div{
        margin-left: auto;
    }
    #container .technology_inner .tech_detail .tech_box .con_box{
        float: none;
        width: 90%;
        margin-left: 5%;
        font-size: 14px;
    }
}
/*PIXEL 기종*/
@media (max-width: 411px) and (min-width: 411px){
    #sub_wrap #container .technology_inner .tech_title{
        padding-top: 50px;
    }
}
/*아이패드*/
@media (max-width: 768px) and (min-width: 768px){
    #container .technology_inner .bg_area{
        background-size: 100%;
        margin-top: 80px;
        background-position: 0 0;
    }
    #container .technology_inner .tech_title{
        padding-top: 10%;
        padding-left: 11%;
        top: 0;
        margin-bottom: 10px;
    }
    #container .technology_inner .tech_content_wrap{
        height: 200px;
    }
    #container .technology_inner .tech_content_wrap .tech_content::before{
        height: 99%;
    }
    .technology_inner .tech_content_wrap ul{
        margin-left: 380px;
        width: 150px;
        height: 100px;
        padding: 15px 41px;
        background: rgba(255,255,255,0.8);
        top: 15px;
    }
    #container .technology_inner .tech_content_wrap h3{
        top: 157px;
    }
    .technology_inner .tech_content_wrap ul li a{
        color: #222;
    }
    .technology_inner .tech_content_wrap ul li.on a{
        color: #1b5ea9;
    }
    .technology_inner .tech_content_wrap ul li.on a .on_line{
        top: 33px;
        border:1px solid #1b5ea9;
    }
    .technology_inner .tech_content_wrap ul li.on a .on_line2{
        top: 64px;
    }
    .technology_inner .tech_content_wrap ul li.on a .on_line3{
        top: 94px;
    }
    .technology_inner .tech_content_wrap .tech_content p{
        color: #fff;
        top: 43%;
    }
    #te_intro_story{
        margin-top: 46%;
    }
}
