#header nav ul li:hover{
    background-color:#efefef;
}
#header nav ul li:active{
  background-color:#efefef;
}
#header nav ul li:nth-child(2){
  background-color:#efefef;
}
#header nav ul li:nth-child(2) a{
  color:#111;
}
.sub{
  padding-left: 234px;
  margin: 0 auto;
}
/*기술소개*/
.technology_inner{
    margin-top:110px;
    text-align: center;
    font-family:"Nanum Gothic",sans-serif;
}
.technology_inner .technology_header{
    height: 80px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 150px;
    left: 35%;
}
.technology_inner .technology_header a{
  color:#000;
  font-size: 16px;
  padding-bottom: 5px;
}
.technology_inner .technology_header a.on{
  border-bottom:2px solid #1b2f4a;
  display:inline;
  padding-top: 5px;
}
.technology_inner .technology_header a:after{
  border:1px solid red;
}

.technology_inner .technology_header ul{
    overflow: hidden;
    text-align: center;
    width: 800px;
    display: inline-block;
    margin-bottom:150px;
}
.technology_inner .technology_header li{
    float: left;
    width: 33.3%;
}
.technology_inner .technology_header li a{
    color:#222;
    margin-bottom:2px;
    font-weight: bold;
    font-size:16px;
    padding-bottom:5px;
}
.technology_inner h2{
    font-size:30px;
    color:#222;
    margin-bottom:20px;
}
.technology_inner .tech_title{
    font-size: 30px;
    text-align: left;
    padding-left: 60px;
    padding-bottom:60px;
    font-weight: 600;
}
/* .technology_inner ul{
    overflow: hidden;
    text-align: center;
    width: 800px;
    display: inline-block;
    margin-bottom:30px;
}
.technology_inner ul li{
    float: left;
    width: 50%;
}
.technology_inner ul li a{
    color:#222;
    margin-bottom:2px;
    font-weight: bold;
    font-size:20px;
    padding-bottom:2px;
    display: inline-block;
}
.technology_inner ul li:first-child a{
    border-bottom:2px solid #222;
} */
.technology_inner .tech_intro{
    margin: 150px auto;
    width: 1200px;
    height: 680px;
    position: relative;
    padding-top: 100px;
}
.technology_inner .tech_intro p:not(.tech_title){
  color: #222;
  font-size: 43px;
  text-align: left;
  margin-bottom:5px;
  font-family:"Fira Sans",sans-serif;
}
.technology_inner .tech_intro span{
  color: #222;
  font-size: 20px;
  text-align: left;
  display: block;
  margin-bottom: 75px;
  line-height: 1.5;
}
.technology_inner .tech_intro img.image_01{
  width: 330px;
  height: 330px;
  position: absolute;
  top:600px;
  z-index: 3;
  right: 235px;
}
.technology_inner .tech_intro img.image_02{
    width: 486px;
    height: 732px;
    position: absolute;
    top: 100px;
    right: -65px;
}
.technology_inner .ai_tech_content{
    position: relative;
    color:#fff;
    width: 100%;
}
.technology_inner .ai_tech_content img{
    width: 100%;
}
.technology_inner .ai_tech_content p{
    font-size:50px;
    bottom:150px;
    position: relative;
    text-align: center;
}
.technology_inner .ai_tech_content span{
    font-size:25px;
    position:relative;
    text-align: center;
    bottom:130px;
}

/*기술소개*/
.technology_inner .tech_content_wrap{
    position: relative;
    height: 800px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 130px;
}
.technology_inner .tech_content_wrap .tech_detail_bt{
  padding:5px 10px;
  font-size:15px;
  font-weight:500;
  color:#fff;
  border:1px solid #fff;
  display:inline-block;
  margin-top:20px;
  cursor:pointer;
}
.technology_inner .tech_content_wrap .tech_detail_bt:hover{
  opacity:0.8;
}
.technology_inner .tech_content_wrap h3{
    color: #fff;
    position: absolute;
    top: 360px;
    text-align: right;
    right: 5%;
    z-index: 5;
}
.technology_inner .tech_content_wrap h3{
    font-size: 40px;
}
.technology_inner .tech_content_wrap h3 span{
    font-size:22px;
    display: block;
    margin-top: 20px;
}
.technology_inner .tech_content_wrap ul{
    left: 5%;
    background: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 30px 50px;
    position: absolute;
    top: 360px;
    z-index: 2;
}
.technology_inner .tech_content_wrap ul li{
    display: table;
    text-align: left;
    line-height: 1.4;
    font-size: 17px;
    margin-top: 12px;
    width: 220px;
}
.technology_inner .tech_content_wrap ul li a{
    color:#222;
    font-weight: 500;
}
.technology_inner .tech_content_wrap ul li a:hover{
    color:#1b5ea9;
    font-weight: 600;
}
.technology_inner .tech_content_wrap ul li.on a{
    color:#1b5ea9;
    font-size: 18px;
    font-weight: 600;
}
.technology_inner .tech_content_wrap ul li.on a .on_line{
  width:70px;
  border:1px solid #1b5ea9;
  position:absolute;
  top:55px;
  left:-35px;
  box-shadow:0.5px 0.5px 0.5px #ccc;
}
.technology_inner .tech_content_wrap ul li.on a .on_line2{
  width:70px;
  border:1px solid #1b5ea9;
  position:absolute;
  top:89px;
  left:-35px;
  box-shadow:0.5px 0.5px 0.5px #ccc;
}
.technology_inner .tech_content_wrap ul li.on a .on_line3{
  width:70px;
  border:1px solid #1b5ea9;
  position:absolute;
  top:124px;
  left:-35px;
  box-shadow:0.5px 0.5px 0.5px #ccc;
}
.technology_inner .tech_content_wrap .tech_content{
    height: 700px;
    position: absolute;
}
.technology_inner .tech_content_wrap .tech_content::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.5);
    height:700px;
}
.technology_inner .tech_content_wrap .tech_content img{
    width: 1200px;
    height: 700px;
}
.technology_inner .tech_content_wrap .tech_content p{
    color: #fff;
    position: absolute;
    top:400px;
    left:65px;
    text-align: left;
    font-size: 15px;
    word-break: keep-all;
    line-height:1.5em;
    width:82%;

}
/*tech_detail*/
.technology_inner .tech_detail{
  width:1200px;
  margin:70px auto;
}
.technology_inner .tech_detail .tech_box{
  overflow:hidden;
  margin:0 auto;
  margin-bottom:50px;
}
.technology_inner .tech_detail .tech_box img{
  width:900px;
}
.technology_inner .tech_detail .tech_box span{
  font-size:12px;
  font-weight:500;
}
/*box_1*/
.technology_inner .tech_detail .tech_box .left_box1{
  width:300px;
  height:100px;
  float:left;
  text-align:center;
}
.technology_inner .tech_detail .tech_box .left_box1 div{
  border:1px solid #1b5ea9;
  width:100px;
  margin-left : 100px;
  margin-bottom:10px;
}
.technology_inner .tech_detail .tech_box .left_box1 p{
  font-weight:600;
  font-size:20px;
}
.technology_inner .tech_detail .tech_box .right_box1{
  float:right;
  width:900px;
  text-align:left;
}
.technology_inner .tech_detail .tech_box .right_box1 p{
  padding-bottom:20px;
  line-height:1.5em;
}
/*box_2*/
.technology_inner .tech_detail .tech_box .right_box2{
  width:300px;
  height:100px;
  float:right;
  text-align: center;
}
.technology_inner .tech_detail .tech_box .right_box2 div{
  border:1px solid #1b5ea9;
  width:100px;
  text-align: center;
  margin-left:100px;
  margin-bottom:10px;
}
.technology_inner .tech_detail .tech_box .right_box2 #right_box_div{
  margin-left:100px;
}
.technology_inner .tech_detail .tech_box .right_box2 p{
  font-weight:600;
  font-size:20px;
}
.technology_inner .tech_detail .tech_box .left_box2{
  float:left;
  width:900px;
  text-align:left;
}
.technology_inner .tech_detail .tech_box .left_box2 p{
  padding-bottom:20px;
  line-height:1.5em;
}
#te_intro_story{
    padding-top: 170px;
    padding-bottom: 30px;
}
