#header nav ul li:hover{
    background-color:#efefef;
}
#header nav ul li:active{
  background-color:#efefef;
}
#header nav ul li:nth-child(1){
  background-color:#efefef;
}
#header nav ul li:nth-child(1) a{
  color:#111;
}

/*회사소개*/
.intro_inner{
    text-align: center;
    margin-left: 234px;
    font-family: "Nanum Gothic",sans-serif;
}
.intro_inner .company_header{
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 150px;
  left: 35%;
}
.intro_inner .app_company_header{
  display:none;
}
.intro_inner .company_header a{
  color:#000;
  font-size: 16px;
  padding-bottom: 5px;
}
.intro_inner .company_header a.on{
  border-bottom:2px solid #1b2f4a;
  display:inline;
  padding-top: 5px;
}
.intro_inner .company_header a:after{
  border:1px solid red;
}

.intro_inner .bg_area {
  background: url(../img/sub1_bg1.jpg) no-repeat top right;
  background-size: 100% 1400px;
}
.intro_inner h2{
    padding-top:110px;
    font-size:30px;
    color:#222;
    margin-bottom:20px;
}
.intro_inner ul{
    overflow: hidden;
    text-align: center;
    width: 800px;
    display: inline-block;
    margin-bottom:150px;
}
.intro_inner ul li{
    float: left;
    width: 25%;
}
.intro_inner ul li a{
    color:#222;
    margin-bottom:2px;
    font-weight: bold;
    font-size:20px;
    padding-bottom:2px;
    display: inline-block;
}
.intro_inner ul li:first-child a{
    border-bottom:2px solid #222;
}

/*컨텐츠 시작*/
.co_intro{
    text-align: left;
    margin: 0 auto 200px auto;
    width: 1200px;
    padding-left: 30px;
    margin-top: 100px;
}
.intro_inner .co_intro .titleColor{
  color:#1061A8;
}
.intro_inner .co_intro p{
  font: 600 80px/80px 'Noto Sans KR', sans-serif;
}
.intro_inner .co_intro b{
  font: 600 40px/70px 'Noto Sans KR', sans-serif;
  display: block;
}
.intro_inner .co_intro strong{
  display: block;
  color:#000;
  font-size: 26px;
  font-weight: 600;
  margin: 30px 0;
}
.intro_inner .co_intro span{
  color:#666;
  font-size: 18px;
  line-height: 1.6;
}
.co_intro_intro .second_title1{
  color:white;
  text-shadow:2px 2px 10px rgba(0,0,0,.5);
  font: 600 40px 'Noto Sans KR', sans-serif;
  text-align: center;
  margin-bottom:100px;
}
.co_intro_frame{
  width: 1200px;
  padding: 60px 100px;
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}
.co_intro_content {
  word-break: break-all;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.co_intro_content p{
  margin-bottom: 30px;
}
.co_intro_title{
  font-size: 30px;
  text-align: left;
  padding-top:130px;
  padding-left: 60px;
  padding-bottom:60px;
  font-weight: 600;
}
.co_intro_content .CEO_img{
  text-align:right;
}
.first_indent{
  margin-left:-60px;
  font-size: 30px;
  text-align: left;
  padding-left: 60px;
  padding-bottom:60px;
  font-weight: 600;
}
.co_intro_history,
.co_intro_map{
  width: 1200px;
  margin: 0 auto 200px auto;
}
.intro_inner .history_img1,
.intro_inner .map_img1,
.intro_inner .vision_img1{
  display:inline-block;
}
.intro_inner .history_img2,
.intro_inner .map_img2,
.intro_inner .vision_img2{
  display:none;
}
.co_vision{
  width: 1200px;
    margin: 0 auto 0 auto;
}
.vision_text{
  text-align: left;
  display:inline-block;
  margin-bottom:200px;
}
.vision_text .vision_title{
  font-size:25px;
  color: #1061A8;
  margin-top: 20px;
  letter-spacing: 2px;
}
.vision_text p{
  font-weight:600;
  font-size:18px;
  margin-bottom:5px;
}
.vision_text span{
  margin-top:10px;
  display:block;
}

/*모바일 ver*/
@media all and (min-width:320px) and (max-width:768px){
  .intro_inner{
    margin-left: 0;
    overflow-x: hidden;
  }
  .intro_inner .company_header{
    display:none;
    visibility: hidden;
  }
  .intro_inner .app_company_header{
    display: block;
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    font-size:12px;
    background-color:rgba(255,255,255,0.6);
  }
  .intro_inner .app_company_header a{
    font-size: 12px;
  }
  .intro_inner .app_company_header a.on{
    border-bottom:2px solid #1b2f4a;
    display:inline;
    padding-top: 5px;
  }
  .intro_inner .app_company_header a:after{
    border:1px solid red;
  }

  .intro_inner .bg_area {
      background-size: 158% 30%;
      margin-top: 80px;
      background-position: 47% 0;
  }
  .intro_inner .co_intro_h2{
    padding-left:11%;
    padding-top:60px;
  }
  .intro_inner h2{
      padding-top:100px;
      text-align:left;
      font-size:20px;
  }
  .intro_inner ul{
      width:95%;
      margin-bottom:0;
  }
  .intro_inner ul li{
      width: 25%;
  }
  .intro_inner ul li:first-child a{
    border:none;
  }

  /*컨텐츠 시작*/
  .co_intro{
      margin-top: 0;
      margin-bottom:70px;
      padding: 0 11%;
  }
  .intro_inner .co_intro p{
    font: 600 20px/30px 'Noto Sans KR', sans-serif;
  }
  .intro_inner .co_intro b{
    font: 600 12px/33px 'Noto Sans KR', sans-serif;
    display: block;
  }
  .intro_inner .co_intro strong{
    font-size: 15px;
  }
  .intro_inner .co_intro span{
    color:#fff;
    font-size: 12px;
    line-height: 1.6;
    width:22%;
    display:inline-block;
    text-shadow: 1px 1px 1px #000;
  }
  .co_intro_intro .second_title1{
    font: 600 18px 'Noto Sans KR', sans-serif;
    text-align: left;
    padding-left:10%;
    margin-bottom:40px;
    margin-top:0;
    padding-top:65px;
    text-shadow:3px 2px 6px #555;
  }
  .co_intro_frame{
    width: 100%;
    padding: 0 11%;
  }
  .co_intro_history, .co_intro_map, .co_vision{
    width: 100%;
    padding: 10px 11%;
  }
  .co_intro_content {
    font-size: 12px;
  }
  .co_intro_content p{
    margin-bottom: 10px;
  }
  .co_intro_title{
    font-size: 20px;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    display:block;
  }
  .co_intro_content .CEO_img img{
    width:100px;
  }
  .first_indent{
    padding-top: 0;
    margin-left:0;
    padding-left: 0;
    font-size: 20px;
    color: #222;
    margin-bottom: 0;
  }
  .co_intro_history,
  .co_intro_map{
    margin-bottom:10px;
  }
  .co_vision{
    padding:0 11%;
    margin-bottom:0;
  }
  .intro_inner .history_img1,
  .intro_inner .map_img1,
  .intro_inner .vision_img1{
    display:none;
  }
  .intro_inner .history_img2,
  .intro_inner .map_img2,
  .intro_inner .vision_img2{
    width:300px;
    display:inline-block;
    text-align: center;
  }
  .intro_inner .history_img2{
    width:250px;
    height:500px;
  }
  .intro_inner .map_img2{
    width:220px;
    height:420px;
    margin-top:50px;
    /*display: block;*/
  }
  .vision_bg{
    padding:0 11%;
  }
  .vision_text{
    text-align: left;
    display:inline-block;
    margin-bottom:200px;
  }
  .vision_text .vision_title{
    font-size:15px;
    font-weight:600;
    color: #1061A8;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .vision_text p{
    font-weight:500;
    font-size:15px;
    margin-bottom:5px;
    line-height:1.5em;
  }
  .vision_text span{
    font-size:12px;
    margin-top:10px;
    display:block;
  }
}
@media all and (min-width:320px) and (max-width:320px){
  .intro_inner .vision_img2{
    width:100%;
  }
}
