.question_content .text{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 14px;
    text-align: center;
}
.question_content form{
    width: 500px;
    margin: 0 auto;
}
.question_content form p {
  color: #F3E7B5;
  margin-top: 30px;
}
.question_content form input{
    width: 96%;
    margin: 10px 0;
}
.question_content textarea{
    resize: none;
    width: 95.6%;
    height: 300px;
    border: 1px solid #F3E7B5;
    padding: 10px;
    margin-top: 20px;
    background-color: #BB0000;
    color: #F3E7B5;
}
.question_content form input.question_btn{
    width: 100%;
    margin-top: 25px;
}
