#headerWrap {
  display: block;
  background-color: #620000;
  position: fixed;
  top:0;
  z-index: 10;
  width: 100%;
  padding: 10px 15px;
  height: 90px;
  box-sizing: border-box;
}
#headerWrap h1 a {
  display: inline-block;
}
#headerWrap h1 img {
  width: 60px;
}
/* mobile ver */
@media all and (min-width:320px) and (max-width:768px){
  #headerWrap {
    text-align: center;
    padding-left: 0;
  }
}
