
.login_content{
  text-align: center;
  margin:100px auto;
}
.login_content .login_inner{
  text-align: center;
  width: 500px;
  margin:0 auto;
}
.login_content .login_inner img{
  margin-bottom:10px;
}
.login_content .login_inner .login_input .inputArea {
  margin-bottom: 15px;
}
.login_content .login_inner .login_input .inputArea img{
  vertical-align: -23px;
    padding-right: 7px;
}
.login_content .login_inner .login_input .user_id,.login_content .login_inner .login_input .user_pass{
  width:50%;
  border-bottom: 1px solid #FFE107;
}
.login_content .login_inner .login_input .login_box{
  width:65%;
  text-align: center;
  margin:0 auto;
}
.login_content .login_inner .login_input .login_bt{
  width:90%;
  margin-bottom:35px;
  background-color: #FFE107;
  color: #A40000;
}
.login_content .login_inner .login_input .password_bt{
  width:45%;
}
.login_content .login_inner .login_input .join_bt{
  width:43%;
}
.login_content .login_inner .login_input p{
  margin-top:30px;
}
@media all and (min-width:320px) and (max-width:768px){
  #container{
    margin:5% 0;
  }
  .login_content{
    margin:0;
    padding-top: 20px;
  }
  .login_content .login_inner{
    width:80%;
  }
  .login_content .login_inner .logo{
    width:55%;
    text-align: center;
  }
  .login_content .login_inner .login_input .inputArea {
    overflow: hidden;
    margin-bottom: 12px;
  }
  .login_content .login_inner .icon{
    width: 7%;
    float: left;
    margin-top: 11px;
  }
  .login_content .login_inner .login_input .user_id, .login_content .login_inner .login_input .user_pass{
    width: 82%;
    margin: 0;
    float: right;
  }
  .login_content .login_inner .login_input .login_box{
    width:100%;
  }
  .login_content .login_inner .login_input .login_bt{
    width:100%;
    margin-bottom:30px;
    margin-top: 10px;
  }
  .login_content .login_inner .login_input .password_bt, .login_content .login_inner .login_input .join_bt{
    width:48%;
    margin-bottom: 10px;
  }
  .login_content .login_inner .login_input p{
    margin-top:30px;
  }
  .login_content .login_inner .copyright{
    margin:0;
  }
}
