#m_menu-toggle{
  display: block;
}
/* 네비게이션 토글 버튼 */
input[type='checkbox'] + label#m_navBtn:before {
  display: none;
}
#m_navBtn{
    display: block;
    cursor: pointer;
    position: fixed;
    top:28px;
    right:35px;
    z-index: 999;
    transition: all 0.7s;
    width:30px;
    line-height:1px;
}
#m_navBtn span{
    transition: all 0.5s;
    background-color: #F3E7B5;
    width:100%;
    height:4px;
    display: block;
    margin-top:6px;
    border-radius:5px;
}
/* #m_navBtn span:nth-child(2){
  width: 85%;
}
#m_navBtn span:last-child{
  width:70%;
} */
/* 네비게이션 토글 클릭시 */
#m_menu-toggle {
    display: none; /* input checkbox 숨김*/
}
#m_menu-toggle:checked{
    display: none;
}
#m_menu-toggle:checked + #m_navBtn{
    right: 30px;
    width: 35px;
    top: 120px;
    position: fixed;
}
#m_menu-toggle:checked + #m_navBtn span{
    width:90%;
    height:4px;
    background-color: #620000;
}
#m_menu-toggle:checked + #m_navBtn span:first-child{
    transform: rotate(-45deg);
    margin-top:10px;
}
#m_menu-toggle:checked + #m_navBtn span:nth-child(2){
    display: none;
}
#m_menu-toggle:checked + #m_navBtn span:last-child{
    transform: rotate(45deg);
    margin-top:-4px;
}
#m_menu-toggle:checked + #m_navBtn ~ #nav {
    right:0;
}
#m_menu-toggle:checked + #m_navBtn ~ #nav_shadow {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: block;
}
#nav{
  display: block;
  background: #F3E7B5;
  width:25%;
  height:100%;
  z-index:985;
  transition: all 0.6s;
  position: fixed;
  bottom: 0;
  top: 90px;
  right:-90%;
  box-shadow: 0 1px 13px rgba(44,31,27,.3);
  padding: 0 20px;
  box-sizing: border-box;
}
/* 로그아웃버튼 */
.nav_top{
  margin-top: 25px;
}
.nav_top button {
  width: 100px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background-color: #620000;
  border: none;
}
.nav_top button a {
  color: #F3E7B5;
  font-size: 15px;
  font-weight: 600;
}

/* 메뉴 */
.menu{
  width: 100%;
  margin-top: 10px;
}
.menu ul{
  width:100%;
  margin-top: 20px;
  padding: 15px 0;
  border-top: 1px solid #620000;
  border-bottom: 1px solid #620000;
}
.menu ul li{
  width: 100%;
  box-sizing: border-box;
  height: 65px;
  line-height: 65px;
  margin-left: 20px;
}

.menu ul li a.menuText{
  display: block;
  height:65px;
  font-weight: 600;
}
.menu ul li img {
  vertical-align: middle;
  width: 38px;
}
.menu ul li span{
  color: #2C1F1B;
  display: inline-block;
  width: auto;
  font-size: 17px;
  letter-spacing: 0.5px;
}
/* mobile ver */
@media all and (min-width:320px) and (max-width:768px){
  #nav {
    width: 80%;
  }
  #m_menu-toggle:checked + #m_navBtn {
    top: 115px;
  }
  .nav_top {
    margin-top: 20px;
  }
  .menu ul {
    margin-top: 17px;
    padding: 5px 0;
  }
  .menu ul li {
    height: 55px;
    line-height: 55px;
  }
  .menu ul li a.menuText {
    height: 55px;
  }
  .menu ul li img {
    width: 33px;
  }
  .menu ul li span {
    font-size: 15px;
  }
}
