/*input*/

.input_box{
  width:50%;
  text-align:center;
}
.input_box .input_inner{
  width:600px;
  text-align: center;
  margin:0 auto;
}
.input_box .input_inner .my_coin_box{
  text-align: center;
  margin: 0 auto;
  width:60%;
  overflow:hidden;
  padding:10px;
  color:#666;
  font-size:15px;
}
.input_box .input_inner .my_coin_box .my_coin{
  float:left;
}
.input_box .input_inner .my_coin_box .my_coin_number{
  float:right;
}
.input_box .input_inner .input_text{
  text-align:center;
  width:600px;
}
.input_box .input_inner .input_span span{
  font-size:12px;
  color:#666;
  width:380px;
  display:inline-block;
  text-align:center;
  margin:20px;
}
.input_text{
  padding:20px 0;
}
.input_text input{
  width:63%;
}
.input_text p{
  font-size:12px;
}
.input_text .copyright{
  font-size:12px;
}

/*output*/

.output_box{
  width:50%;
  text-align:center;
}
.output_box .output_inner{
  width:600px;
  text-align: center;
  margin:0 auto;
}
.output_box .output_inner .my_coin_box{
  text-align: center;
  margin: 0 auto;
  width:60%;
  overflow:hidden;
  padding:10px;
  color:#666;
  font-size:15px;
}
.output_box .output_inner .my_coin_box .my_coin{
  float:left;
}
.output_box .output_inner .my_coin_box .my_coin_number{
  float:right;
}
.output_box .output_inner .output_text{
  text-align:center;
  width:600px;
}
.output_box .output_inner .output_span span{
  font-size:12px;
  color:#666;
  width:380px;
  display:inline-block;
  text-align:center;
  margin:20px;
}
.output_text{
  padding:20px 0;
}
.output_text input{
  width:63%;
}
.output_text p{
  font-size:12px;
}
.output_text img{
  margin-top:20px;
  margin-bottom:10px;
}
.output_text .copyright{
  font-size:12px;
}
