@media all and (min-width:320px) and (max-width:768px){
.list_detail{
  padding: 7px 15px;
}
.account_area .fail_text{
  font-size:12px;
  text-align: center;
  padding:0 15px;
}
.account_area .list_detail table{
  font-size:13px;
  margin:10px 0;
}
.account_area .list_detail table tbody{
    border: 1px solid rgba(255,255,255,.2);
}
.account_area .list_detail table tr{
    height: 25px;
    font-size: 13px;
    height: 35px;
}
.account_area .list_detail table th{
    text-align: center;
    border-right: 1px solid rgba(255,255,255,.2);
    width: 40%;
    padding-left: 5px;
    background: #192331;
    opacity: 0.6;
    font-weight: 500;
}
.account_area .list_detail table .KRW_table_title{
  background:none;
  opacity:1;
}
.account_area .list_detail table td{
    text-align: left;
    padding-left: 7px;
    border: 1px solid rgba(255,255,255,.2);
}
.account_area .list_detail table .fail{
  color:#f35531;
}
.account_area .list_detail table .success{
  color:rgba(255,255,255,0.6);
}
.list_detail .KRW_warning p{
  margin-top:10px;
  color:#f35531;
  font-size: 13px;
}
.list_detail .KRW_warning li{
  color:rgba(255,255,255,.3);
  width:100%;
  margin-top:10px;
}
}
