/* 원화입금 common css */
@media all and (min-width:320px) and (max-width:768px){
.account_area {
  margin: 60px auto 0;
}
.account_area .assetBox .asset li .mywallet_title {
  font-size: 13px;
  opacity: .6;
}
.account_area .assetBox .asset li .mywallet_amount {
  text-align: right;
  margin-top: 5px;
}
.account_area .assetBox .all_assets li .mywallet_amount {
  color: #30afb8;
  font-weight: 600;
}
.account_area .assetBox .asset li .mywallet_amount span {
  font-size: 13px;
  color: rgba(255,255,255,.6);
  margin-left: 5px;
}
.account_area .KRW_inout{
  padding: 15px 15px 0;
}
.account_area .KRW_inout p {
  font-size: 13px;
}
.account_area .KRW_inout p img {
  margin-right: 5px;
}
.account_area .KRW_inout table{
  font-size:13px;
  margin:10px 0;
}
.account_area .KRW_inout table tbody {
  border: 1px solid rgba(255,255,255,.2);
}
.account_area .KRW_inout table tr{
  height: 35px;
}
.account_area .KRW_inout table th{
  border-right: 1px solid rgba(255,255,255,.2);
  width:30%;
  background:#192331;
  opacity: 0.6;
  font-weight: 500;
}
.account_area .KRW_inout table .KRW_table_title{
  background:none;
  opacity:1;
}
.account_area .KRW_inout table td{
  text-align:left;
  padding-left:15px;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.KRW_bt_area{
  width:100%;
  text-align:center;
  margin-top: 30px;
  padding-bottom: 20px;
}

/*KRW_warning (Step1)*/

.my_assets_KRW01 .KRW_inout .KRW_warning{
  font-size:12px;
  margin-top: 20px;
}
.my_assets_KRW01 .KRW_inout .KRW_warning p{
  margin-top:25px;
  color: #30afb8;
}
.my_assets_KRW01 .KRW_inout .KRW_warning li{
  color:rgba(255,255,255,.3);
  width:100%;
  margin-top:10px;
}

/*KRW_input (Step2)*/

.my_assets_KRW02 .KRW_input{
  font-size:12px;
}
#question_mark{
  margin-left:5px;
  vertical-align:-2px;
}
.my_assets_KRW02 .KRW_input_outout .send_money{
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #30afb8;
  background: none;
  color: #30afb8;
  text-align: right;
  padding: 0 5px;
  width: 83%;
  height: 25px;
  font-size: 15px;
}
.my_assets_KRW02 .KRW_input_outout span{
  margin-left: 5px;
  color:#30afb8;
  font-size: 15px;
  font-weight: 600;
}
.my_assets_KRW02 .KRW_input_outout .KRW_unit {
  overflow: hidden;
  margin-top: 15px;
}
.my_assets_KRW02 .KRW_input_outout .KRW_unit .priceBtn{
  font-size:12px;
  padding:5px 0;
  width: 24%;
  border: none;
  border:1px solid #fff;
  text-align:center;
  float:left;
  background-color: #0F1926;
  color: #fff;
}
.my_assets_KRW02 .KRW_input_outout .KRW_unit .priceBtn + .priceBtn {
  margin-left: 1%;
}
.my_assets_KRW02 .KRW_input_outout .KRW_warning_list{
  overflow: hidden;
  color: rgba(255,255,255,.3);
  margin-top: 20px;
  font-size: 12px;
  width: 100%;
}
.my_assets_KRW02 .KRW_input_outout .KRW_warning_list li{
    float: left;
    width: 50%;
    word-break: keep-all;
}
.my_assets_KRW02 .KRW_input_outout .KRW_warning_list li.text {
  width: 100%;
  margin-bottom: 5px;
  color: #30afb8;
}
#full{
  display:none;
}
#full_content .full_inner .full_table{
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 5px;
  overflow-y:scroll;
  height:350px;
  padding: 10px 0;
}
#full_content .full_inner .full_table .KRW_table{
  color:#333;
  font-size:12px;
  border:1px solid #30afb8;
  border-radius: 5px;
}
#full_content .full_inner .full_table .KRW_table p{
  margin:0 auto;
}
#full_content .full_inner .full_table .KRW_table th{
  border:1px solid #30afb8;
  padding: 5px 0;
}
#full_content .full_inner .full_table .KRW_table td{
  border-left:1px solid #30afb8;
  border-top:1px solid #30afb8;
}

/*KRW_in_complete (Step3)*/
.my_assets_KRW03 .KRW_inout .KRW_warning p{
  margin-top:10px;
  color:#f35531;
  font-size: 13px;
}
.my_assets_KRW03 .KRW_inout .KRW_warning li{
  color:rgba(255,255,255,.3);
  width:100%;
  margin-top:10px;
}
.my_assets_KRW03 .KRW_inout .KRW_in_userName{
  color:#30afb8;
  font-weight: 600;
  font-size: 15px;
}

/*KRW_output (Step2)*/
.KRW_input_outout p.input_title {
  font-size: 13px;
  margin-top: 15px;
}
.KRW_input_outout input[type="text"].step, .KRW_input_outout input[type="password"].step {
  margin-top: 7px;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.6);
  background: none;
  color: rgba(255,255,255,.6);
  padding: 0 5px;
  width: 95%;
  height: 25px;
}
.KRW_input_outout .sms_area {
  position: relative;
}
.KRW_input_outout .request_num {
  border-radius: 50px;
  border: 1px solid #30AFB8;
  background: none;
  color: #30AFB8;
  display: inline-block;
  padding: 2px 8px;
  position: absolute;
  top: 20px;
  right: 3%;
}
.send_sms{
    bottom: 12%;
    position: fixed;
    transform: translate(-50%,-12%);
    display: block;
    width: 80%;
    display: none;
}
}
.none_box{
  height:40px;
}
