@media all and (min-width:320px) and (max-width:768px){
.input_output_list{
    margin-top: 10px;
}
.input_output_list .list_ul{
    border-top: 1px solid rgba(255,255,255,.2);
}
.input_output_list .list_ul li{
    background: #192331;
    padding: 10px 5%;
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: relative;
}
.input_output_list .list_ul li .list_li_row{
    overflow: hidden;
}
.input_output_list .list_ul li p{
    font-size: 12px;
    line-height: 1.7;
}
.input_output_list .list_ul li img{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 19.5px;
  right: 3%;
}
.input_output_list .list_ul li p.list_condition{
    float: left;
    font-size: 13px;
}
.input_output_list .list_ul li p span.waiting{
    color: #30afb8;
    font-size: 11px;
}
.input_output_list .list_ul li p span.fail{
    color: #f35531;
    font-size: 11px;
}
.input_output_list .list_ul li p span.success{
  color: rgba(255,255,255, 0.5);
  font-size: 11px;
}
.input_output_list .list_ul li p.list_amount{
    float: right;
    font-size: 13px;
    margin-right: 8%;
}
.input_output_list .list_ul li p.list_time{
    float: left;
    opacity: 0.6;
}
.input_output_list .list_ul li p.list_charge{
    float: right;
    opacity: 0.6;
    margin-right: 8%;
}
#limit_full #full_content .go_certification{
    border-radius: 5px;
    background: linear-gradient(to right, #06908c 0%, #0d566c 100%);
    font-weight: 500;
}
#limit_full #full_content .do_nextime{
    border-radius: 5px;
    background:none;
    font-weight: 500;
    border:1px solid #30afb8;
    color: #30afb8;
}
}
