/*완료페이지*/
@media all and (min-width:320px) and (max-width:768px){
.certification_success_area{
  padding: 7px 15px;
  font-size:12px;
  text-align: center;
}

.certification_success_area h3{
  font-size:20px;
  margin:30px 0;
}
.certification_success_area span{
  color:#30afb8;
  font-size: 17px;
  font-weight: 600;
}
.certification_success_area .certification_success_bt{
  text-align: center;
  margin-top:40px;
}
.certification_success_area .certification_success_bt input.cancel_btn{
  color: #30AFB8;
  border-radius: 50px;
  border: 1px solid #30AFB8;
  padding: 7px 7px;
  width: 25%;
  background: none;
  font-size: 13px;
}
.certification_success_area .certification_success_bt input.chk_ok{
  background: linear-gradient(to right, #06908c 0%, #0d566c 100%);
  border: none;
  color: #fff;
  padding: 8px 0;
  font-size: 13px;
  width: 40%;
  border-radius: 50px;
  font-weight: 600;
  margin-left: 5px;
}
.certification_success_area .certification_success_bt input.certification_btn{
  background: linear-gradient(to right, #06908c 0%, #0d566c 100%);
  border: none;
  color: #fff;
  padding: 8px 0;
  font-size: 13px;
  width: 40%;
  border-radius: 50px;
  font-weight: 600;
  margin-left: 5px;
}
}
