/*OTP 인증*/
@media all and (min-width:320px) and (max-width:768px){
.certification_OTP_area{
  padding : 0 15px;
  font-size:12px;
}

/*download_area*/

.certification_OTP_area .OTP_inner .OTP_title{
  font-size:13px;
  padding-top:20px;
}
.certification_OTP_area .OTP_inner .borderTop {

}
.certification_OTP_area .OTP_inner .app_title{
  margin-top: 5px;
  color:rgba(255, 255, 255, 0.6);
}
.certification_OTP_area .OTP_inner .download_area{
  text-align: center;
  overflow: hidden;
  margin:0 auto;
  padding:10px 0%;
  display:block;
}
.certification_OTP_area .OTP_inner .download_area img{
  margin-top:5px;
}
.certification_OTP_area .OTP_inner .app{
  text-align: center;
  overflow: hidden;
  margin:0 auto;
  padding:0 2%;
  display:block;
}
.certification_OTP_area .OTP_inner .app li{
  color:rgba(255, 255, 255, 0.5);
  text-align: center;
}
.certification_OTP_area .OTP_inner .app .app_text{
  width:50%;
  float:left;
}
.certification_OTP_area .OTP_inner .app .app_text2{
  width:50%;
  float:left;
}


/*.certification_OTP_area .OTP_inner .app_text .android_img{
  width:50px;
  height:50px;
  float:left;
}
.certification_OTP_area .OTP_inner .app_text .apple_img{
  width:50px;
  height:50px;
  float:left;
}*/


/*qr_code_area*/
.certification_OTP_area .OTP_inner .qr_code_area{
    overflow: hidden;
    margin-top: 10px;
    padding: 10px 1%;
}
.certification_OTP_area .OTP_inner .qr_code_img{
    border: 1px solid rgba(255, 255, 255, 0.2);
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0 20px 0;
}
.certification_OTP_area .OTP_inner .qr_code_img li.qr_code_text{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
}
.certification_OTP_area .OTP_inner .qr_code_img .qr_code_imgbox{
    width: 250px;
}
/*--------------------------*/
.certification_OTP_area .OTP_inner .qr_code_key{
    float: left;
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}
.certification_OTP_area .OTP_inner .qr_code_key li.qr_code_number{
    text-align: center;
    font-size: 14px;
}
.certification_OTP_area .OTP_inner .qr_code_key2{
    margin-top: 10px;
    font-size: 15px;
}

/*key_area*/

.certification_OTP_area .OTP_inner .key_area{
  margin-top:10px;
}
.certification_OTP_area .OTP_inner .key_area input.OTP_number{
  margin-top: 7px;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.6);
  background: none;
  color: rgba(255,255,255,.6);
  padding: 0 5px;
  width: 95%;
  height: 25px;
}

.certification_OTP_area .OTP_inner .key_area input.cancel{
  color: #30AFB8;
  border-radius: 50px;
  border: 1px solid #30AFB8;
  padding: 7px 7px;
  width: 25%;
  background: none;
  font-size: 13px;
}
.certification_OTP_area .OTP_inner .key_area input.OTP_complete{
  background: linear-gradient(to right, #06908c 0%, #0d566c 100%);
  border: none;
  color: #fff;
  padding: 8px 0;
  font-size: 13px;
  width: 41%;
  border-radius: 50px;
  font-weight: 600;
  margin-left: 5px;
}
.certification_OTP_area .OTP_inner .key_area #OTP_complete{
  text-align: center;
  margin:20px 0;
}
}
.none_box{
  height:20px;
}
