/* 헤더 */
#header_wrap {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
#header_wrap .headerTop {
  height: 45px;
  line-height: 45px;
  background-color: #0e141c;

}
#header_wrap #header {
  text-align: center;
  position: relative;

}
#header_wrap #header h2 {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size:17px;
}
#header_wrap #header .alarm_area {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
}
#header_wrap #header .alarm_area img {
  vertical-align: -4px;
}

/*거래소 헤더*/
#header_wrap .headerTop .back {
  position: absolute;
  top: 14px;
  left: 10px;
  background: url("../img/back.png") no-repeat 0 center;
  background-size: 20px;
  width: 30px;
  border: none;
}
#header_wrap .headerTop .coinSelect_area #coin_select {
  border: none;
  color: #fff;
  background-color: #0e141c;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  top: 13px;
  left: 35px;
}
#header_wrap .current_price {
  overflow: hidden;
  font-size: 14px;
  background-color: #070B11;
  padding: 15px 10px;
  height: 75px;
  box-sizing: border-box;
}
#header_wrap .current_price .price{
  float: left;
  width: 55%;
  margin-right: 5%
}
#header_wrap .current_price .percent{
  float: left;
  width: 40%;
}
#header_wrap .current_price p {
  text-align: left;
  margin-bottom: 5px;
}
#header_wrap .current_price strong {
  margin-right: 5px;
}
#header_wrap .current_price .price span {
  display: block;
  text-align: right;
}
#header_wrap .current_price .percent span +span {
  margin-left: 10px;
}

/*각 페이지 gnb*/

.table_scroll{
  overflow-y: scroll;
}
/*메인 gnb*/
.main_content_wrap{
  margin:0;
}
/*거래소 gnb*/
.content_wrap {
  margin: 120px auto 60px;
}
/*자산관리 gnb*/
.mycoin_content_wrap{
  margin:50px auto 0;
  width:100%;
}

/*gnb1_거래소페이지 탭메뉴*/

.gnb_tab{
  overflow: hidden;
  font-size:14px;
  box-shadow: 0 1px 2px rgba(100,100,100,.4);
}
.gnb_tab li{
  float:left;
  width:19.9%;
  text-align:center;
  height: 40px;
  line-height:40px;
  box-sizing: border-box;
}
.gnb_tab li.on {
  border-top: 4px solid #30afb8;

  font-weight: 600;
}
.gnb_tab li a{
  color:#30afb8;
}
.gnb_tab li:not(.on) a{
  color:rgba(255,255,255,.3);
}

/*gnb2_자산관리페이지 탭메뉴*/

.gnb_tab2{
  overflow: hidden;
  font-size:14px;
  box-shadow: 0 1px 2px rgba(100,100,100,.4);
}
.gnb_tab2 li{
  float:left;
  width:32.9%;
  text-align:center;
  height: 40px;
  line-height:40px;
  box-sizing: border-box;
}
.gnb_tab2 li.on {
  border-top: 4px solid #30afb8;

  font-weight: 600;
}
.gnb_tab2 li a{
  color:#30afb8;
}
.gnb_tab2 li:not(.on) a{
  color:rgba(255,255,255,.3);
}
