/* 헤더 */
#header_wrap {
  height: 45px;
  line-height: 45px;
  background-color: #0e141c;
}
#header_wrap #header {
  text-align: center;
  position: relative;

}
#header_wrap #header h2 {
  display: inline-block;
  color: #30afb8;
  font-weight: 600;
  font-size:17px;
}
#header_wrap #header .alarm_area {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
}
#header_wrap #header .alarm_area img {
  vertical-align: -4px;
}
