/*공통*/
@media all and (min-width:320px) and (max-width:768px){
.content_wrap_margin{
  margin-top:45px;
}

/*deal_orgin_transaction*/
#deal_orgin_transaction{
    overflow-y:auto;
    padding: 0;
    float:left;
    width:100%;
}
#deal_orgin_transaction .market_name{
    font-size: 15px;
    margin-bottom: 15px;
}
#deal_orgin_transaction .market_name li{
    border: 1px solid #30afb8;
    width: 20%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #0F1926;
    border-left: none;
}
#deal_orgin_transaction .market_name li.on{
    border-top: 4px solid #30afb8;
}
#deal_orgin_transaction .market_name li.on a{
    color: #30afb8;
    font-weight: 600;
}
#deal_orgin_transaction .market_name::after {
  content: '';
  border-bottom: 1px solid #30afb8;
  display: block;
  width: 80%;
  float: right;
}

/*코인 정보 영역*/

#deal_orgin_transaction #coin_detail .coin_money_inner{
  font-size:12px;
  font-weight:none;
  height:50px;
  padding:0 20px;
}
#deal_orgin_transaction #coin_detail .coin_money_inner .img_area{
  float:left;
}
#deal_orgin_transaction #coin_detail .coin_money_inner .bitcoin_icon{
  width:30px;
  height:30px;
  margin-top:10px;
  margin-right:10px;
}
#deal_orgin_transaction #coin_detail .coin_money_inner ul{
  float:left;
  margin-top:15px;
}

#deal_orgin_transaction #coin_detail .coin_money_inner strong{
  font-size:15px;
}
#deal_orgin_transaction #coin_detail .coin_money_inner .price{
  font-size:13px;
  color:#f35531;
}
#deal_orgin_transaction #coin_detail .coin_money_inner .coin_prepare img{
  width:10px;
  height:10px;
}
#deal_orgin_transaction #coin_detail .coin_money_inner .coin_prepare span{
  color:#f35531;
}
/*코인 정보 표*/

#deal_orgin_transaction #detail_all{
  border-top: 2px solid rgba(255,255,255,.2);
  font-size:12px;
}
#deal_orgin_transaction #detail_all .coin_story_table{
  text-align:left;
}
#deal_orgin_transaction #detail_all .coin_story_table th{
    width: 30%;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    background-color: #192331;
    opacity: 0.6;
    font-weight: 500;
}
#deal_orgin_transaction #detail_all .coin_story_table td{
  padding-left:5px;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
#deal_orgin_transaction #detail_all .coin_story_table a{
  color:#30afb8;
}
#deal_orgin_transaction #detail_all p{
  margin-top:2px;
  margin-right:5px;
  text-align:right;
  opacity:0.6;
}
}
