@media all and (min-width:320px) and (max-width:768px){
    .moreView_content_wrap{
        font-size: 14px;
        margin-top: 60px;
    }
    .moreView_content_wrap > ul > li{
        background: #192331;
        padding: 17px 0;
        position: relative;
        margin-top: 10px;
        padding-left: 17px;
    }
    .moreView_content_wrap > ul > li .only_pc{
        font-size: 12px;
        margin-top: 5px;
        width: 85%;
    }
    .moreView_content_wrap .second_menu{
        background: #0d121e;
        margin:0;
        padding:0;
    }
    .moreView_content_wrap .second_menu ul{

    }
    .moreView_content_wrap .second_menu ul li{
        height: 35px;
        font-size: 12px;
        line-height: 35px;
        border-bottom: 1px solid #192331;
        padding: 5px 20px;
    }
    .moreView_content_wrap > ul > li.user_info_li{
        background: #070B11;
    }
    .moreView_content_wrap > ul > li.user_info_li p{
        opacity: 0.6;
    }
    .moreView_content_wrap input.log_out{
        background: none;
        padding: 5px 0;
        border: 1px solid #30afb8;
        border-radius: 50px;
        position: absolute;
        top: 12px;
        right: 4%;
        font-size: 12px;
        width: 20%;
        min-width: 75px;
        max-width: 100px;
        text-align: center;
    }
    .moreView_content_wrap > ul > li img.gothru{
        position: absolute;
        right: 15px;
        top: 18.15px;
        width: 10px;
    }
    .moreView_content_wrap > ul > li img.gothru_02{
        top: 28.65px;
    }
    .moreView_content_wrap > ul > li img.gothru_03{
        top: 36.65px;
    }
    .moreView_cs li.first_menu{
        background: #192331 url(../img/m_looksub.png) no-repeat 93% 50% / auto 10px;
    }
    .moreView_cs li.on{
        background: #192331 url(../img/m_looksub_on.png) no-repeat 93% 50% / auto 10px;
    }

}
