@media all and (min-width:320px) and (max-width:768px){
    body{
        font-size: 12px;
    }
    .content .deal_tab{
        margin-top: 20px;
        padding: 0 10px;
    }
    .content .deal_tab li{
        font-weight: 600;
        border: 1px solid rgba(255,255,255,.3);
        padding: 5px 0%;
        color: rgba(255,255,255,.3);
        display: inline-block;
        width: 48.9%;
        text-align: center;
    }
    .content .deal_tab li.active{
        color: #30AFB8;
        border: 1px solid #30AFB8;
    }
    table.deal_table_con{
        margin-top: 20px;
        font-size: 12px;
    }
    table.deal_table_con thead{
        background-color: #192331;
    }
    table.deal_table_con thead tr{
        height: 35px;
        color: #fff;
        font-weight: 500;
    }
    table.deal_table_con thead tr th{
        text-align: center;
        padding-left: 5px;
        font-weight: 500;
        opacity: 0.6;
    }
    table.deal_table_con tbody{
        border-bottom: 3px solid rgba(255,255,255,.2);
    }
    table.deal_table_con tbody tr td{
        border: 1px solid rgba(255,255,255,.2);
        border-top: none;
        height: 35px;
    }
    table.deal_table_con tbody tr td.time,
    table.deal_table_con tbody tr td.coin_name{
        line-height: 19px;
    }
    .apply_buy{
        color: #f35531;
    }
    .apply_sell{
        color: #01a9ff;
    }
    table.deal_table_con tbody input.cancel{
        border-radius: 50px;
        border: 1px solid #30AFB8;
        background: none;
        color: #30AFB8;
        display: inline-block;
        padding: 2px 8px;
    }
    #full{
      display:none;
    }
    #full_content .full_inner{
      padding:20px 0;
    }
    #full_content .full_inner .full_inner_p{
      margin:20px 0;
    }
    #full_content .full_inner .bt_area{
      overflow:hidden;
      text-align: center;
      display:block;
    }
    #full_content .full_inner .bt_area .bt_area_box{
      text-align: center;
      display: inline-block;
      width:60%;
    }
    #full_content .full_inner .bt_area .bt_area_box a{
      margin-left:6%;
    }
    #full_content .full_inner p{
      text-align: center;
    }
    #full_content .full_inner .close_no{
      width: 25%;
      text-align: center;
      display: block;
      padding: 5px 0;
      color: #06908c;
      font-size: 13px;
      /* background: linear-gradient(to right, #06908c 0%, #0d566c 100%); */
      border-radius: 5px;
      height: 25px;
      line-height: 25px;
      float: left;
      border: 1px solid #06908c;
    }
    #full_content .full_inner .close_ok{
      width:50%;
      text-align:center;
      display: block;
      padding: 5px 0;
      color: #fff;
      font-size: 13px;
      min-width: 90px;
      background: linear-gradient(to right, #06908c 0%, #0d566c 100%);
      border-radius: 5px;
      height: 25px;
      line-height: 25px;
      float:left;
    }
}
