/*마이페이지*/
@media all and (min-width:320px) and (max-width:768px){
.myinfo_area{
  padding: 7px 0;
}
.myinfo_area p{
  font-size:15px;
  color:#30afb8;
  margin-bottom:10px;
  margin-left:5%;
  font-weight:600;
}
.myinfo_area .info_h2{
  margin-top:20px;
}
.myinfo_area dl{
  margin-top:10px;
}
.myinfo_area dt{
  font-size:13px;
  margin-top:10px;
  padding-bottom:5px;
  padding-top:10px;
  padding-left:5%;
  background:#192331;
}
.myinfo_area dd{
  font-size:12px;
  color:rgba(255, 255, 255, 0.5);
  padding-left:5%;
  padding-bottom:10px;
  background:#192331;
}
.myinfo_area .info2{
  font-size:13px;
  color:#f35531;
  padding:10px 5%;
  background:#192331;
}
}
