/* nav */
#nav_wrap{
    position: fixed;
    float: left;
    width: 100%;
    background-color: #0e141c;
    z-index: 7;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #1E2E43;
}

/* 네비게이션 메뉴 영역 */
.nav_list{
    width: 100%;
    overflow: hidden;
}
.nav_list li{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 15px;
}
.nav_list a{
  color:#fff;
  display: block;
}
.nav_list li.active{
    background: linear-gradient(to left, #4C5D71,#1b2f4a 35%);
}
