/*공지사항*/
@media all and (min-width:320px) and (max-width:768px){
.notice_area{

  width:100%;
}
.notice_area .notice_header{
  height:25px;
  padding:5px 0;
  text-align: right;
}
.notice_area .notice_header select{
  width: 90%;
  color: #30afb8;
  border: none;
  border: 1px solid rgba(48,175,184,.3);
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  display: block;
  text-align-last: center;
  background: #070F19 url(../img/arrow_down_sky.png) no-repeat 95% center;
}
.notice_area .notice_header select option{
  color: #30afb8;
}
.notice_area .notice_table_area{
  margin-top:5px;
}
.notice_area .notice_table_area .notice_table{
  width:100%;
  margin-top:20px;
}
.notice_area .notice_table_area .notice_table th{
  font-size:12px;
  height:35px;
  color:rgba(255, 255, 255, 0.5);
  background:#192331;
  font-weight:500;
}
.notice_area .notice_table_area .notice_table td{
  border-bottom:1px solid rgba(255, 255, 255, 0.2);
  height:50px;
}
.notice_area .notice_table_area .notice_table .notice_text{
  font-size:75%;
  text-align:left;
  padding-left:15px;
}
.notice_area .notice_table_area .notice_table .date{
  text-align:center;
  opacity: 0.6;
  font-size:11px;
}
.notice_area .contentBottom{
  margin:20px 0;
  text-align: center;
}
.notice_area .contentBottom .paging img{
  vertical-align: -2px;
}
.notice_area .contentBottom .paging a{
  margin:0 5px;
  color:rgba(255, 255, 255, 0.3);
}
.notice_area .contentBottom .paging .selected{
  font-weight:600;
  color:#30afb8;
}
.none_box{
  height:20px;
}

/*공지사항 상세보기*/
.notice_inner{
  margin:0 auto;
  width:100%;
}
.notice_inner p.notice_title{
  color:#30afb8;
  font-weight:600;
  padding: 10px 15px;
  background:#192331;
  border-bottom:1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
}
.notice_inner .notice_story{
  font-size:12px;
  padding: 10px 15px;
}
.notice_inner .notice_bt_area{
  text-align:center;
}
.notice_inner .notice_bt_area .next_bt{
  background: linear-gradient(to right, #06908c 0%, #0d566c 100%);
  border: none;
  color: #fff;
  padding: 7px 0;
  font-size: 13px;
  width: 30%;
  border-radius: 50px;
  margin:15px 0;
}
.notice_inner .next_story{
  border-top:1px solid rgba(255, 255, 255,0.2);
  border-bottom:1px solid rgba(255, 255, 255,0.2);
  overflow:hidden;
  background:#192331;
  margin-top:10px;
}
.notice_inner .next_story .prev_img, .notice_inner .next_story .next_img{
  background: url(../img/arrow_up_sky.png) no-repeat 90% center;
  background-size: 6px;
  width: 15%;
  color: #30afb8;
  float: left;
}
.notice_inner .next_story .next_img{
  background: url(../img/arrow_down_sky.png) no-repeat 90% 6px;
  background-size: 6px;
}
.notice_inner .next_story li:nth-child(1){
  border-bottom:1px solid rgba(255, 255, 255,0.2);
}
.notice_inner .next_story p{
  font-size:12px;
  margin:10px 15px;
  color:rgba(255, 255, 255,0.6);
}
}
.none_box{
  height:40px;
}
